
{% macro uploadComponent(yourFileUploadId, text, provideType, defaultImagePath, notUploadingUrl,
  your, aboutHowTo, change, askIfUploadShowAddress, uploadShowAddressFieldId) %}
{{ chooseYourFile(yourFileUploadId, provideType, defaultImagePath, notUploadingUrl, your, askIfUploadShowAddress, uploadShowAddressFieldId) }}
{{ iNeedHelpUploading(your) }}
{{ iCantUploadAPhotoOrScan(your, aboutHowTo, change) }}
{% endmacro %}

{% from 'radios/macro.njk' import govukRadios %}

{% macro chooseYourFile(yourFileUploadId, provideType, defaultImagePath, notUploadingUrl, your, askIfUploadShowAddress, uploadShowAddressFieldId='') %}
<fieldset class="file-upload empty">
  <legend class="visually-hidden">Upload a photo or a scan</legend>
  <div class="govuk-form-group">
    <label for="{{yourFileUploadId}}" class="govuk-button">
      <span role="button" aria-controls="filename" tabindex="0">Choose {{your}} file</span>
    </label>
    <input class="file-upload__input" id="{{yourFileUploadId}}" name="{{yourFileUploadId}}" type="file"/>
  </div>
</fieldset>

<fieldset class="file-upload uploaded {% if not data[yourFileUploadId] %} js-hidden {% endif %}">
  <div class="govuk-form-group">
    <!--input type="hidden" name="{{fileId}}" value="phillip"-->
    <h3 class="govuk-heading-s">Your upload</h3>
    <img src="{{defaultImagePath}}">
  </div>
  <div class="govuk-form-group">
    <label for="{{yourFileUploadId}}" class="govuk-body govuk-link fake-link">
      <span role="button" aria-controls="filename" tabindex="0">Choose a different file</span>
    </label>
    <input class="file-upload__input" id="{{yourFileUploadId}}" name="{{yourFileUploadId}}" type="file"/>
  </div>
  {% if (askIfUploadShowAddress==='yes') %}
    {{ govukRadios({
      "idPrefix": "identity-upload-shows-current-address",
      "name": "identity-upload-shows-current-address",
      "fieldset": {
        "legend": {
          "text": 'Does ' + your + ' upload show ' + your + ' current address?',
          "isPageHeading": false,
          "classes": 'govuk-fieldset__legend--m'
        }
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes"
        },
        {
          "value": "no",
          "text": "No"
        }
      ]
    }) }}

  {% endif %}
  <div class="govuk-form-group">
    <input type="hidden" name="{{provideType}}" value="upload">
    <input type="submit" class="govuk-button" value="Continue">
  </div>
</fieldset>
{% set loadingText = "Uploading" %}
{% include "includes/loading.html" %}

{% endmacro %}


{% macro iNeedHelpUploading(your) %}
<details class="govuk-details hidden-mobile file-upload empty {% if data[yourFileUploadId] %} js-hidden {% endif %}">
  <summary class="govuk-details__summary">I need help uploading</summary>
  <div class="govuk-details__text">
    <ol class="govuk-list govuk-list--number">
      <li>Scan {{ your }} photo or take a picture of it with your smart phone or digital camera</li>
      <li>Send the file to your computer if you've taken a picture of it</li>
      <li>Click the 'Choose {{your}} file' button above</li>
      <li>Find the folder where you've saved the file</li>
      <li>Double-click the file to upload it</li>
    </ol>
  </div>
</details>
<details class="govuk-details hidden-tablet file-upload empty {% if data[yourFileUploadId] %} js-hidden {% endif %}">
  <summary class="govuk-details__summary">I need help uploading</summary>
  <div class="govuk-details__text panel panel-border">
    <ol class="govuk-list govuk-list--number">
      <li>Tap the 'Choose {{your}} file' button above</li>
      <li>Follow the instructions on {{ your }} device</li>
    </ol>
  </div>
</details>
{% endmacro %}

{% macro iCantUploadAPhotoOrScan(your, aboutHowTo, change) %}
<details class="govuk-details file-upload empty {% if data[yourFileUploadId] %} js-hidden {% endif %}">
  <summary class="govuk-details__summary">I can't upload a photo or scan</summary>
  <div class="govuk-details__text panel panel-border">
    <p class="govuk-body">If you can't upload a photo or scan Manchester city council will contact you {{ aboutHowTo }}.</p>
    <p class="govuk-body">You can still submit {{ your }} application online but it will take longer to get a decision.</p>
    <p class="govuk-body">
      <a href="{{notUploadingUrl}}" class="govuk-button-secondary">Continue without uploading</a>
    </p>
  </div>
</details>
{% endmacro %}
