<option value="">Select a council</option>
<option value="Barnsley Metropolitan Borough Council">Barnsley Metropolitan Borough Council</option>
<option value="Bath and North East Somerset Council">Bath and North East Somerset Council</option>
<option value="Bedford Borough Council">Bedford Borough Council</option>
<option value="Birmingham City Council">Birmingham City Council</option>
<option value="Blackburn with Darwen Borough Council">Blackburn with Darwen Borough Council</option>
<option value="Blackpool Borough Council">Blackpool Borough Council</option>
<option value="Blaenau Gwent County Borough Council">Blaenau Gwent County Borough Council</option>
<option value="Bolton Metropolitan Borough Council">Bolton Metropolitan Borough Council</option>
<option value="Borough of Poole">Borough of Poole</option>
<option value="Bournemouth Borough Council">Bournemouth Borough Council</option>
<option value="Bracknell Forest Council">Bracknell Forest Council</option>
<option value="Bridgend County Borough Council">Bridgend County Borough Council</option>
<option value="Brighton and Hove City Council">Brighton and Hove City Council</option>
<option value="Bristol City Council">Bristol City Council</option>
<option value="Buckinghamshire County Council">Buckinghamshire County Council</option>
<option value="Bury Metropolitan Borough Council">Bury Metropolitan Borough Council</option>
<option value="Caerphilly County Borough Council">Caerphilly County Borough Council</option>
<option value="Calderdale Metropolitan Borough Council">Calderdale Metropolitan Borough Council</option>
<option value="Cambridgeshire County Council">Cambridgeshire County Council</option>
<option value="Carmarthenshire County Council">Carmarthenshire County Council</option>
<option value="Central Bedfordshire Council">Central Bedfordshire Council</option>
<option value="Ceredigion County Council">Ceredigion County Council</option>
<option value="Cheshire East Council">Cheshire East Council</option>
<option value="Cheshire West and Chester Council">Cheshire West and Chester Council</option>
<option value="City and County of Swansea Council">City and County of Swansea Council</option>
<option value="City of Bradford Metropolitan District Council">City of Bradford Metropolitan District Council</option>
<option value="City of Cardiff Council">City of Cardiff Council</option>
<option value="City of London Corporation">City of London Corporation</option>
<option value="City of Westminster">City of Westminster</option>
<option value="City of Wolverhampton Council">City of Wolverhampton Council</option>
<option value="City of York Council">City of York Council</option>
<option value="Comhairle nan Eilean Siar">Comhairle nan Eilean Siar</option>
<option value="Conwy County Borough Council">Conwy County Borough Council</option>
<option value="Cornwall Council">Cornwall Council</option>
<option value="Council of the Isles of Scilly">Council of the Isles of Scilly</option>
<option value="Coventry City Council">Coventry City Council</option>
<option value="Cumbria County Council">Cumbria County Council</option>
<option value="Darlington Borough Council">Darlington Borough Council</option>
<option value="Denbighshire County Council">Denbighshire County Council</option>
<option value="Derby City Council">Derby City Council</option>
<option value="Derbyshire County Council">Derbyshire County Council</option>
<option value="Devon County Council">Devon County Council</option>
<option value="Doncaster Metropolitan Borough Council">Doncaster Metropolitan Borough Council</option>
<option value="Dorset County Council">Dorset County Council</option>
<option value="Dudley Metropolitan Borough Council">Dudley Metropolitan Borough Council</option>
<option value="Durham County Council">Durham County Council</option>
<option value="East Riding of Yorkshire Council">East Riding of Yorkshire Council</option>
<option value="East Sussex County Council">East Sussex County Council</option>
<option value="Essex County Council">Essex County Council</option>
<option value="Flintshire County Council">Flintshire County Council</option>
<option value="Gateshead Metropolitan Borough Council">Gateshead Metropolitan Borough Council</option>
<option value="Gloucestershire County Council">Gloucestershire County Council</option>
<option value="Gwynedd Council">Gwynedd Council</option>
<option value="Halton Borough Council">Halton Borough Council</option>
<option value="Hampshire County Council">Hampshire County Council</option>
<option value="Hartlepool Borough Council">Hartlepool Borough Council</option>
<option value="Herefordshire Council">Herefordshire Council</option>
<option value="Hertfordshire County Council">Hertfordshire County Council</option>
<option value="Hull City Council">Hull City Council</option>
<option value="Isle of Anglesey County Council">Isle of Anglesey County Council</option>
<option value="Isle of Wight Council">Isle of Wight Council</option>
<option value="Kent County Council">Kent County Council</option>
<option value="Kirklees Council">Kirklees Council</option>
<option value="Knowsley Metropolitan Borough Council">Knowsley Metropolitan Borough Council</option>
<option value="Lancashire County Council">Lancashire County Council</option>
<option value="Leeds City Council">Leeds City Council</option>
<option value="Leicester City Council">Leicester City Council</option>
<option value="Leicestershire County Council">Leicestershire County Council</option>
<option value="Lincolnshire County Council">Lincolnshire County Council</option>
<option value="Liverpool City Council">Liverpool City Council</option>
<option value="London Borough of Barking and Dagenham">London Borough of Barking and Dagenham</option>
<option value="London Borough of Barnet">London Borough of Barnet</option>
<option value="London Borough of Bexley">London Borough of Bexley</option>
<option value="London Borough of Brent">London Borough of Brent</option>
<option value="London Borough of Bromley">London Borough of Bromley</option>
<option value="London Borough of Camden">London Borough of Camden</option>
<option value="London Borough of Croydon">London Borough of Croydon</option>
<option value="London Borough of Ealing">London Borough of Ealing</option>
<option value="London Borough of Enfield">London Borough of Enfield</option>
<option value="London Borough of Hackney">London Borough of Hackney</option>
<option value="London Borough of Hammersmith & Fulham">London Borough of Hammersmith & Fulham</option>
<option value="London Borough of Haringey">London Borough of Haringey</option>
<option value="London Borough of Harrow">London Borough of Harrow</option>
<option value="London Borough of Havering">London Borough of Havering</option>
<option value="London Borough of Hillingdon">London Borough of Hillingdon</option>
<option value="London Borough of Hounslow">London Borough of Hounslow</option>
<option value="London Borough of Islington">London Borough of Islington</option>
<option value="London Borough of Lambeth">London Borough of Lambeth</option>
<option value="London Borough of Lewisham">London Borough of Lewisham</option>
<option value="London Borough of Merton">London Borough of Merton</option>
<option value="London Borough of Newham">London Borough of Newham</option>
<option value="London Borough of Redbridge">London Borough of Redbridge</option>
<option value="London Borough of Richmond upon Thames">London Borough of Richmond upon Thames</option>
<option value="London Borough of Southwark">London Borough of Southwark</option>
<option value="London Borough of Sutton">London Borough of Sutton</option>
<option value="London Borough of Tower Hamlets">London Borough of Tower Hamlets</option>
<option value="London Borough of Waltham Forest">London Borough of Waltham Forest</option>
<option value="London Borough of Wandsworth">London Borough of Wandsworth</option>
<option value="Luton Borough Council">Luton Borough Council</option>
<option value="Manchester City Council">Manchester City Council</option>
<option value="Medway Council">Medway Council</option>
<option value="Merthyr Tydfil County Borough Council">Merthyr Tydfil County Borough Council</option>
<option value="Middlesbrough Borough Council">Middlesbrough Borough Council</option>
<option value="Milton Keynes Council">Milton Keynes Council</option>
<option value="Monmouthshire County Council">Monmouthshire County Council</option>
<option value="Neath Port Talbot County Borough Council">Neath Port Talbot County Borough Council</option>
<option value="Newcastle City Council">Newcastle City Council</option>
<option value="Newport City Council">Newport City Council</option>
<option value="Norfolk County Council">Norfolk County Council</option>
<option value="North East Lincolnshire Council">North East Lincolnshire Council</option>
<option value="North Lincolnshire Council">North Lincolnshire Council</option>
<option value="North Somerset  Council">North Somerset  Council</option>
<option value="North Tyneside Council">North Tyneside Council</option>
<option value="North Yorkshire County Council">North Yorkshire County Council</option>
<option value="Northamptonshire County Council">Northamptonshire County Council</option>
<option value="Northern Ireland">Northern Ireland</option>
<option value="Northumberland County Council">Northumberland County Council</option>
<option value="Nottingham City Council">Nottingham City Council</option>
<option value="Nottinghamshire County Council">Nottinghamshire County Council</option>
<option value="Oldham Metropolitan Borough Council">Oldham Metropolitan Borough Council</option>
<option value="Orkney Islands Council">Orkney Islands Council</option>
<option value="Oxfordshire County Council">Oxfordshire County Council</option>
<option value="Pembrokeshire County Council">Pembrokeshire County Council</option>
<option value="Peterborough City Council">Peterborough City Council</option>
<option value="Plymouth City Council">Plymouth City Council</option>
<option value="Portsmouth City Council">Portsmouth City Council</option>
<option value="Powys County Council">Powys County Council</option>
<option value="Reading Borough Council">Reading Borough Council</option>
<option value="Redcar and Cleveland Borough Council">Redcar and Cleveland Borough Council</option>
<option value="Rhondda Cynon Taf County Borough Council">Rhondda Cynon Taf County Borough Council</option>
<option value="Rochdale Metropolitan Borough Council">Rochdale Metropolitan Borough Council</option>
<option value="Rotherham Metropolitan Borough Council">Rotherham Metropolitan Borough Council</option>
<option value="Royal Borough of Greenwich">Royal Borough of Greenwich</option>
<option value="Royal Borough of Kensington and Chelsea">Royal Borough of Kensington and Chelsea</option>
<option value="Royal Borough of Kingston upon Thames">Royal Borough of Kingston upon Thames</option>
<option value="Royal Borough of Windsor and Maidenhead" data-abbreviations="RBWM">Royal Borough of Windsor and Maidenhead</option>
<option value="Rutland County Council">Rutland County Council</option>
<option value="Salford City Council">Salford City Council</option>
<option value="Sandwell Metropolitan Borough Council">Sandwell Metropolitan Borough Council</option>
<option value="Sefton Metropolitan Borough Council">Sefton Metropolitan Borough Council</option>
<option value="Sheffield City Council">Sheffield City Council</option>
<option value="Shetland Islands Council">Shetland Islands Council</option>
<option value="Shropshire Council">Shropshire Council</option>
<option value="Slough Borough Council">Slough Borough Council</option>
<option value="Solihull Metropolitan Borough Council">Solihull Metropolitan Borough Council</option>
<option value="Somerset County Council">Somerset County Council</option>
<option value="South Gloucestershire Council">South Gloucestershire Council</option>
<option value="South Tyneside Council">South Tyneside Council</option>
<option value="Southampton City Council">Southampton City Council</option>
<option value="Southend-on-Sea Borough Council">Southend-on-Sea Borough Council</option>
<option value="St Helens Council">St Helens Council</option>
<option value="Staffordshire County Council">Staffordshire County Council</option>
<option value="Stockport Metropolitan Borough Council">Stockport Metropolitan Borough Council</option>
<option value="Stockton-on-Tees Borough Council">Stockton-on-Tees Borough Council</option>
<option value="Stoke-on-Trent City Council">Stoke-on-Trent City Council</option>
<option value="Suffolk County Council">Suffolk County Council</option>
<option value="Sunderland City Council">Sunderland City Council</option>
<option value="Surrey County Council">Surrey County Council</option>
<option value="Swindon Borough Council">Swindon Borough Council</option>
<option value="Tameside Metropolitan Borough Council">Tameside Metropolitan Borough Council</option>
<option value="Telford & Wrekin Council">Telford & Wrekin Council</option>
<option value="The Aberdeen City Council">The Aberdeen City Council</option>
<option value="The Aberdeenshire Council">The Aberdeenshire Council</option>
<option value="The Angus Council">The Angus Council</option>
<option value="The Argyll and Bute Council">The Argyll and Bute Council</option>
<option value="The City of Edinburgh Council">The City of Edinburgh Council</option>
<option value="The Clackmannanshire Council">The Clackmannanshire Council</option>
<option value="The Dumfries and Galloway Council">The Dumfries and Galloway Council</option>
<option value="The Dundee City Council">The Dundee City Council</option>
<option value="The East Ayrshire Council">The East Ayrshire Council</option>
<option value="The East Dunbartonshire Council">The East Dunbartonshire Council</option>
<option value="The East Lothian Council">The East Lothian Council</option>
<option value="The East Renfrewshire Council">The East Renfrewshire Council</option>
<option value="The Falkirk Council">The Falkirk Council</option>
<option value="The Fife Council">The Fife Council</option>
<option value="The Glasgow City Council">The Glasgow City Council</option>
<option value="The Highland Council">The Highland Council</option>
<option value="The Inverclyde Council">The Inverclyde Council</option>
<option value="The Midlothian Council">The Midlothian Council</option>
<option value="The Moray Council">The Moray Council</option>
<option value="The North Ayrshire Council">The North Ayrshire Council</option>
<option value="The North Lanarkshire Council">The North Lanarkshire Council</option>
<option value="The Perth and Kinross Council">The Perth and Kinross Council</option>
<option value="The Renfrewshire Council">The Renfrewshire Council</option>
<option value="The Scottish Borders Council">The Scottish Borders Council</option>
<option value="The South Ayrshire Council">The South Ayrshire Council</option>
<option value="The South Lanarkshire Council">The South Lanarkshire Council</option>
<option value="The Stirling Council">The Stirling Council</option>
<option value="The West Dunbartonshire Council">The West Dunbartonshire Council</option>
<option value="The West Lothian Council">The West Lothian Council</option>
<option value="Thurrock Council">Thurrock Council</option>
<option value="Torbay Council">Torbay Council</option>
<option value="Torfaen County Borough Council">Torfaen County Borough Council</option>
<option value="Trafford Metropolitan Borough Council">Trafford Metropolitan Borough Council</option>
<option value="Vale of Glamorgan Council">Vale of Glamorgan Council</option>
<option value="Wakefield Metropolitan District Council">Wakefield Metropolitan District Council</option>
<option value="Walsall Metropolitan Borough Council">Walsall Metropolitan Borough Council</option>
<option value="Warrington Borough Council">Warrington Borough Council</option>
<option value="Warwickshire County Council">Warwickshire County Council</option>
<option value="West Berkshire Council">West Berkshire Council</option>
<option value="West Sussex County Council">West Sussex County Council</option>
<option value="Wigan Metropolitan Borough Council">Wigan Metropolitan Borough Council</option>
<option value="Wiltshire Council">Wiltshire Council</option>
<option value="Wirral Borough Council">Wirral Borough Council</option>
<option value="Wokingham Borough Council">Wokingham Borough Council</option>
<option value="Worcestershire County Council">Worcestershire County Council</option>
<option value="Wrexham County Borough Council">Wrexham County Borough Council</option>