<option value="">Select a council</option>
<option data-micro-council="Aberdeen City Council" value="Aberdeen City Council">Aberdeen City Council</option>
<option data-micro-council="Aberdeenshire Council" value="Aberdeenshire Council">Aberdeenshire Council</option>
<option data-micro-council="Adur District Council" value="West Sussex County Council">Adur District Council</option>
<option data-micro-council="Allerdale Borough Council" value="Cumbria County Council">Allerdale Borough Council</option>
<option data-micro-council="Amber Valley Borough Council" value="Derbyshire County Council">Amber Valley Borough Council</option>
<option data-micro-council="Angus Council" value="Angus Council">Angus Council</option>
<option data-micro-council="Antrim & Newtownabbey Borough Council" value="Northern Ireland">Antrim &amp; Newtownabbey Borough Council</option>
<option data-micro-council="Ards and North Down Borough Council" value="Northern Ireland">Ards and North Down Borough Council</option>
<option data-micro-council="Argyll and Bute Council" value="Argyll and Bute Council">Argyll and Bute Council</option>
<option data-micro-council="Armagh City, Banbridge and Craigavon Borough Council" value="Northern Ireland">Armagh City, Banbridge and Craigavon Borough Council</option>
<option data-micro-council="Arun District Council" value="West Sussex County Council">Arun District Council</option>
<option data-micro-council="Ashfield District Council" value="Nottinghamshire County Council">Ashfield District Council</option>
<option data-micro-council="Ashford Borough Council" value="Kent County Council">Ashford Borough Council</option>
<option data-micro-council="Aylesbury Vale District Council" value="Buckinghamshire County Council">Aylesbury Vale District Council</option>
<option data-micro-council="Babergh District Council" value="Suffolk County Council">Babergh District Council</option>
<option data-micro-council="Barnsley Metropolitan Borough Council" value="Barnsley Metropolitan Borough Council">Barnsley Metropolitan Borough Council</option>
<option data-micro-council="Barrow-in-Furness Borough Council" value="Cumbria County Council">Barrow-in-Furness Borough Council</option>
<option data-micro-council="Basildon Borough Council" value="Essex County Council">Basildon Borough Council</option>
<option data-micro-council="Basingstoke and Deane Borough Council" value="Hampshire County Council">Basingstoke and Deane Borough Council</option>
<option data-micro-council="Bassetlaw District Council" value="Nottinghamshire County Council">Bassetlaw District Council</option>
<option data-micro-council="Bath and North East Somerset Council" value="Bath and North East Somerset Council">Bath and North East Somerset Council</option>
<option data-micro-council="Bedford Borough Council" value="Bedford Borough Council">Bedford Borough Council</option>
<option data-micro-council="Belfast City Council" value="Northern Ireland">Belfast City Council</option>
<option data-micro-council="Birmingham City Council" value="Birmingham City Council">Birmingham City Council</option>
<option data-micro-council="Blaby District Council" value="Leicestershire County Council">Blaby District Council</option>
<option data-micro-council="Blackburn with Darwen Borough Council" value="Blackburn with Darwen Borough Council">Blackburn with Darwen Borough Council</option>
<option data-micro-council="Blackpool Borough Council" value="Blackpool Borough Council">Blackpool Borough Council</option>
<option data-micro-council="Blaenau Gwent County Borough Council" value="Blaenau Gwent County Borough Council">Blaenau Gwent County Borough Council</option>
<option data-micro-council="Bolsover District Council" value="Derbyshire County Council">Bolsover District Council</option>
<option data-micro-council="Bolton Metropolitan Borough Council" value="Bolton Metropolitan Borough Council">Bolton Metropolitan Borough Council</option>
<option data-micro-council="Borough Council of King's Lynn and West Norfolk" value="Norfolk County Council">Borough Council of King's Lynn and West Norfolk</option>
<option data-micro-council="Borough of Poole" value="Borough of Poole">Borough of Poole</option>
<option data-micro-council="Boston Borough Council" value="Lincolnshire County Council">Boston Borough Council</option>
<option data-micro-council="Bournemouth Borough Council" value="Bournemouth Borough Council">Bournemouth Borough Council</option>
<option data-micro-council="Bracknell Forest Council" value="Bracknell Forest Council">Bracknell Forest Council</option>
<option data-micro-council="Braintree District Council" value="Essex County Council">Braintree District Council</option>
<option data-micro-council="Breckland District Council" value="Norfolk County Council">Breckland District Council</option>
<option data-micro-council="Brentwood Borough Council" value="Essex County Council">Brentwood Borough Council</option>
<option data-micro-council="Bridgend County Borough Council" value="Bridgend County Borough Council">Bridgend County Borough Council</option>
<option data-micro-council="Brighton and Hove City Council" value="Brighton and Hove City Council">Brighton and Hove City Council</option>
<option data-micro-council="Bristol City Council" value="Bristol City Council">Bristol City Council</option>
<option data-micro-council="Broadland District Council" value="Norfolk County Council">Broadland District Council</option>
<option data-micro-council="Bromsgrove District Council" value="Worcestershire County Council">Bromsgrove District Council</option>
<option data-micro-council="Broxbourne Borough Council" value="Hertfordshire County Council">Broxbourne Borough Council</option>
<option data-micro-council="Broxtowe Borough Council" value="Nottinghamshire County Council">Broxtowe Borough Council</option>
<option data-micro-council="Buckinghamshire County Council" value="Buckinghamshire County Council">Buckinghamshire County Council</option>
<option data-micro-council="Burnley Borough Council" value="Lancashire County Council">Burnley Borough Council</option>
<option data-micro-council="Bury Metropolitan Borough Council" value="Bury Metropolitan Borough Council">Bury Metropolitan Borough Council</option>
<option data-micro-council="Caerphilly County Borough Council" value="Caerphilly County Borough Council">Caerphilly County Borough Council</option>
<option data-micro-council="Calderdale Metropolitan Borough Council" value="Calderdale Metropolitan Borough Council">Calderdale Metropolitan Borough Council</option>
<option data-micro-council="Cambridge City Council" value="Cambridgeshire County Council">Cambridge City Council</option>
<option data-micro-council="Cambridgeshire County Council" value="Cambridgeshire County Council">Cambridgeshire County Council</option>
<option data-micro-council="Cannock Chase District Council" value="Staffordshire County Council">Cannock Chase District Council</option>
<option data-micro-council="Canterbury City Council" value="Kent County Council">Canterbury City Council</option>
<option data-micro-council="Carlisle City Council" value="Cumbria County Council">Carlisle City Council</option>
<option data-micro-council="Carmarthenshire County Council" value="Carmarthenshire County Council">Carmarthenshire County Council</option>
<option data-micro-council="Castle Point Borough Council" value="Essex County Council">Castle Point Borough Council</option>
<option data-micro-council="Causeway Coast and Glens Borough Council" value="Northern Ireland">Causeway Coast and Glens Borough Council</option>
<option data-micro-council="Central Bedfordshire Council" value="Central Bedfordshire Council">Central Bedfordshire Council</option>
<option data-micro-council="Ceredigion County Council" value="Ceredigion County Council">Ceredigion County Council</option>
<option data-micro-council="Charnwood Borough Council" value="Leicestershire County Council">Charnwood Borough Council</option>
<option data-micro-council="Chelmsford City Council" value="Essex County Council">Chelmsford City Council</option>
<option data-micro-council="Cheltenham Borough Council" value="Gloucestershire County Council">Cheltenham Borough Council</option>
<option data-micro-council="Cherwell District Council" value="Oxfordshire County Council">Cherwell District Council</option>
<option data-micro-council="Cheshire East Council" value="Cheshire East Council">Cheshire East Council</option>
<option data-micro-council="Cheshire West and Chester Council" value="Cheshire West and Chester Council">Cheshire West and Chester Council</option>
<option data-micro-council="Chesterfield Borough Council" value="Derbyshire County Council">Chesterfield Borough Council</option>
<option data-micro-council="Chichester District Council" value="West Sussex County Council">Chichester District Council</option>
<option data-micro-council="Chiltern District Council" value="Buckinghamshire County Council">Chiltern District Council</option>
<option data-micro-council="Chorley Borough Council" value="Lancashire County Council">Chorley Borough Council</option>
<option data-micro-council="Christchurch Borough Council" value="Dorset County Council">Christchurch Borough Council</option>
<option data-micro-council="City and County of Swansea Council" value="City and County of Swansea Council">City and County of Swansea Council</option>
<option data-micro-council="City of Bradford Metropolitan District Council" value="City of Bradford Metropolitan District Council">City of Bradford Metropolitan District Council</option>
<option data-micro-council="City of Cardiff Council" value="City of Cardiff Council">City of Cardiff Council</option>
<option data-micro-council="City of Edinburgh Council" value="City of Edinburgh Council">City of Edinburgh Council</option>
<option data-micro-council="City of Lincoln Council" value="Lincolnshire County Council">City of Lincoln Council</option>
<option data-micro-council="City of London Corporation" value="City of London Corporation">City of London Corporation</option>
<option data-micro-council="City of Westminster" value="City of Westminster">City of Westminster</option>
<option data-micro-council="City of Wolverhampton Council" value="City of Wolverhampton Council">City of Wolverhampton Council</option>
<option data-micro-council="City of York Council" value="City of York Council">City of York Council</option>
<option data-micro-council="Clackmannanshire Council" value="Clackmannanshire Council">Clackmannanshire Council</option>
<option data-micro-council="Colchester Borough Council" value="Essex County Council">Colchester Borough Council</option>
<option data-micro-council="Comhairle nan Eilean Siar" value="Comhairle nan Eilean Siar">Comhairle nan Eilean Siar</option>
<option data-micro-council="Conwy County Borough Council" value="Conwy County Borough Council">Conwy County Borough Council</option>
<option data-micro-council="Copeland Borough Council" value="Cumbria County Council">Copeland Borough Council</option>
<option data-micro-council="Corby Borough Council" value="Northamptonshire County Council">Corby Borough Council</option>
<option data-micro-council="Cornwall Council" value="Cornwall Council">Cornwall Council</option>
<option data-micro-council="Cotswold District Council" value="Gloucestershire County Council">Cotswold District Council</option>
<option data-micro-council="Council of the Isles of Scilly" value="Council of the Isles of Scilly">Council of the Isles of Scilly</option>
<option data-micro-council="Coventry City Council" value="Coventry City Council">Coventry City Council</option>
<option data-micro-council="Craven District Council" value="North Yorkshire County Council">Craven District Council</option>
<option data-micro-council="Crawley Borough Council" value="West Sussex County Council">Crawley Borough Council</option>
<option data-micro-council="Cumbria County Council" value="Cumbria County Council">Cumbria County Council</option>
<option data-micro-council="Dacorum Borough Council" value="Hertfordshire County Council">Dacorum Borough Council</option>
<option data-micro-council="Darlington Borough Council" value="Darlington Borough Council">Darlington Borough Council</option>
<option data-micro-council="Dartford Borough Council" value="Kent County Council">Dartford Borough Council</option>
<option data-micro-council="Daventry District Council" value="Northamptonshire County Council">Daventry District Council</option>
<option data-micro-council="Denbighshire County Council" value="Denbighshire County Council">Denbighshire County Council</option>
<option data-micro-council="Derby City Council" value="Derby City Council">Derby City Council</option>
<option data-micro-council="Derbyshire County Council" value="Derbyshire County Council">Derbyshire County Council</option>
<option data-micro-council="Derbyshire Dales District Council" value="Derbyshire County Council">Derbyshire Dales District Council</option>
<option data-micro-council="Derry City and Strabane District Council" value="Northern Ireland">Derry City and Strabane District Council</option>
<option data-micro-council="Devon County Council" value="Devon County Council">Devon County Council</option>
<option data-micro-council="Doncaster Metropolitan Borough Council" value="Doncaster Metropolitan Borough Council">Doncaster Metropolitan Borough Council</option>
<option data-micro-council="Dorset County Council" value="Dorset County Council">Dorset County Council</option>
<option data-micro-council="Dover District Council" value="Kent County Council">Dover District Council</option>
<option data-micro-council="Dudley Metropolitan Borough Council" value="Dudley Metropolitan Borough Council">Dudley Metropolitan Borough Council</option>
<option data-micro-council="Dumfries and Galloway Council" value="Dumfries and Galloway Council">Dumfries and Galloway Council</option>
<option data-micro-council="Dundee City Council" value="Dundee City Council">Dundee City Council</option>
<option data-micro-council="Durham County Council" value="Durham County Council">Durham County Council</option>
<option data-micro-council="East Ayrshire Council" value="East Ayrshire Council">East Ayrshire Council</option>
<option data-micro-council="East Cambridgeshire District Council" value="Cambridgeshire County Council">East Cambridgeshire District Council</option>
<option data-micro-council="East Devon District Council" value="Devon County Council">East Devon District Council</option>
<option data-micro-council="East Dorset District Council" value="Dorset County Council">East Dorset District Council</option>
<option data-micro-council="East Dunbartonshire Council" value="East Dunbartonshire Council">East Dunbartonshire Council</option>
<option data-micro-council="East Hampshire District Council" value="Hampshire County Council">East Hampshire District Council</option>
<option data-micro-council="East Hertfordshire District Council" value="Hertfordshire County Council">East Hertfordshire District Council</option>
<option data-micro-council="East Lindsey District Council" value="Lincolnshire County Council">East Lindsey District Council</option>
<option data-micro-council="East Lothian Council" value="East Lothian Council">East Lothian Council</option>
<option data-micro-council="East Northamptonshire Council" value="Northamptonshire County Council">East Northamptonshire Council</option>
<option data-micro-council="East Renfrewshire Council" value="East Renfrewshire Council">East Renfrewshire Council</option>
<option data-micro-council="East Riding of Yorkshire Council" value="East Riding of Yorkshire Council">East Riding of Yorkshire Council</option>
<option data-micro-council="East Staffordshire Borough Council" value="Staffordshire County Council">East Staffordshire Borough Council</option>
<option data-micro-council="East Sussex County Council" value="East Sussex County Council">East Sussex County Council</option>
<option data-micro-council="Eastbourne Borough Council" value="East Sussex County Council">Eastbourne Borough Council</option>
<option data-micro-council="Eastleigh Borough Council" value="Hampshire County Council">Eastleigh Borough Council</option>
<option data-micro-council="Eden District Council" value="Cumbria County Council">Eden District Council</option>
<option data-micro-council="Elmbridge Borough Council" value="Surrey County Council">Elmbridge Borough Council</option>
<option data-micro-council="Epping Forest District Council" value="Essex County Council">Epping Forest District Council</option>
<option data-micro-council="Epsom and Ewell Borough Council" value="Surrey County Council">Epsom and Ewell Borough Council</option>
<option data-micro-council="Erewash Borough Council" value="Derbyshire County Council">Erewash Borough Council</option>
<option data-micro-council="Essex County Council" value="Essex County Council">Essex County Council</option>
<option data-micro-council="Exeter City Council" value="Devon County Council">Exeter City Council</option>
<option data-micro-council="Falkirk Council" value="Falkirk Council">Falkirk Council</option>
<option data-micro-council="Fareham Borough Council" value="Hampshire County Council">Fareham Borough Council</option>
<option data-micro-council="Fenland District Council" value="Cambridgeshire County Council">Fenland District Council</option>
<option data-micro-council="Fermanagh and Omagh District Council" value="Northern Ireland">Fermanagh and Omagh District Council</option>
<option data-micro-council="Fife Council" value="Fife Council">Fife Council</option>
<option data-micro-council="Flintshire County Council" value="Flintshire County Council">Flintshire County Council</option>
<option data-micro-council="Folkestone and Hythe Council" value="Kent County Council">Folkestone and Hythe Council</option>
<option data-micro-council="Forest Heath District Council" value="Suffolk County Council">Forest Heath District Council</option>
<option data-micro-council="Forest of Dean District Council" value="Gloucestershire County Council">Forest of Dean District Council</option>
<option data-micro-council="Fylde Borough Council" value="Lancashire County Council">Fylde Borough Council</option>
<option data-micro-council="Gateshead Metropolitan Borough Council" value="Gateshead Metropolitan Borough Council">Gateshead Metropolitan Borough Council</option>
<option data-micro-council="Gedling Borough Council" value="Nottinghamshire County Council">Gedling Borough Council</option>
<option data-micro-council="Glasgow City Council" value="Glasgow City Council">Glasgow City Council</option>
<option data-micro-council="Gloucester City Council" value="Gloucestershire County Council">Gloucester City Council</option>
<option data-micro-council="Gloucestershire County Council" value="Gloucestershire County Council">Gloucestershire County Council</option>
<option data-micro-council="Gosport Borough Council" value="Hampshire County Council">Gosport Borough Council</option>
<option data-micro-council="Gravesham Borough Council" value="Kent County Council">Gravesham Borough Council</option>
<option data-micro-council="Great Yarmouth Borough Council" value="Norfolk County Council">Great Yarmouth Borough Council</option>
<option data-micro-council="Guildford Borough Council" value="Surrey County Council">Guildford Borough Council</option>
<option data-micro-council="Gwynedd Council" value="Gwynedd Council">Gwynedd Council</option>
<option data-micro-council="Halton Borough Council" value="Halton Borough Council">Halton Borough Council</option>
<option data-micro-council="Hambleton District Council" value="North Yorkshire County Council">Hambleton District Council</option>
<option data-micro-council="Hampshire County Council" value="Hampshire County Council">Hampshire County Council</option>
<option data-micro-council="Harborough District Council" value="Leicestershire County Council">Harborough District Council</option>
<option data-micro-council="Harlow District Council" value="Essex County Council">Harlow District Council</option>
<option data-micro-council="Harrogate Borough Council" value="North Yorkshire County Council">Harrogate Borough Council</option>
<option data-micro-council="Hart District Council" value="Hampshire County Council">Hart District Council</option>
<option data-micro-council="Hartlepool Borough Council" value="Hartlepool Borough Council">Hartlepool Borough Council</option>
<option data-micro-council="Hastings Borough Council" value="East Sussex County Council">Hastings Borough Council</option>
<option data-micro-council="Havant Borough Council" value="Hampshire County Council">Havant Borough Council</option>
<option data-micro-council="Herefordshire Council" value="Herefordshire Council">Herefordshire Council</option>
<option data-micro-council="Hertfordshire County Council" value="Hertfordshire County Council">Hertfordshire County Council</option>
<option data-micro-council="Hertsmere Borough Council" value="Hertfordshire County Council">Hertsmere Borough Council</option>
<option data-micro-council="High Peak Borough Council" value="Derbyshire County Council">High Peak Borough Council</option>
<option data-micro-council="Highland Council" value="Highland Council">Highland Council</option>
<option data-micro-council="Hinckley and Bosworth Borough Council" value="Leicestershire County Council">Hinckley and Bosworth Borough Council</option>
<option data-micro-council="Horsham District Council" value="West Sussex County Council">Horsham District Council</option>
<option data-micro-council="Hull City Council" value="Hull City Council">Hull City Council</option>
<option data-micro-council="Huntingdonshire District Council" value="Cambridgeshire County Council">Huntingdonshire District Council</option>
<option data-micro-council="Hyndburn Borough Council" value="Lancashire County Council">Hyndburn Borough Council</option>
<option data-micro-council="Inverclyde Council" value="Inverclyde Council">Inverclyde Council</option>
<option data-micro-council="Ipswich Borough Council" value="Suffolk County Council">Ipswich Borough Council</option>
<option data-micro-council="Isle of Anglesey County Council" value="Isle of Anglesey County Council">Isle of Anglesey County Council</option>
<option data-micro-council="Isle of Wight Council" value="Isle of Wight Council">Isle of Wight Council</option>
<option data-micro-council="Kent County Council" value="Kent County Council">Kent County Council</option>
<option data-micro-council="Kettering Borough Council" value="Northamptonshire County Council">Kettering Borough Council</option>
<option data-micro-council="Kirklees Council" value="Kirklees Council">Kirklees Council</option>
<option data-micro-council="Knowsley Metropolitan Borough Council" value="Knowsley Metropolitan Borough Council">Knowsley Metropolitan Borough Council</option>
<option data-micro-council="Lancashire County Council" value="Lancashire County Council">Lancashire County Council</option>
<option data-micro-council="Lancaster City Council" value="Lancashire County Council">Lancaster City Council</option>
<option data-micro-council="Leeds City Council" value="Leeds City Council">Leeds City Council</option>
<option data-micro-council="Leicester City Council" value="Leicester City Council">Leicester City Council</option>
<option data-micro-council="Leicestershire County Council" value="Leicestershire County Council">Leicestershire County Council</option>
<option data-micro-council="Lewes District Council" value="East Sussex County Council">Lewes District Council</option>
<option data-micro-council="Lichfield District Council" value="Staffordshire County Council">Lichfield District Council</option>
<option data-micro-council="Lincolnshire County Council" value="Lincolnshire County Council">Lincolnshire County Council</option>
<option data-micro-council="Lisburn & Castlereagh City Council" value="Northern Ireland">Lisburn &amp; Castlereagh City Council</option>
<option data-micro-council="Liverpool City Council" value="Liverpool City Council">Liverpool City Council</option>
<option data-micro-council="London Borough of Barking and Dagenham" value="London Borough of Barking and Dagenham">London Borough of Barking and Dagenham</option>
<option data-micro-council="London Borough of Barnet" value="London Borough of Barnet">London Borough of Barnet</option>
<option data-micro-council="London Borough of Bexley" value="London Borough of Bexley">London Borough of Bexley</option>
<option data-micro-council="London Borough of Brent" value="London Borough of Brent">London Borough of Brent</option>
<option data-micro-council="London Borough of Bromley" value="London Borough of Bromley">London Borough of Bromley</option>
<option data-micro-council="London Borough of Camden" value="London Borough of Camden">London Borough of Camden</option>
<option data-micro-council="London Borough of Croydon" value="London Borough of Croydon">London Borough of Croydon</option>
<option data-micro-council="London Borough of Ealing" value="London Borough of Ealing">London Borough of Ealing</option>
<option data-micro-council="London Borough of Enfield" value="London Borough of Enfield">London Borough of Enfield</option>
<option data-micro-council="London Borough of Hackney" value="London Borough of Hackney">London Borough of Hackney</option>
<option data-micro-council="London Borough of Hammersmith & Fulham" value="London Borough of Hammersmith & Fulham">London Borough of Hammersmith &amp; Fulham</option>
<option data-micro-council="London Borough of Haringey" value="London Borough of Haringey">London Borough of Haringey</option>
<option data-micro-council="London Borough of Harrow" value="London Borough of Harrow">London Borough of Harrow</option>
<option data-micro-council="London Borough of Havering" value="London Borough of Havering">London Borough of Havering</option>
<option data-micro-council="London Borough of Hillingdon" value="London Borough of Hillingdon">London Borough of Hillingdon</option>
<option data-micro-council="London Borough of Hounslow" value="London Borough of Hounslow">London Borough of Hounslow</option>
<option data-micro-council="London Borough of Islington" value="London Borough of Islington">London Borough of Islington</option>
<option data-micro-council="London Borough of Lambeth" value="London Borough of Lambeth">London Borough of Lambeth</option>
<option data-micro-council="London Borough of Lewisham" value="London Borough of Lewisham">London Borough of Lewisham</option>
<option data-micro-council="London Borough of Merton" value="London Borough of Merton">London Borough of Merton</option>
<option data-micro-council="London Borough of Newham" value="London Borough of Newham">London Borough of Newham</option>
<option data-micro-council="London Borough of Redbridge" value="London Borough of Redbridge">London Borough of Redbridge</option>
<option data-micro-council="London Borough of Richmond upon Thames" value="London Borough of Richmond upon Thames">London Borough of Richmond upon Thames</option>
<option data-micro-council="London Borough of Southwark" value="London Borough of Southwark">London Borough of Southwark</option>
<option data-micro-council="London Borough of Sutton" value="London Borough of Sutton">London Borough of Sutton</option>
<option data-micro-council="London Borough of Tower Hamlets" value="London Borough of Tower Hamlets">London Borough of Tower Hamlets</option>
<option data-micro-council="London Borough of Waltham Forest" value="London Borough of Waltham Forest">London Borough of Waltham Forest</option>
<option data-micro-council="London Borough of Wandsworth" value="London Borough of Wandsworth">London Borough of Wandsworth</option>
<option data-micro-council="Luton Borough Council" value="Luton Borough Council">Luton Borough Council</option>
<option data-micro-council="Maidstone Borough Council" value="Kent County Council">Maidstone Borough Council</option>
<option data-micro-council="Maldon District Council" value="Essex County Council">Maldon District Council</option>
<option data-micro-council="Malvern Hills District Council" value="Worcestershire County Council">Malvern Hills District Council</option>
<option data-micro-council="Manchester City Council" value="Manchester City Council">Manchester City Council</option>
<option data-micro-council="Mansfield District Council" value="Nottinghamshire County Council">Mansfield District Council</option>
<option data-micro-council="Medway Council" value="Medway Council">Medway Council</option>
<option data-micro-council="Melton Borough Council" value="Leicestershire County Council">Melton Borough Council</option>
<option data-micro-council="Mendip District Council" value="Somerset County Council">Mendip District Council</option>
<option data-micro-council="Merthyr Tydfil County Borough Council" value="Merthyr Tydfil County Borough Council">Merthyr Tydfil County Borough Council</option>
<option data-micro-council="Mid & East Antrim Borough Council" value="Northern Ireland">Mid &amp; East Antrim Borough Council</option>
<option data-micro-council="Mid Devon District Council" value="Devon County Council">Mid Devon District Council</option>
<option data-micro-council="Mid Suffolk District Council" value="Suffolk County Council">Mid Suffolk District Council</option>
<option data-micro-council="Mid Sussex District Council" value="West Sussex County Council">Mid Sussex District Council</option>
<option data-micro-council="Mid Ulster District Council" value="Northern Ireland">Mid Ulster District Council</option>
<option data-micro-council="Middlesbrough Borough Council" value="Middlesbrough Borough Council">Middlesbrough Borough Council</option>
<option data-micro-council="Midlothian Council" value="Midlothian Council">Midlothian Council</option>
<option data-micro-council="Milton Keynes Council" value="Milton Keynes Council">Milton Keynes Council</option>
<option data-micro-council="Mole Valley District Council" value="Surrey County Council">Mole Valley District Council</option>
<option data-micro-council="Monmouthshire County Council" value="Monmouthshire County Council">Monmouthshire County Council</option>
<option data-micro-council="Moray Council" value="Moray Council">Moray Council</option>
<option data-micro-council="Neath Port Talbot County Borough Council" value="Neath Port Talbot County Borough Council">Neath Port Talbot County Borough Council</option>
<option data-micro-council="New Forest District Council" value="Hampshire County Council">New Forest District Council</option>
<option data-micro-council="Newark and Sherwood District Council" value="Nottinghamshire County Council">Newark and Sherwood District Council</option>
<option data-micro-council="Newcastle City Council" value="Newcastle City Council">Newcastle City Council</option>
<option data-micro-council="Newcastle-under-Lyme Borough Council" value="Staffordshire County Council">Newcastle-under-Lyme Borough Council</option>
<option data-micro-council="Newport City Council" value="Newport City Council">Newport City Council</option>
<option data-micro-council="Newry, Mourne and Down District Council" value="Northern Ireland">Newry, Mourne and Down District Council</option>
<option data-micro-council="Norfolk County Council" value="Norfolk County Council">Norfolk County Council</option>
<option data-micro-council="North Ayrshire Council" value="North Ayrshire Council">North Ayrshire Council</option>
<option data-micro-council="North Devon District Council" value="Devon County Council">North Devon District Council</option>
<option data-micro-council="North Dorset District Council" value="Dorset County Council">North Dorset District Council</option>
<option data-micro-council="North East Derbyshire District Council" value="Derbyshire County Council">North East Derbyshire District Council</option>
<option data-micro-council="North East Lincolnshire Council" value="North East Lincolnshire Council">North East Lincolnshire Council</option>
<option data-micro-council="North Hertfordshire District Council" value="Hertfordshire County Council">North Hertfordshire District Council</option>
<option data-micro-council="North Kesteven District Council" value="Lincolnshire County Council">North Kesteven District Council</option>
<option data-micro-council="North Lanarkshire Council" value="North Lanarkshire Council">North Lanarkshire Council</option>
<option data-micro-council="North Lincolnshire Council" value="North Lincolnshire Council">North Lincolnshire Council</option>
<option data-micro-council="North Norfolk District Council" value="Norfolk County Council">North Norfolk District Council</option>
<option data-micro-council="North Somerset Council" value="North Somerset Council">North Somerset Council</option>
<option data-micro-council="North Tyneside Council" value="North Tyneside Council">North Tyneside Council</option>
<option data-micro-council="North Warwickshire Borough Council" value="Warwickshire County Council">North Warwickshire Borough Council</option>
<option data-micro-council="North West Leicestershire District Council" value="Leicestershire County Council">North West Leicestershire District Council</option>
<option data-micro-council="North Yorkshire County Council" value="North Yorkshire County Council">North Yorkshire County Council</option>
<option data-micro-council="Northampton Borough Council" value="Northamptonshire County Council">Northampton Borough Council</option>
<option data-micro-council="Northamptonshire County Council" value="Northamptonshire County Council">Northamptonshire County Council</option>
<option data-micro-council="Northumberland County Council" value="Northumberland County Council">Northumberland County Council</option>
<option data-micro-council="Norwich City Council" value="Norfolk County Council">Norwich City Council</option>
<option data-micro-council="Nottingham City Council" value="Nottingham City Council">Nottingham City Council</option>
<option data-micro-council="Nottinghamshire County Council" value="Nottinghamshire County Council">Nottinghamshire County Council</option>
<option data-micro-council="Nuneaton and Bedworth Borough Council" value="Warwickshire County Council">Nuneaton and Bedworth Borough Council</option>
<option data-micro-council="Oadby and Wigston Borough Council" value="Leicestershire County Council">Oadby and Wigston Borough Council</option>
<option data-micro-council="Oldham Metropolitan Borough Council" value="Oldham Metropolitan Borough Council">Oldham Metropolitan Borough Council</option>
<option data-micro-council="Orkney Islands Council" value="Orkney Islands Council">Orkney Islands Council</option>
<option data-micro-council="Oxford City Council" value="Oxfordshire County Council">Oxford City Council</option>
<option data-micro-council="Oxfordshire County Council" value="Oxfordshire County Council">Oxfordshire County Council</option>
<option data-micro-council="Pembrokeshire County Council" value="Pembrokeshire County Council">Pembrokeshire County Council</option>
<option data-micro-council="Pendle Borough Council" value="Lancashire County Council">Pendle Borough Council</option>
<option data-micro-council="Perth and Kinross Council" value="Perth and Kinross Council">Perth and Kinross Council</option>
<option data-micro-council="Peterborough City Council" value="Peterborough City Council">Peterborough City Council</option>
<option data-micro-council="Plymouth City Council" value="Plymouth City Council">Plymouth City Council</option>
<option data-micro-council="Portsmouth City Council" value="Portsmouth City Council">Portsmouth City Council</option>
<option data-micro-council="Powys County Council" value="Powys County Council">Powys County Council</option>
<option data-micro-council="Preston City Council" value="Lancashire County Council">Preston City Council</option>
<option data-micro-council="Purbeck District Council" value="Dorset County Council">Purbeck District Council</option>
<option data-micro-council="Reading Borough Council" value="Reading Borough Council">Reading Borough Council</option>
<option data-micro-council="Redcar and Cleveland Borough Council" value="Redcar and Cleveland Borough Council">Redcar and Cleveland Borough Council</option>
<option data-micro-council="Redditch Borough Council" value="Worcestershire County Council">Redditch Borough Council</option>
<option data-micro-council="Reigate and Banstead Borough Council" value="Surrey County Council">Reigate and Banstead Borough Council</option>
<option data-micro-council="Renfrewshire Council" value="Renfrewshire Council">Renfrewshire Council</option>
<option data-micro-council="Rhondda Cynon Taf County Borough Council" value="Rhondda Cynon Taf County Borough Council">Rhondda Cynon Taf County Borough Council</option>
<option data-micro-council="Ribble Valley Borough Council" value="Lancashire County Council">Ribble Valley Borough Council</option>
<option data-micro-council="Richmondshire District Council" value="North Yorkshire County Council">Richmondshire District Council</option>
<option data-micro-council="Rochdale Metropolitan Borough Council" value="Rochdale Metropolitan Borough Council">Rochdale Metropolitan Borough Council</option>
<option data-micro-council="Rochford District Council" value="Essex County Council">Rochford District Council</option>
<option data-micro-council="Rossendale Borough Council" value="Lancashire County Council">Rossendale Borough Council</option>
<option data-micro-council="Rother District Council" value="East Sussex County Council">Rother District Council</option>
<option data-micro-council="Rotherham Metropolitan Borough Council" value="Rotherham Metropolitan Borough Council">Rotherham Metropolitan Borough Council</option>
<option data-micro-council="Royal Borough of Greenwich" value="Royal Borough of Greenwich">Royal Borough of Greenwich</option>
<option data-micro-council="Royal Borough of Kensington and Chelsea" value="Royal Borough of Kensington and Chelsea">Royal Borough of Kensington and Chelsea</option>
<option data-micro-council="Royal Borough of Kingston upon Thames" value="Royal Borough of Kingston upon Thames">Royal Borough of Kingston upon Thames</option>
<option data-micro-council="Royal Borough of Windsor and Maidenhead" value="Royal Borough of Windsor and Maidenhead" data-abbreviations="RBWM">Royal Borough of Windsor and Maidenhead</option>
<option data-micro-council="Rugby Borough Council" value="Warwickshire County Council">Rugby Borough Council</option>
<option data-micro-council="Runnymede Borough Council" value="Surrey County Council">Runnymede Borough Council</option>
<option data-micro-council="Rushcliffe Borough Council" value="Nottinghamshire County Council">Rushcliffe Borough Council</option>
<option data-micro-council="Rushmoor Borough Council" value="Hampshire County Council">Rushmoor Borough Council</option>
<option data-micro-council="Rutland County Council" value="Rutland County Council">Rutland County Council</option>
<option data-micro-council="Ryedale District Council" value="North Yorkshire County Council">Ryedale District Council</option>
<option data-micro-council="Salford City Council" value="Salford City Council">Salford City Council</option>
<option data-micro-council="Sandwell Metropolitan Borough Council" value="Sandwell Metropolitan Borough Council">Sandwell Metropolitan Borough Council</option>
<option data-micro-council="Scarborough Borough Council" value="North Yorkshire County Council">Scarborough Borough Council</option>
<option data-micro-council="Scottish Borders Council" value="Scottish Borders Council">Scottish Borders Council</option>
<option data-micro-council="Sedgemoor District Council" value="Somerset County Council">Sedgemoor District Council</option>
<option data-micro-council="Sefton Metropolitan Borough Council" value="Sefton Metropolitan Borough Council">Sefton Metropolitan Borough Council</option>
<option data-micro-council="Selby District Council" value="North Yorkshire County Council">Selby District Council</option>
<option data-micro-council="Sevenoaks District Council" value="Kent County Council">Sevenoaks District Council</option>
<option data-micro-council="Sheffield City Council" value="Sheffield City Council">Sheffield City Council</option>
<option data-micro-council="Shetland Islands Council" value="Shetland Islands Council">Shetland Islands Council</option>
<option data-micro-council="Shropshire Council" value="Shropshire Council">Shropshire Council</option>
<option data-micro-council="Slough Borough Council" value="Slough Borough Council">Slough Borough Council</option>
<option data-micro-council="Solihull Metropolitan Borough Council" value="Solihull Metropolitan Borough Council">Solihull Metropolitan Borough Council</option>
<option data-micro-council="Somerset County Council" value="Somerset County Council">Somerset County Council</option>
<option data-micro-council="South Ayrshire Council" value="South Ayrshire Council">South Ayrshire Council</option>
<option data-micro-council="South Bucks District Council" value="Buckinghamshire County Council">South Bucks District Council</option>
<option data-micro-council="South Cambridgeshire District Council" value="Cambridgeshire County Council">South Cambridgeshire District Council</option>
<option data-micro-council="South Derbyshire District Council" value="Derbyshire County Council">South Derbyshire District Council</option>
<option data-micro-council="South Gloucestershire Council" value="South Gloucestershire Council">South Gloucestershire Council</option>
<option data-micro-council="South Hams District Council" value="Devon County Council">South Hams District Council</option>
<option data-micro-council="South Holland District Council" value="Lincolnshire County Council">South Holland District Council</option>
<option data-micro-council="South Kesteven District Council" value="Lincolnshire County Council">South Kesteven District Council</option>
<option data-micro-council="South Lakeland District Council" value="Cumbria County Council">South Lakeland District Council</option>
<option data-micro-council="South Lanarkshire Council" value="South Lanarkshire Council">South Lanarkshire Council</option>
<option data-micro-council="South Norfolk District Council" value="Norfolk County Council">South Norfolk District Council</option>
<option data-micro-council="South Northamptonshire Council" value="Northamptonshire County Council">South Northamptonshire Council</option>
<option data-micro-council="South Oxfordshire District Council" value="Oxfordshire County Council">South Oxfordshire District Council</option>
<option data-micro-council="South Ribble Borough Council" value="Lancashire County Council">South Ribble Borough Council</option>
<option data-micro-council="South Somerset District Council" value="Somerset County Council">South Somerset District Council</option>
<option data-micro-council="South Staffordshire Council" value="Staffordshire County Council">South Staffordshire Council</option>
<option data-micro-council="South Tyneside Council" value="South Tyneside Council">South Tyneside Council</option>
<option data-micro-council="Southampton City Council" value="Southampton City Council">Southampton City Council</option>
<option data-micro-council="Southend-on-Sea Borough Council" value="Southend-on-Sea Borough Council">Southend-on-Sea Borough Council</option>
<option data-micro-council="Spelthorne Borough Council" value="Surrey County Council">Spelthorne Borough Council</option>
<option data-micro-council="St Albans City and District Council" value="Hertfordshire County Council">St Albans City and District Council</option>
<option data-micro-council="St Edmundsbury Borough Council" value="Suffolk County Council">St Edmundsbury Borough Council</option>
<option data-micro-council="St Helens Council" value="St Helens Council">St Helens Council</option>
<option data-micro-council="Stafford Borough Council" value="Staffordshire County Council">Stafford Borough Council</option>
<option data-micro-council="Staffordshire County Council" value="Staffordshire County Council">Staffordshire County Council</option>
<option data-micro-council="Staffordshire Moorlands District Council" value="Staffordshire County Council">Staffordshire Moorlands District Council</option>
<option data-micro-council="Stevenage Borough Council" value="Hertfordshire County Council">Stevenage Borough Council</option>
<option data-micro-council="Stirling Council" value="Stirling Council">Stirling Council</option>
<option data-micro-council="Stockport Metropolitan Borough Council" value="Stockport Metropolitan Borough Council">Stockport Metropolitan Borough Council</option>
<option data-micro-council="Stockton-on-Tees Borough Council" value="Stockton-on-Tees Borough Council">Stockton-on-Tees Borough Council</option>
<option data-micro-council="Stoke-on-Trent City Council" value="Stoke-on-Trent City Council">Stoke-on-Trent City Council</option>
<option data-micro-council="Stratford-on-Avon District Council" value="Warwickshire County Council">Stratford-on-Avon District Council</option>
<option data-micro-council="Stroud District Council" value="Gloucestershire County Council">Stroud District Council</option>
<option data-micro-council="Suffolk Coastal District Council" value="Suffolk County Council">Suffolk Coastal District Council</option>
<option data-micro-council="Suffolk County Council" value="Suffolk County Council">Suffolk County Council</option>
<option data-micro-council="Sunderland City Council" value="Sunderland City Council">Sunderland City Council</option>
<option data-micro-council="Surrey County Council" value="Surrey County Council">Surrey County Council</option>
<option data-micro-council="Surrey Heath Borough Council" value="Surrey County Council">Surrey Heath Borough Council</option>
<option data-micro-council="Swale Borough Council" value="Kent County Council">Swale Borough Council</option>
<option data-micro-council="Swindon Borough Council" value="Swindon Borough Council">Swindon Borough Council</option>
<option data-micro-council="Tameside Metropolitan Borough Council" value="Tameside Metropolitan Borough Council">Tameside Metropolitan Borough Council</option>
<option data-micro-council="Tamworth Borough Council" value="Staffordshire County Council">Tamworth Borough Council</option>
<option data-micro-council="Tandridge District Council" value="Surrey County Council">Tandridge District Council</option>
<option data-micro-council="Taunton Deane Borough Council" value="Somerset County Council">Taunton Deane Borough Council</option>
<option data-micro-council="Teignbridge District Council" value="Devon County Council">Teignbridge District Council</option>
<option data-micro-council="Telford & Wrekin Council" value="Telford & Wrekin Council">Telford &mp; Wrekin Council</option>
<option data-micro-council="Tendring District Council" value="Essex County Council">Tendring District Council</option>
<option data-micro-council="Test Valley Borough Council" value="Hampshire County Council">Test Valley Borough Council</option>
<option data-micro-council="Tewkesbury Borough Council" value="Gloucestershire County Council">Tewkesbury Borough Council</option>
<option data-micro-council="Thanet District Council" value="Kent County Council">Thanet District Council</option>
<option data-micro-council="Three Rivers District Council" value="Hertfordshire County Council">Three Rivers District Council</option>
<option data-micro-council="Thurrock Council" value="Thurrock Council">Thurrock Council</option>
<option data-micro-council="Tonbridge and Malling Borough Council" value="Kent County Council">Tonbridge and Malling Borough Council</option>
<option data-micro-council="Torbay Council" value="Torbay Council">Torbay Council</option>
<option data-micro-council="Torfaen County Borough Council" value="Torfaen County Borough Council">Torfaen County Borough Council</option>
<option data-micro-council="Torridge District Council" value="Devon County Council">Torridge District Council</option>
<option data-micro-council="Trafford Metropolitan Borough Council" value="Trafford Metropolitan Borough Council">Trafford Metropolitan Borough Council</option>
<option data-micro-council="Tunbridge Wells Borough Council" value="Kent County Council">Tunbridge Wells Borough Council</option>
<option data-micro-council="Uttlesford District Council" value="Essex County Council">Uttlesford District Council</option>
<option data-micro-council="Vale of Glamorgan Council" value="Vale of Glamorgan Council">Vale of Glamorgan Council</option>
<option data-micro-council="Vale of White Horse District Council" value="Oxfordshire County Council">Vale of White Horse District Council</option>
<option data-micro-council="Wakefield Metropolitan District Council" value="Wakefield Metropolitan District Council">Wakefield Metropolitan District Council</option>
<option data-micro-council="Walsall Metropolitan Borough Council" value="Walsall Metropolitan Borough Council">Walsall Metropolitan Borough Council</option>
<option data-micro-council="Warrington Borough Council" value="Warrington Borough Council">Warrington Borough Council</option>
<option data-micro-council="Warwick District Council" value="Warwickshire County Council">Warwick District Council</option>
<option data-micro-council="Warwickshire County Council" value="Warwickshire County Council">Warwickshire County Council</option>
<option data-micro-council="Watford Borough Council" value="Hertfordshire County Council">Watford Borough Council</option>
<option data-micro-council="Waveney District Council" value="Suffolk County Council">Waveney District Council</option>
<option data-micro-council="Waverley Borough Council" value="Surrey County Council">Waverley Borough Council</option>
<option data-micro-council="Wealden District Council" value="East Sussex County Council">Wealden District Council</option>
<option data-micro-council="Wellingborough Borough Council" value="Northamptonshire County Council">Wellingborough Borough Council</option>
<option data-micro-council="Welwyn Hatfield Borough Council" value="Hertfordshire County Council">Welwyn Hatfield Borough Council</option>
<option data-micro-council="West Berkshire Council" value="West Berkshire Council">West Berkshire Council</option>
<option data-micro-council="West Devon Borough Council" value="Devon County Council">West Devon Borough Council</option>
<option data-micro-council="West Dorset District Council" value="Dorset County Council">West Dorset District Council</option>
<option data-micro-council="West Dunbartonshire Council" value="West Dunbartonshire Council">West Dunbartonshire Council</option>
<option data-micro-council="West Lancashire Borough Council" value="Lancashire County Council">West Lancashire Borough Council</option>
<option data-micro-council="West Lindsey District Council" value="Lincolnshire County Council">West Lindsey District Council</option>
<option data-micro-council="West Lothian Council" value="West Lothian Council">West Lothian Council</option>
<option data-micro-council="West Oxfordshire District Council" value="Oxfordshire County Council">West Oxfordshire District Council</option>
<option data-micro-council="West Somerset District Council" value="Somerset County Council">West Somerset District Council</option>
<option data-micro-council="West Sussex County Council" value="West Sussex County Council">West Sussex County Council</option>
<option data-micro-council="Weymouth and Portland Borough Council" value="Dorset County Council">Weymouth and Portland Borough Council</option>
<option data-micro-council="Wigan Metropolitan Borough Council" value="Wigan Metropolitan Borough Council">Wigan Metropolitan Borough Council</option>
<option data-micro-council="Wiltshire Council" value="Wiltshire Council">Wiltshire Council</option>
<option data-micro-council="Winchester City Council" value="Hampshire County Council">Winchester City Council</option>
<option data-micro-council="Wirral Borough Council" value="Wirral Borough Council">Wirral Borough Council</option>
<option data-micro-council="Woking Borough Council" value="Surrey County Council">Woking Borough Council</option>
<option data-micro-council="Wokingham Borough Council" value="Wokingham Borough Council">Wokingham Borough Council</option>
<option data-micro-council="Worcester City Council" value="Worcestershire County Council">Worcester City Council</option>
<option data-micro-council="Worcestershire County Council" value="Worcestershire County Council">Worcestershire County Council</option>
<option data-micro-council="Worthing Borough Council" value="West Sussex County Council">Worthing Borough Council</option>
<option data-micro-council="Wrexham County Borough Council" value="Wrexham County Borough Council">Wrexham County Borough Council</option>
<option data-micro-council="Wychavon District Council" value="Worcestershire County Council">Wychavon District Council</option>
<option data-micro-council="Wycombe District Council" value="Buckinghamshire County Council">Wycombe District Council</option>
<option data-micro-council="Wyre Borough Council" value="Lancashire County Council">Wyre Borough Council</option>
<option data-micro-council="Wyre Forest District Council" value="Worcestershire County Council">Wyre Forest District Council</option>