<!-- Javascript -->
<!--[if lte IE 8]><script src="/public/javascripts/bind.js"></script><![endif]-->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<script>
	var errorArray = [];

	$('.govuk-o-form-group--error').each(function() {
		var $this = $(this),
			errorText = $this.find('.govuk-c-error-message').text(),
			errorID = $this.find('.govuk-c-input--error').attr('id');

		errorArray.push([errorText, errorID]);

	});

	console.log(errorArray);
</script>
