{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = "Take photo with this device's camera" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<p class="govuk-body">You need to add a photo to be printed on the back of {{ your }} badge.</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <img class="responsive-image passport-photo" src="{{ asset_path }}/images/passport-photo.png" alt="">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Make sure it
    <ul class="govuk-list govuk-list--bullet">
      <li>has a plain, light background</li>
      <li>includes {{ your }} shoulders</li>
      <li>shows {{ your }} face clearly</li>
    </ul>
    </p>
  </div>
</div>

<section id='start-section'>
  <h2 class="govuk-heading-m">Take {{your}} photo</h2>

  {{ govukDetails({
    "summaryText": "Open the camera",
    "html": '<p class="govuk-body">You may be prompted to allow access to your device\'s camera.</p> <button class="govuk-button" onclick="takePhotoWebcam.start()">Open the camera</button>' 
  }) }}

</section>

<section id='cannot-section' style='display:none'>
  <!-- TODO: Replace this with proper error handling -->

  <h2 class="govuk-heading-m">There's been a problem</h2>

  <p class="govuk-body">You'll need to upload your photo instead.</p>

  {{ govukButton({
    "text": "Upload photo"
  }) }}
</section>

<section id='capture-section' style='display:none'>
  <h2 class="govuk-heading-m">Take {{your}} photo</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="video-container" id="camPreview">
        <video id='webcam-video' width='320' height='240'>Webcam not available</video><br>
      </div>
      <div class="photo-container" id="camResult" style='display:none'>
        <img id='webcam-photo' alt='result' class="webcam-photo"><br>
        <div id="blackbox"></div>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds" id="photoInstructions">
      <h3 class="govuk-heading-s">Instructions</h3>
      <ul class="govuk-list govuk-list--number">
        <li>Look at the camera</li>
        <li>Make sure your face and shoulders are in shot</li>
        <li>Press the button and the countdown will start</li>
        <li>After 3 seconds, the photo will be taken</li>
      </ul>
      <button class='govuk-button' onclick='takePhotoWebcam.captureImage()'>Start countdown</button>
    </div>
    <div id="countdownTimer" aria-live="polite" class="countdown-timer" style='display:none'>3</div>

    <div class="govuk-grid-column-two-thirds" id="photoReady" style='display:none'>
      <form action="{{formAction}}">
        <h3 class="govuk-heading-s">Check your photo</h3>
        <p class="govuk-body">Once you're happy that the photo meets the requirements you can continue.</p>
        {{ govukButton({
          "text": submitLabel
        }) }}
        <p class="govuk-body">
          <a href="#" onclick='takePhotoWebcam.showCaptureSection(event)'>Take another photo</a>
        </p>
      </form>
    </div>
  </div>
</section>

<!-- Has save -->

      



{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/webcam.js"></script>
{% endblock %}
