{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = 'Prove ' + your + ' address' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<form action="{{ formAction }}?proveIdentity=upload">
  <input type="hidden" id="change" name="change" value="{{change}}">
  <p class="govuk-body">Upload a photo or scan of a document, that shows {{your}} current address, such as:</p>

  {% if data['real-age'] < 16 %}

  <ul class="govuk-list govuk-list--bullet">
    <li>a recent letter from {{your}} school</li>
    <li>a recent benefit letter from the Department for Work and Pensions</li>
    <li>a recent letter from {{your}} GP</li>
  </ul>

  {% else %}

  <ul class="govuk-list govuk-list--bullet">
    <li>a recent Council Tax bill</li>
    <li>{{ your }} driving licence</li>
    <li>a recent letter from a government department such as HMRC or the Department for Work and Pensions</li>
  </ul>

  {% endif %}

  </p>

  {{ uploadComponentWidget.uploadComponent(
    'prove-your-address',
    'proveAddress', 
    formAction + '?proveAddress=notProvided&your-address-file-upload=',
    your, 
    'provide proof of ' + your + ' address',
    change, 
    'no',
    'your-address-file-upload'
  )}}
  
  <!-- Has save -->

</form>

      



{% endblock %}

{% block pageScripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}