{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = 'Prove ' + your + ' address' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body save-progress-container hidden-mobile"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
    </div>
  </div>
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <form action="{{ formAction }}?proveIdentity=upload">
          <input type="hidden" id="change" name="change" value="{{change}}">
          <p class="govuk-body">You need to upload a copy of a document which shows {{ you }} live at {{ data['address']}} such as:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a recent council tax bill</li>
            <li>{{ your }} driving licence</li>
            <li>a letter from a government department such as HMRC or the Department for Work and Pensions</li>
          </ul>
          </p>

          {{ uploadComponentWidget.uploadComponent(
            'prove-your-address',
            'proveAddress', 
            formAction + '?proveAddress=notProvided&your-address-file-upload=',
            your, 
            'about how to prove ' + your + ' address',
            change, 
            'no',
            'your-address-file-upload'
          )}}
          
          <!-- Has save -->

        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
</main>
</div>

{% endblock %}

{% block page_scripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}