{% extends "layout.html" %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = 'Prove ' + your + ' identity' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <form action="{{ formAction }}">
          <p class="govuk-body">You need to upload a copy of a document which proves {{ your }} identity such as:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>the photo page of {{ your }} passport</li>
              <li>{{ your }} driving licence</li>
              <li>{{ your }} birth or adoption certificate</li>
              <li>{{ your }} marriage, civil partnership, divorce or dissolution certificate</li>
          </ul>

          {{ uploadComponentWidget.uploadComponent(
            'proveIdentity', 
            formAction + '?proveIdentity=notProvided&your-identity-file-upload=',
            your, 
            'about how to prove ' + you + ' have a severe sight impairment', 
            change, 
            'yes',
            'your-identity-file-upload'
          )}}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}

{% block page_scripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}