{% extends "layout.html" %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = "Take a photo" %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Take a photo</h1>
        <p class="govuk-body">{{ you | capitalize }} need a photo taken of {{your}} face which will be printed on the back of {{ your }} badge.</p>

        {% if data['applicant'] !== 'someone-else' %}

        <p class="govuk-body">It may be easier to get somebody to help you with this.</p>

        {% endif %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <img class="responsive-image passport-photo" src="{{ asset_path }}/images/passport-photo.png" alt="">
          </div>

          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">Make sure it
            <ul class="govuk-list govuk-list--bullet">
              <li>has a plain, light background</li>
              <li>includes {{ your }} shoulders</li>
              <li>shows {{ your }} face clearly</li>
            </ul>
            </p>
          </div>
        </div>
        <form action="{{ formAction }}">
          {% set uploadHtml %}
            {{ uploadComponentWidget.uploadComponent(
              'passportPhoto', 
              formAction + '?passportPhoto=notProvided&passport-photo-file-upload=',
              your, 
              '', 
              change, 
              'no',
              'passport-photo-file-upload',
              'yes'
            )}}
          {% endset -%}

          

          {{ govukRadios({
            "idPrefix": "already-have-photo",
            "name": "already-have-photo",
            "attributes": {
              "data-catchoption-label": true
            },
            "fieldset": {
              "legend": {
                "text": "Do you already have a suitable digital photo on your device?",
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes",
                "checked": data['already-have-photo'] === 'yes',
                "conditional": {
                  "html": uploadHtml
                }
              },
              {
                "value": "no",
                "text": "No",
                "checked": data['already-have-photo'] === 'no'
              }

            ]
          }) }}

          <div id="hiddenCaughtInputs"></div>

          {{ govukButton({
            "text": submitLabel
          }) }}
        </form>
      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}


{% block page_scripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}
