{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = "Take a photo" %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body save-progress-container hidden-mobile"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
    </div>
  </div>
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Take a photo</h1>
        <p class="govuk-body">{{ you | capitalize }} need a photo taken of {{your}} face which will be printed on the back of {{ your }} badge.</p>

        <details class="govuk-details file-upload empty" id="cantUploadDetails">
          <summary class="govuk-details__summary">I can't upload {{my}} photo</summary>
          <div class="govuk-details__text panel panel-border">
            <p class="govuk-body">If you can't upload {{your}} photo {{data['council-name']}} will contact you about how to send it by post.</p>
            <p class="govuk-body">You can still submit {{ your }} application online but it will take longer to get a decision.</p>
            <p class="govuk-body">
              <a href="/apply-for-a-blue-badge/check-answers" class="govuk-button-secondary">Continue without uploading</a>
            </p>
          </div>
        </details>

        

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="svg-container passport-help-photo">{% include "includes/icon-help-photo.html" %}</div>
          </div>
          <div class="govuk-grid-column-one-half">
            {% if data['applicant'] !== 'someone-else' %}
              <p class="govuk-body">It may be easier to get somebody to help you with this.</p>
            {% endif %}
          </div>
        </div>

        
        <form action="{{formAction}}">
          {% set uploadHtml %}
            <p class="govuk-body">Once {{you}} have {{your}} photo taken, get it onto this device, either by scanning it or taking a photo of it. You can then upload it here.</p>

            {{ uploadComponentWidget.uploadComponent(
              'passportPhoto', 
              formAction + '?passportPhoto=notProvided&passport-photo-file-upload=',
              your, 
              '', 
              change, 
              'no',
              'passport-photo-file-upload',
              'yes'
            )}}
          {% endset -%}

          

          {{ govukRadios({
            "idPrefix": "devices-camera",
            "name": "devices-camera",
            "attributes": {
              "data-catchoption-label": true
            },
            "fieldset": {
              "legend": {
                "text": "Do you want to use this device's camera?",
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes",
                "checked": data['devices-camera'] === 'yes'
              },
              {
                "value": "no",
                "text": "No",
                "checked": data['devices-camera'] === 'no',
                "conditional": {
                  "html": uploadHtml
                }
              }

            ]
          }) }}

          <div id="hiddenCaughtInputs"></div>

          {{ govukButton({
            "text": submitLabel
          }) }}

          <!-- Has save -->
        </form>
      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
</main>
</div>

{% endblock %}


{% block page_scripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}
