{% extends "layout.html" %}
{% import "candidate/macros/upload-component.html" as uploadComponentWidget %}

{% set pageHeading = 'Check your application details' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <dl class="govuk-check-your-answers govuk-check-your-answers--short">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Name
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{data['fullName']}}
              {% if data['birth-full-name'] %}<br> (Formely: {{ data['birth-full-name'] }}) {% endif %}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="/candidate/apply/name?change=true">
                Change<span class="visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              National Insurance number
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{data['nino']}}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="/candidate/apply/nino?change=true">
                Change<span class="visually-hidden"> national insurance number</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Date of birth
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['dob-day'] }} {{ data['dob-month'] | month }} {{ data['dob-year'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="/candidate/apply/dob?change=true">
                Change<span class="visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Address
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ data['address'] }}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="/candidate/apply/select-address?change=true">
                Change<span class="visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Contact details
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {% if data['email'] %}{{ data['email'] }}<br />{% endif %}
              {{ data['primary-phone-number'] }}
              {% if data['secondary-phone-number'] %}<br />{{ data['secondary-phone-number'] }}{% endif %}
            </dd>
            <dd class="govuk-check-your-answers__change">
              <a href="/candidate/apply/contact?change=true">
                Change<span class="visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Proof of identity
            </dt>
            {%if data['proveIdentity'] === 'upload' %}
              <dd class="govuk-check-your-answers__answer">
                {{ data['your-identity-file-upload'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="/candidate/apply/prove-your-identity?change=true">Change<span class="visually-hidden"> photo</span></a>
              </dd>
              {% else %}
              <dd class="govuk-check-your-answers__answer">
                You've chosen not to prove your identity
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="/candidate/apply/prove-your-identity?change=true">Change<span class="visually-hidden"> photo</span></a>
              </dd>
            {% endif %}
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Proof of eligibility
            </dt>
            {% if (data['benefit'] === 'none' and data['disability'] and data['disability'].includes('problems-walking')) %}
              {% if data['proveConditionEvidence'] === 'upload' %}
              <dd class="govuk-check-your-answers__answer">
                Number of files uploaded: {{ data['evidence-of-condition-array'].length }}
              </dd>
              {% else %}
              <dd class="govuk-check-your-answers__answer">
                Chosen not to provided any evidence
              </dd>
              {% endif %}
              <dd class="govuk-check-your-answers__change">
                <a href="/candidate/prove-eligibility/evidence-of-your-condition-or-disability?change=true">Change<span class="visually-hidden"> file</span></a>
              </dd>
            {% elif data['benefit'] === 'dla' or data['benefit'] === 'pip' %}
              {% if data['proofOfEligibility'] === 'upload' %}
              <dd class="govuk-check-your-answers__answer">
                {{ data['benefit-proof-file-upload'] }}
              </dd>
              {% else %}
              <dd class="govuk-check-your-answers__answer">
                You've chosen not to prove your address
              </dd>
              {% endif %}
              <dd class="govuk-check-your-answers__change">
                <a href="/candidate/eligibility-proof/provide-proof-of-your-eligibility?change=true">Change<span class="visually-hidden"> file</span></a>
              </dd>
            {% else %}
              {% if data['proofOfEligibility'] === 'upload' %}
              <dd class="govuk-check-your-answers__answer">
                {{ data['benefit-proof-file-upload'] }}
              </dd>
              {% else %}
              <dd class="govuk-check-your-answers__answer">
                You've chosen not to prove your address
              </dd>
              {% endif %}
              <dd class="govuk-check-your-answers__change">
                <a href="/candidate/eligibility-proof/provide-proof-of-your-eligibility?change=true">Change<span class="visually-hidden"> file</span></a>
              </dd>
            {% endif %}
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Proof of address
            </dt>
            {%if data['identity-upload-shows-current-address'] === 'yes' %}
              <dd class="govuk-check-your-answers__answer">
                {{ data['your-identity-file-upload'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="/candidate/apply/prove-your-address?change=true&identity-upload-shows-current-address=no">Change<span class="visually-hidden"> photo</span></a>
              </dd>
              {% elif data['benefit-proof-upload-shows-current-address'] === 'yes' %}
              <dd class="govuk-check-your-answers__answer">
              {{ data['benefit-proof-file-upload'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="/apply/prove-your-address?change=true&identity-upload-shows-current-address=no">Change<span class="visually-hidden"> photo</span></a>
              </dd>
              {% elif data['proveAddress'] === 'upload' %}
              <dd class="govuk-check-your-answers__answer">
                {{ data['your-address-file-upload'] }}
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="/apply/prove-your-address?change=true">Change<span class="visually-hidden"> photo</span></a>
              </dd>
              {% else %}
              <dd class="govuk-check-your-answers__answer">
                You've chosen not to prove your address
              </dd>
              <dd class="govuk-check-your-answers__change">
                <a href="/apply/prove-your-address?change=true">Change<span class="visually-hidden"> photo</span></a>
              </dd>
              {% endif %}
          </div>
          
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">Photo</dt>
            {% if (data['providePhoto'] === 'webcam') %}
              <dd class="govuk-check-your-answers__answer">
                Webcam image<br/>
              </dd>
            {% elif data['providePhoto'] === 'upload' %}
              <dd class="govuk-check-your-answers__answer">
              {{ data['your-photo-file-upload'] }}
            </dd>
            {% else %}
            <dd class="govuk-check-your-answers__answer">
              You've chosen not to provide a photo
            </dd>
            {% endif %}
            <dd class="govuk-check-your-answers__change">
              <a href="/candidate/apply/provide-photo?change=true">Change<span class="visually-hidden"> photo</span></a>
            </dd>
          </div>

        </dl>

        {{ govukButton({
          "text": "Continue",
          "href": 'declaration'
        }) }}

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
