{% extends "layout.html" %}

{% set pageHeading = 'Enter contact details' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <!-- <p class="govuk-body"></p> -->
        <form action="{{formAction}}">
          {{ govukInput({
            "label": {
              "text": "Full name"
            },
            "hint": {
              "text": "This should be the name of the main point of contact"
            },
            id: "contact-full-name",
            name: "contact-full-name",
            type: "tel",
            value: data['contact-full-name']
          }) }}

          {{ govukInput({
            "label": {
              "text": "Phone number"
            },
            "hint": {
              "text": "This can be a work or mobile phone number"
            },
            classes: "govuk-input--width-20",
            id: "primary-phone-number",
            name: "primary-phone-number",
            type: "tel",
            value: data['primary-phone-number']
          }) }}

          {{ govukCheckboxes({
            "idPrefix": "contact-preference",
            "name": "contact-preference",
            "fieldset": {
              "legend": {
                "text": 'Contact preference',
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
              {
                "value": "email",
                "text": "Email"
              },
              {
                "value": "text-message",
                "text": "Text message"
              },
              {
                "value": "phone-call",
                "text": "Phone call"
              },
              {
                "value": "post",
                "text": "Post"
              }
            ]
          }) }}
          
          {{ govukButton({
            "text": submitLabel
          }) }}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
