{% extends "layout.html" %}

{% set pageHeading = 'What\'s ' + your + ' gender?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid">
      <div class="govuk-grid__item govuk-grid__item--two-thirds">

        <form action="{{formAction}}">
          {{ govukRadios({
            "idPrefix": "gender",
            "name": "gender",
            "fieldset": {
              "legend": {
                "text": pageHeading,
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--l'
              }
            },
            "items": [
              {
                "value": "female",
                "text": "Female",
                  "checked": data['gender'] === 'female'
              },
              {
                "value": "male",
                "text": "Male",
                "checked": data['gender'] === 'male'
              },
              {
                "value": "unspecified",
                "text": "Unspecified",
                "checked": data['gender'] === 'unspecified'
              }

            ]
          }) }}
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-grid__item govuk-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
