{% extends "layout.html" %}

{% set pageHeading = 'What\'s ' + your + ' name?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <!-- <p class="govuk-body"></p> -->
        <form action="{{formAction}}">
          {{ govukInput({
            "label": {
              "text": "Full name"
            },
            id: "fullName",
            name: "fullName",
            value: data['fullName']
          }) }}

          <div class="expanding-panel-container">
            {{ govukRadios({
              "idPrefix": "name-changed",
              "name": "name-changed",
              "attributes": {
                "data-expanding-radios": "true"
              },
              "fieldset": {
                "legendHtml": '<h2 class="govuk-heading-m">Has your last name changed since birth?</h2>'
              },
              "items": [
                {
                  "value": "no",
                  "text": "No, " + your + " name hasn't changed",
                  "checked": data['name-changed'] === 'no'
                },
                {
                  "value": "yes",
                  "text": "Yes, " + your + " name has changed",
                  "checked": data['name-changed'] === 'yes',
                  "id": 'name-changed-yes'
                }
              ]
            }) }}

            <div class="expanding-panel" data-expanded-by="name-changed-yes">
              <div class="govuk-c-details__text">
                {{ govukInput({
                  "label": {
                    "text": "What was your last name at birth?"
                  },
                  id: "birth-last-name",
                  name: "birth-last-name"
                }) }}
              </div>
            </div>
          </div>
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
