{% extends "layout.html" %}

{% set pageHeading = 'What\'s ' + your + ' National insurance number?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid">
      <div class="govuk-grid__item govuk-grid__item--two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <!-- <p class="govuk-body"></p> -->
        <form action="{{formAction}}">
          {{ govukInput({
            "label": {
              "text": "National insurance number",
              "hintText": "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
            },
            classes: "govuk-input--width-20",
            id: "nino",
            name: "nino",
            value: data['nino']
          }) }}
          
          {{ govukButton({
            "text": "Find"
          }) }}
        </form>

      </div>

      <div class="govuk-grid__item govuk-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
