{% extends "layout.html" %}
{% import "candidate/macros/upload-component.html" as uploadComponentWidget %}

{% set pageHeading = 'Prove ' + your + ' address' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <form action="/candidate/proof-backend?proveIdentity=upload">
          <input type="hidden" id="change" name="change" value="{{change}}">
          <p class="govuk-body">You need to upload a copy of a document which shows {{ you }} live at:<br />{{ data['address']}}.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a recent council tax bill</li>
            <li>{{ your }} driving licence</li>
            <li>a letter from a government department such as HMRC or the Department for Work and Pensions</li>
          </ul>
          </p>
          <h2 class="govuk-heading-m">Upload a photo or a scan</h2>

          {{ uploadComponentWidget.uploadComponent('your-address-file-upload',
          'address', 'proveAddress', '/public/images/dla_letter.png',
          formAction + '?proveAddress=notProvided&your-address-file-upload=',
          your, 'about how to prove ' + your + ' address', change, 'no')}}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
