{% extends "layout.html" %}

{% set pageHeading = 'Upload ' + your + ' photo' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        {% include "includes/upload-your-photo.html" %}

      </div>

      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
