{% extends "admin_layout.html" %}


{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  </div>
{% endblock %}

{% block page_header %}

  <p class="subtitle">Step 3</p>
  <h1>{{title}}</h1>
  
{% endblock %}

{% block content %}

<form action="check" method="post" class="form" novalidate>


  <section class="form-section">
    <h2 class="govuk-heading-m">Application details</h2>

    {{ govukDateInput({
      fieldset: {
        legend: {
          text: 'Application date'
        }
      },
      id: 'application',
      name: 'application',
      items:[
        {
          name: 'day',
          value: data['application-day']
        },
        {
          name: 'month',
          value: data['application-month']
        },
        {
          name: 'year',
          value: data['application-year']
        }
      ]
      })
    }}
    
    {{ govukRadios({
      "idPrefix": "application-channel",
      "name": "application-channel",
      "fieldset": {
        "legend": {
          "text": 'Application channel'
        }
      },
      "items": [
        {
          "value": "Online",
          "text": "Online",
          "checked": data['application-channel'] === 'Online'
        },
        {
          "value": "Paper",
          "text": "Paper",
          "checked": data['application-channel'] === 'Paper'
        },
        {
          "value": "Phone",
          "text": "Phone",
          "checked": data['application-channel'] === 'Phone'
        },
        {
          "value": "In person",
          "text": "In person",
          "checked": data['application-channel'] === 'In person'
        }
      ]
    }) }}

  </section>

  <section class="form-section">
    <h2 class="govuk-heading-m">Badge details</h2>


    {% if data['badge-type'] === 'organisation' %}
    {{ govukInput({
      "label": {
        "text": "Number of badges"
      },
      classes: "govuk-!-width-one-quarter",
      id: "number-of-badges",
      name: "number-of-badges",
      value: data['number-of-badges']
    }) }}
    {% endif %}

    {{ govukInput({
      "label": {
        "text": "Local authority reference (optional)"
      },
      classes: "govuk-!-width-one-half",
      id: "la-reference",
      name: "la-reference",
      value: data['la-reference']
    }) }}
    
    {{ govukDateInput({
      fieldset: {
        legend: {
          text: 'Badge start date'
        }
      },
      hint: {
        text: 'For example, 31 3 2016' 
      },
      id: 'start',
      name: 'start',
      items:[
        {
          name: 'day',
          value: data['startDay']
        },
        {
          name: 'month',
          value: data['startMonth']
        },
        {
          name: 'year',
          value: data['startYear']
        }
      ]
      })
    }}

    {{ govukDateInput({
      fieldset: {
        legend: {
          text: 'Badge expiry date'
        }
      },
      id: 'expiry',
      name: 'expiry',
      items:[
        {
          name: 'day',
          value: data['expiryDay']
        },
        {
          name: 'month',
          value: data['expiryMonth']
        },
        {
          name: 'year',
          value: data['expiryYear']
        }
      ]
      })
    }}


    {{ govukRadios({
      "idPrefix": "reassessment",
      "name": "reassessment",
      "classes": "govuk-radios",
      "fieldset": {
        "legend": {
          "text": "Does the applicant need reassessing when they renew?"
        }
      },
      "items": [
        {
          "value": "Yes",
          "text": "Yes",
          "checked": data['reassessment'] === 'Yes'
        },
        {
          "value": "No",
          "text": "No",
          "checked": data['reassessment'] === 'No'
        }
      ]
    }) }}


  </section>

  <section class="form-section">
    <h2 class="govuk-heading-m">Delivery information</h2>

    {{ govukRadios({
      "idPrefix": "deliver-to",
      "name": "deliver-to",
      "classes": "govuk-radios",
      "fieldset": {
        "legend": {
          "text": "Deliver to"
        }
      },
      "items": [
        {
          "value": "Badge holder",
          "text": "Badge holder",
          "checked": data['deliver-to'] === 'Badge holder'
        },
        {
          "value": "Manchester City Council",
          "text": "Manchester City Council",
          "checked": data['deliver-to'] === 'Manchester City Council'
        }
      ]
    }) }}

    {{ govukRadios({
      "idPrefix": "delivery-options",
      "name": "delivery-options",
      "classes": "govuk-radios",
      "fieldset": {
        "legend": {
          "text": "Delivery options"
        }
      },
      "items": [
        {
          "value": "Standard delivery",
          "text": "Standard delivery",
          "checked": data['delivery-options'] === 'Standard delivery'
        },
        {
          "value": "Fast track",
          "text": "Fast track (more expensive)",
          "checked": data['delivery-options'] === 'Fast track'
        }
      ]
    }) }}

  </section>

  {{ govukButton({
    "text": "Continue"
  }) }}

</form>

{% endblock %}