{% extends "layout.html" %}

{% set pageHeading = 'Reapply for a Blue Badge' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>

        <p class="govuk-body">We've found the badge number <b>{{ data['existing-blue-badge-number'] }}</b>.</p>

        <p class="govuk-body">
        You need to reapply so that your local council can:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>make sure your details are up to date</li>
          <li>issue Blue Badges to those people that need them</li>
          <li>cancel or refuse applications for Blue Badges that are no longer needed</li>
        </ul>

        <form action="/apply-for-a-blue-badge/check-eligibility/existing-badge/review-backend">
          {{ govukRadios({
            "idPrefix": "renewal-council-has-changed",
            "name": "renewal-council-has-changed",
            "fieldset": {
              "legend": {
                "text": 'Is ' + your + ' local council still Manchester City Council?',
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes"
              },
              {
                "value": "no",
                "text": "No"
              }
            ]
          }) }}
            
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

    </div>
  </main>
</div>

{% endblock %}
