{% extends "layout.html" %}

{% set pageHeading = you + ' don\'t need to renew yet' %}

{% block pageTitle %}
  {{pageHeading | capitalize}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{{ govukBackLink({
  "text": "Back",
  "href": "javascript: window.history.go(-1)"
}) }}

<h1 class="govuk-heading-l">{{pageHeading | capitalize}}</h1>

<!-- <p class="govuk-body-l">We couldn't find a badge matching the number you entered.</p> -->
{{ govukWarningText(
  {
    "text": "This badge isn't due for renewal until 8 June 2018",
    "iconFallbackText": "Warning"
  })
}}

<h2 class="govuk-heading-m">What happens next?</h2>

<div class="govuk-details__text govuk-body">
  <p>Renew {{ your }} badge after 8 June 2018.</p>
  <p>Alternatively, contact {{data['council-name']}} for assistance:</p>
  <ul class="govuk-list">
    <li>Website: <a href="#">www.{{data['council-name'] | lower}}.gov.uk</a></li>
    <li>Email: <a href="#">bluebadge@{{data['council-name'] | lower}}.gov.uk</a></li>
    <li>Phone: 0161 205 7321</li>
  </ul>

</div>

{% endblock %}
