{% extends "admin_layout.html" %}

{% block page_header %}

  <h1>{{title}}</h1>
  
{% endblock %}

{% block content %}

{{ govukPanel({
  "titleText": "Badge ordered",
  "html": "The badge number is<br><strong>ZZ59Z9 1 0957 X1114</strong>"
})
}}

<br>


<h3 class="govuk-heading-m">What happens next</h3>

<p class="govuk-body">The badge holder will recieve a confirmation that a new badge has been ordered.</p>
<p class="govuk-body">The new badge will be delivered to within 10 working days.</p>


{% endblock %}