{% extends "admin_layout.html" %}

{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "#"
    }) }}
  </div>
{% endblock %}

{% block content %}
  
  <form action="manage-users">

    {{ govukInput({
      "label": {
        "text": "First name"    
      },
      id: "first-name",
      name: "first-name",
      classes: "govuk-!-width-one-half"
    }) }}

    {{ govukInput({
      "label": {
        "text": "Last name"    
      },
      id: "last-name",
      name: "last-name",
      classes: "govuk-!-width-one-half"
    }) }}

    {{ govukInput({
      "label": {
        "text": "Email address"    
      },
      type: "email",
      id: "email-address",
      name: "email-address",
      classes: "govuk-!-width-one-half"
    }) }}

    {{ govukRadios({
      "idPrefix": "permissions",
      "name": "permissions",
      "classes": "govuk-c-radios--inline",
      "fieldset": {
        "legendText": "Permissions"
      },
      "items": [
        {
          "value": "standard",
          "text": "Standard"
        },
        {
          "value": "owner",
          "text": "Owner"
        }
      ]
    }) }}

    {{ govukButton({
      "text": "Create user"
    }) }}
    
  </form>

{% endblock %}
