{% extends "admin_layout.html" %}

{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "manage-users"
    }) }}
  </div>
{% endblock %}

{% block content %}
  
  <form action="manage-users">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
        {{ govukInput({
          "label": {
            "text": "Full name"    
          },
          id: "full-name",
          name: "full-name",
          value: "Joe Bloggs"
        }) }}
        
        {{ govukInput({
          "label": {
            "text": "Email address"    
          },
          type: "email",
          id: "email-address",
          name: "email-address",
          value: "joe.bloggs@valtech.co.uk"
        }) }}
        
        {{ govukRadios({
          "idPrefix": "permissions",
          "name": "permissions",
          "classes": "govuk-c-radios--inline",
          "fieldset": {
            "legendText": "Permissions"
          },
          "items": [
            {
              "value": "standard",
              "text": "Standard",
              "checked": "checked"
            },
            {
              "value": "owner",
              "text": "Owner"
            }
          ]
        }) }}
        
        {{ govukButton({
          "text": "Update"
        }) }}
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-half">
        <ul class="govuk-list">
          <li>
            <a href="invitation-resend">Reset invitation email</a>
          </li>
          <li>
            <a href="reset-password">Reset password</a>
          </li>
          <li>
            {{ govukDetails({
              "summaryText": "Remove user",
              "html": '
                        <p>Are you sure you want to remove access for <b>Joe Bloggs</b>?</p>
                        <p>You won\'t be able to undo this.</p>
                        <input value="Remove user" type="submit" class="govuk-c-button">
                        <p class="govuk-body">
                          <a href="?">Cancel</a>
                        </p>' 
            }) }}
          </li>
        </ul>
       
      </div>
    </div>
    
  </form>

{% endblock %}
