{% extends "admin_layout.html" %}

{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "manage-users"
    }) }}
  </div>
{% endblock %}

{% block content %}
  
  
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <form action="manage-users">
      {{ govukInput({
        "label": {
          "text": "Full name"    
        },
        id: "full-name",
        classes: "govuk-!-width-two-thirds",
        name: "full-name",
        value: data['full-name']
      }) }}
      
      {{ govukInput({
        "label": {
          "text": "Email address"    
        },
        type: "email",
        id: "email-address",
        classes: "govuk-!-width-two-thirds",
        name: "email-address",
        value: data['email-address']
      }) }}
      
      {{ govukRadios({
        "idPrefix": "permissions",
        "name": "permissions",
        "classes": "govuk-c-radios--inline",
        "fieldset": {
          "legendText": "Permissions"
        },
        "items": [
          {
            "value": "standard",
            "text": "Standard",
            "checked": data['permissions'] === "standard"
          },
          {
            "value": "owner",
            "text": "Owner",
            "checked": data['permissions'] === "owner"
          }
        ]
      }) }}

      <input id="success" name="success" type="hidden" value="User updated">
      
      {{ govukButton({
        "text": "Update"
      }) }}
    </form>

      <ul class="govuk-list">
        <li>
          {{ govukDetails({
            "summaryText": "Reset password",
            "html": '
                      <form action="manage-users">
                        <p>Are you sure you want to reset the password for <b>' + data['full-name'] + '</b>?</p>
                        <p>We\'ll send them an email to reset their password.</p>
                        <input id="success" name="success" type="hidden" value="Reset password link sent">
                        <input value="Yes, reset password" type="submit" class="govuk-c-button">
                      </form>
                      <p class="govuk-body">
                        <a href="?reset-user">No, don\'t reset password</a>
                      </p>' 
          }) }}
        </li>
        <li>
          {{ govukDetails({
            "summaryText": "Remove user",
            "html": '
                      <form action="manage-users">
                        <p>Are you sure you want to remove access for <b>' + data['full-name'] + '</b>?</p>
                        <p>You won\'t be able to undo this.</p>
                        <input id="success" name="success" type="hidden" value="User removed">
                        <input value="Yes, remove user" type="submit" class="govuk-c-button">
                      </form>
                      <p class="govuk-body">
                        <a href="?reset-user">No, don\'t remove user</a>
                      </p>' 
          }) }}
        </li>
      </ul>
     
    </div>
  </div>
    
{% endblock %}
