{% extends "admin_layout.html" %}

{% block page_title %}
  Admin index
{% endblock %}

{% block content %}

<div class="admin-width-container">
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid">
      <div class="govuk-grid__item govuk-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">
          Admin home
        </h1>
        <p class="govuk-body">
          Welcome to the admin home
        </p>
        <p class="govuk-body">To continue, please <a href="admin/sign-in">sign in</a>.</p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
