{% extends "admin_layout.html" %}

{% block page_header %}
  <h1>{{title}}</h1><p class="count">12</p>
  <div class="search-box-container">
    <form action="" class="search-box">
      {% include "includes/search.html" %}
    </form>
    <div class="search-box__options">
      <a href="/public/images/new-applications.csv">Export all</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ govukTable({
    "firstCellIsHeader": false,
    "head": [
      {
        "text": "Reference"
      },
      {
        "text": "Eligibility",
        "format": "sort"
      },
      {
        "text": "Submitted date",
        "format": "sorted-desc"
      },
      {
        "text": "Expiry date",
        "format": "sort"
      },
      {
        "text": "Name"
      },
      {
        "text": "Badge number"
      }
    ],
    "rows": [
      [
        {
          "html": "<a href=''>123433453</a>"
        },
        {
          "text": "Automatic"
        },
        {
          "text": " 13/10/17 08:44"
        },
        {
          "text": "21/01/17"
        },
        {
          "text": "Carol Armstrong"
        },
        {
          "text": "ZZ59Z9 1 0957 X1117"
        }
      ],
      [
        {
          "html": "<a href='/new-applications/123452425'>123452427</a>"
        },
        {
          "text": "Further assessment"
        },
        {
          "text": "13/10/17 09:01"
        },
        {
          "text": "21/10/17"
        },
        {
          "text": "Michael Holmes"
        },
        {
          "text": "ZZ59Z9 1 0957 X1356"
        }
      ],
      [
        {
          "html": "<a href='/new-applications/123452425'>123452428</a>"
        },
        {
          "text": "Further assessment"
        },
        {
          "text": "13/10/17 09:59"
        },
        {
          "text": "21/10/17"
        },
        {
          "text": "Tarek Hussein"
        },
        {
          "text": "ZZ59Z9 1 0957 X1827"
        }
      ],
      [
        {
          "html": "<a href=''>123452429</a>"
        },
        {
          "text": "Automatic"
        },
        {
          "text": "13/10/17 09:41"
        },
        {
          "text": "21/10/17"
        },
        {
          "text": "Michael Ogbonna"
        },
        {
          "text": "ZZ59Z9 1 0957 X1190"
        }
      ],
      [
        {
          "html": "<a href=''>123452430</a>"
        },
        {
          "text": "Further assessment"
        },
        {
          "text": "13/10/17 09:48"
        },
        {
          "text": "21/10/17"
        },
        {
          "text": "Pontus Jannson"
        },
        {
          "text": "ZZ59Z9 1 0957 X1546"
        }
      ],
      [
        {
          "html": "<a href='/new-applications/123452425'>123452431</a>"
        },
        {
          "text": "Further assessment"
        },
        {
          "text": "13/10/17 11:16"
        },
        {
          "text": "21/10/17"
        },
        {
          "text": "Jay-Sherree Patel"
        },
        {
          "text": "ZZ59Z9 1 0957 X1222"
        }
      ],
      [
        {
          "html": "<a href=''>123452432</a>"
        },
        {
          "text": "Further assessment"
        },
        {
          "text": "13/10/17 11:32"
        },
        {
          "text": "T21/10/17"
        },
        {
          "text": "Howard Townsend-Preecely"
        },
        {
          "text": "ZZ59Z9 1 0957 X1150"
        }
      ],
      [
        {
          "html": "<a href='/new-applications/123452425'>123452426</a>"
        },
        {
          "text": "Further assessment"
        },
        {
          "text": "13/10/17 11:59"
        },
        {
          "text": "21/10/17"
        },
        {
          "text": "Gary Ward"
        },
        {
          "text": "ZZ59Z9 1 0957 X1807"
        }
      ],
      [
        {
          "html": "<a href=''>123452433</a>"
        },
        {
          "text": "Automatic"
        },
        {
          "text": "13/10/17 12:39"
        },
        {
          "text": "21/10/17"
        },
        {
          "text": "Jennifer Carlton"
        },
        {
          "text": "ZZ59Z9 1 0957 X1353"
        }
      ],
      [
        {
          "html": "<a href='/new-applications/123452425'>123452434</a>"
        },
        {
          "text": "Automatic"
        },
        {
          "text": "13/10/17 12:50"
        },
        {
          "text": "21/10/17"
        },
        {
          "text": "Gloria Wincott"
        },
        {
          "text": "ZZ59Z9 1 0957 X1001"
        }
      ]
    ]
  }) }}

{% endblock %}
