{% extends "admin_layout.html" %}

{% block page_header %}

  <!-- <h1>{{title}}</h1> -->
  
{% endblock %}

{% block content %}

{{ govukPanel({
  "titleText": "Replacement badge ordered",
  "html": "The badge number is<br><strong>ZZ59Z9 1 0957 X1114</strong>"
})
}}

<br>


<h3 class="govuk-heading-m">What happens next</h3>

<p class="govuk-body">A replacement badge has been ordered and the old badge has been recorded as {{ data['replacement-reason'] }}.</p>
<p class="govuk-body">The badge holder will receive a confirmation that a new badge has been ordered.</p>
<p class="govuk-body">The new badge will be delivered to {% if data['deliver-to'] === 'Badge holder' %} them{% else %}{{data['deliver-to']}}{% endif %} within 10 working days.</p>


{% endblock %}