{% extends "admin-anon_layout.html" %}

{% block page_title %}
  Sign in
{% endblock %}

{% block content %}

<form action="all-applications" class="sign-in">

  <h1 class="govuk-heading-l">Sign in</h1>
  {% if  data['show'] == "timeout" %}

    {{ govukErrorSummary({
      "titleText": "You've been signed out",
      "errorList": [
        {
          "text": "You were inactive for 2 hours so we've signed you out to secure your account"
        }
      ]
    }) }}

  {% endif %}


  {{ govukInput({
    "label": {
      "text": "Email address"    
    },
    type: "email",
    id: "sign-in-email",
    name: "sign-in-email"
  }) }}

  {{ govukInput({
    "label": {
      "text": "Password"    
    },
    type: "password",
    id: "sign-in-password",
    name: "sign-in-password"
  }) }}

  {{ govukButton({
    "text": "Sign in"
  }) }}

  <p>
    <a href="reset-password">Reset your password</a>
  </p>
  
</form>

{% endblock %}
