{% extends "admin-anon_layout.html" %}

{% block page_title %}
  Sign in
{% endblock %}

{% block content %}

<form action="all-applications" class="sign-in">

  <h1 class="govuk-heading-l">Sign in</h1>
<!-- 
  {{ govukErrorSummary({
    "titleText": "Fix the following errors",
    "errorList": [
      {
        "text": "You've entered the wrong email or password",
        "href": "#sign-in-email"
      }
    ]
  }) }} -->

  {{ govukInput({
    "label": {
      "text": "Email address"    
    },
    type: "email",
    id: "sign-in-email",
    name: "sign-in-email"
  }) }}

  {{ govukInput({
    "label": {
      "text": "Password"    
    },
    type: "password",
    id: "sign-in-password",
    name: "sign-in-password"
  }) }}

  {{ govukButton({
    "text": "Sign in"
  }) }}

  <p>
    <a href="reset-password">Reset your password</a>
  </p>
  
</form>

{% endblock %}
