/* Overrides for the admin theme */
@import "patterns/admin-typography";
@import "patterns/admin-forms";
@import "patterns/admin-header";
@import "patterns/admin-side-nav";
@import "patterns/admin-search";
@import "patterns/admin-tables";
@import "patterns/admin-layout";

.html-admin {
	background: white;
}

#adminTheme {
	.header-wrapper {
		max-width: none;
	}
	#global-header .header-proposition {
		padding-top: 0;
	}
	#global-header .header-proposition #proposition-name {
		@include govuk-font-bold-19;
	}
	#global-header.with-proposition .header-wrapper .header-proposition {
		width: 100%;
	}
	.govuk-c-label,
	.govuk-c-error-message {
		@include govuk-font-regular-16;
	}
	thead tr {
	  border-bottom: 2px solid $govuk-grey-3;
	}
	td {
		@include govuk-font-regular-16;
		border-color: $govuk-grey-3;
		a {
			display: block;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	th {
		@include govuk-font-bold-16;
	}
	.back-link-container {
		margin-top: -30px;
		margin-bottom: 30px;
	}
	.system-error {
		a {
			color: $govuk-link-colour;
			@include govuk-font-regular-19;
		}
	}
}

.admin-width-container {
	padding-left: 30px; 
	padding-right: 30px;
}

.admin-page-header {
	margin-bottom: 30px;
}