/*------------------------------------*\
  Search
\*------------------------------------*/

/*Testing*/

.search-box-container {
  background: $govuk-grey-4;
  margin-top: 25px;
  padding: 20px;
}

.search-filter-container {
  display: inline-block;
  .govuk-o-form-group {
    margin-bottom: 0;
  }
  select {
    border: 2px solid $govuk-grey-3;
  }
}

.inline-search-wrapper {
  position: relative;
}

.search-box {
  @include govuk-font-regular-19;
  display: inline-block;
  input[type="text"] {
    @include govuk-font-regular-19;
  	padding: 9px 15px 6px;
  	border: 2px solid $govuk-grey-3;
  	outline: none;
  	width: 275px;
  	&:focus {
  		border: 2px solid $govuk-yellow;
  	}
  }
  .inline-search-button {
    background-color: transparent;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: right 5px top 6px;
    border: none;
    cursor: pointer;
    height: 30px; width: 30px;
    margin: 0;
    margin-top: -15px;
    position: absolute; 
    right: 5px; top: 50%;
  }
}

.search-box__options {
  @include govuk-font-regular-16;
  float: right; 
  p {
    display: inline-block;
    margin: 0;
  }
  a {
    margin-left: 5px;
  }
}