/*------------------------------------*\
  Search
\*------------------------------------*/

/*Testing*/

.search-box {
  @include govuk-font-regular-19;
  background: $govuk-grey-4;
  padding: 20px;
  margin-top: 25px;
  input {
    @include govuk-font-regular-19;
  	padding: 9px 15px 6px;
  	border: 2px solid $govuk-grey-3;
  	outline: none;
  	width: 275px;
  	background-image: url('../images/search.svg');
  	background-repeat: no-repeat;
  	background-position: right 10px top 10px;
  	&:focus {
  		border: 2px solid $govuk-yellow;
  	}
  }
}

.search-box__options {
  @include govuk-font-regular-16;
  float: right; 
  p {
    display: inline-block;
    margin: 0;
  }
  a {
    margin-left: 5px;
  }
}