/* Overrides for the admin theme */
@import "patterns/admin-typography";
@import "patterns/admin-forms";
@import "patterns/admin-header";
@import "patterns/admin-side-nav";
@import "patterns/admin-search";
@import "patterns/admin-tables";
@import "patterns/admin-layout";

.html-admin {
	background: white;
}

.success-panel {
	@include govuk-font-regular-19;
	background: rgba($govuk-turquoise, 0.8);
	color: white;
	display: none;
	padding: 0 60px;
	margin: -47px 0 60px -60px;
	width: 100%;
	p {
		display: inline-block;
		margin-right: -4px;
		width: 60%;
	}
	.success-panel__close {
		color: white;
		display: inline-block;
		margin-right: -4px;
		text-align: right;
		width: 40%;
	}
	&.sign-in-success {
		margin: 0;
		padding: 0 30px;
		width: auto;
	}
}

#adminTheme {
	.header-wrapper {
		max-width: none;
	}
	#global-header .header-proposition {
		padding-top: 0;
	}
	#global-header .header-proposition #proposition-name {
		@include govuk-font-bold-19;
	}
	#global-header.with-proposition .header-wrapper .header-proposition {
		width: 100%;
	}
	.govuk-fieldset__legend {
		@include govuk-font-bold-19;
	}
	.govuk-label,
	.govuk-hint,
	.govuk-fieldset__hint,
	.govuk-select,
	.govuk-body,
	.govuk-list,
	.govuk-file-upload,
	details,
	summary {
		@include govuk-font-regular-16;
	}
	.govuk-error-message {
		@include govuk-font-bold-16;
	}
	// .fieldset-with-inputs .govuk-fieldset__legend {
	// 	margin-bottom: 0;
	// }
	.govuk-fieldset__legend {
		margin-bottom: 5px;
	}
	.govuk-check-your-answers__question{
		@include govuk-font-bold-16;
	}
	.govuk-check-your-answers__answer,
	.govuk-check-your-answers__change {
		@include govuk-font-regular-16;
		img {
			outline: 2px solid $govuk-grey-2;
			border: 2px solid white;
			width: 8rem;
		}
	}
	.search-filter {
		display: inline-block;
	}
	thead tr {
	  border-bottom: 2px solid $govuk-grey-3;
	}
	td {
		@include govuk-font-regular-16;
		border-color: $govuk-grey-3;
		a {
			display: block;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	th {
		@include govuk-font-bold-16;
	}
	.back-link-container {
		margin-top: -30px;
		margin-bottom: 30px;
	}
	.system-error {
		a {
			color: $govuk-link-colour;
			@include govuk-font-regular-19;
		}
	}
}

.check-answers-heading-with-change {
	@include mq($from: tablet) {
		.check-answers-heading {
			display: inline-block;
			width: 60%;
			margin-right: -4px;
		}
		.check-answers-change {
			@include govuk-font-regular-19;
			display: inline-block;
			width: 40%;
			margin-right: -4px;
			text-align: right;
		}
	}
}

.admin-width-container {
	padding-left: 30px; 
	padding-right: 30px;
}

.admin-page-header {
	margin-bottom: 30px;
}