#adminTheme {
  background: white;
  overflow: hidden;
}

body {
  overflow: hidden;
}

a,
a:visited {
	color: $la-blue;
}

#adminContent {
  @include govuk-font-regular-16;
  overflow: auto;
  width: 100%;
  height: calc(100vh - 60px);
  box-sizing: border-box;
  padding: 20px 15px;
  max-width: none;
  float: left;
  margin: 0;
  background: white;
  @include mq($from: desktop) {
    width: calc(100% - 300px);
    padding: 47px 60px;
  }
}

.content-wrapper {
  max-width: 1080px;
}