// File upload
.file-upload__input {
  display: none;
}

.govuk-link {
	&.fake-link {
		cursor: pointer;
		color: $govuk-link-colour;
		text-decoration: underline;
	}
}

// Loader
.loading {
  text-align: center;
  &__text {
    font-weight: 600;
    margin-top: -10px;
  }
  &__spinner {
    display: inline-block;
    height: 75px;
    width: 75px;
    background: url('../images/spinner.png') no-repeat 0 0;
    background: url('../images/spinner.svg') no-repeat 0 0;
    background-size: 100% 100%;
  }
}

// Styles for webcam capture. Start
.video-container {
  overflow: hidden;
  display: block;
  width: 191px;
  height: 255px;
}

.video-container video {
  margin-left: -36%;
  transform: rotateY(180deg);
}

.photo-container {
  overflow: hidden;
  display: block;
  height: 255px;
  width: 191px;
  position: relative;
}

.photo-container img {
  object-fit: cover;
  transform: rotateY(180deg);
}

.photo-container #blackbox {
  position: absolute;
  top: 0px;
  bottom: 16px;
  left: 0px;
  right: 0px;
  background: black;
}

@media (min-width: 640px) {
  .video-help-text {
    margin-top: 69px;
  }
}


.hidden-mobile,
.hidden-tablet {
  display: none;
}

@include mq($from: tablet) {
  .hidden-mobile {
    display: block;
  }
}
@include mq($until: tablet) {
  .hidden-tablet {
    display: block;
  }
}

.govuk-c-details {
	&.file-upload {
		margin-bottom: $govuk-spacing-scale-1;
	}
}