// File upload
.file-upload__input {
  display: none;
}

.govuk-link {
	&.fake-link {
		cursor: pointer;
		color: $govuk-link-colour;
		text-decoration: underline;
	}
}

.hidden {display: none;}

.responsive-image {
  max-width: 100%;
}

.passport-photo {
  margin-bottom: 30px;
  max-width: 150px;
}

.passport-help-photo {
  margin-bottom: 30px;
}

.countdown-timer {
  @include govuk-font(80);
  font-size: 120px !important;
  text-align: center;
}

.input-capitals {
  text-transform: uppercase;
}

.govuk-button.govuk-button--secondary{
  background-color: govuk-colour(grey-3);
  color: govuk-colour(black);
  box-shadow: govuk-colour(grey-2) 0px 2px 0px 0px;
}

.govuk-details.hidden {
  display: none;
}

.save-progress-container {
  @include govuk-font(19, $weight: bold);
  margin-top: govuk-spacing(2);
  &.hidden-mobile {
    margin-bottom: 0;
    text-align: right;
  }
  a {
    // text-decoration: none;
    // border-bottom: 1px solid $govuk-blue;
  }
}

// Loader
.loading {
  text-align: center;
  &__text {
    font-weight: 600;
    margin-top: -10px;
  }
  &__spinner {
    display: inline-block;
    height: 75px;
    width: 75px;
    background: url('../images/loading.gif') no-repeat 0 0;
    background-size: 100% 100%;
  }
}

// Styles for webcam capture. Start
.video-container {
  overflow: hidden;
  display: block;
  width: 191px;
  height: 255px;
}

.video-container video {
  margin-left: -36%;
  transform: rotateY(180deg);
}

.photo-container {
  overflow: hidden;
  display: block;
  height: 255px;
  width: 191px;
  position: relative;
}

.photo-container img {
  object-fit: cover;
  transform: rotateY(180deg);
}

.photo-container #blackbox {
  position: absolute;
  top: 0px;
  bottom: 16px;
  left: 0px;
  right: 0px;
  background: black;
}

@media (min-width: 640px) {
  .video-help-text {
    margin-top: 69px;
  }
}

.hidden-touch {
  display: none;
  .is-desktop & {
    display: block;
  }
}
.hidden-mouse {
  display: none;
  .is-mobile & {
    display: block;
  }
}

.hidden-mobile,
.hidden-tablet {
  display: none;
}

@include mq($from: tablet) {
  .hidden-mobile {
    display: block;
  }
}
@include mq($until: tablet) {
  .hidden-tablet {
    display: block;
  }
}

.govuk-details {
	&.file-upload {
		margin-bottom: govuk-spacing(1);
	}
}

.govuk-list {
  label & {
    margin-bottom: 0;
  }
}