.expanding-panel {
	display: none;
	margin-bottom: $govuk-spacing-scale-4;
	@include mq($from: tablet) {
		margin-bottom: $govuk-spacing-scale-6;
	}
}

.has-error {
	.govuk-c-details__text {
		border: none;
		padding-left: 0;
		input {
			margin-bottom: 5px;
		}
	}
}