.expanding-panel {
	display: none;
	margin-bottom: $govuk-spacing-scale-4;
	@include mq($from: tablet) {
		margin-bottom: $govuk-spacing-scale-6;
	}
}

.has-error {
	.govuk-details__text {
		border: none;
		padding-left: 0;
		input {
			margin-bottom: 5px;
		}
	}
}

.govuk-details {
	li & {
		margin-bottom: 0;
	}
}

.govuk-radios__conditional {
	.govuk-form-group--error {
		margin-left: -37px; /* Hacky solution to style the error inside the conditional reveal */
		padding-left: 30px;
	}
}

.form-section, .split-section {
	border-bottom: 1px solid $govuk-grey-3;
	@include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
	padding-top: 1rem;
	padding-bottom: 1rem;
	&:last-of-type {
		border: none;
		margin-bottom: 0;
	}
}
.split-section {
	border: none;
}