.guidance-layout {
	.govuk-back-link {
		margin-bottom: 0;
	}
}

.guidance-container {
	background: $govuk-blue;
	color: $govuk-white;
	padding: $govuk-spacing-scale-6;
	h1, h2, h3, p, ul, legend, label {
		color: $govuk-white;
		max-width: 60rem;
	}
	p.govuk-body, label, li {
		@include govuk-font-regular-24;
	}
	.govuk-button {
		background-color: $govuk-white;
		color: $govuk-blue;
		box-shadow: darken($govuk-blue, 20%) 0px 2px 0px 0px;
	}
	img {
		margin-bottom: $govuk-spacing-scale-6;
	}
}

.guidance-numbered-steps {
	@include govuk-font-regular-24;
	li {
		margin-bottom: $govuk-spacing-scale-2;
	}
}

.guidance-titles-wrapper {
	@include govuk-clearfix;
}

.guidance-page-title-wrapper {
	@include mq($from: tablet) {
		float: left;
	}
}

.guidance-title-wrapper {
	@include mq($from: tablet) {
		float: right;
		text-align: right;
	}
	margin-bottom: $govuk-spacing-scale-6;
}

.guidance-title {
	@include govuk-font-bold-19;
}

.guidance-step-count {
	@include govuk-font-regular-19;
	display: block;
}