{% extends "admin_layout.html" %}

{% block page_header %}
  <h1>{{title}}</h1><p class="count">29</p>
  <div class="search-box-container">
    <form action="" class="search-box">
      {% include "includes/search.html" %}
    </form>
    <div class="search-box__options">
      <a href="/public/images/new-applications.csv">Export all</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ govukTable({
    "firstCellIsHeader": false,
    "head": [
      {
        "text": "Reference"
      },
      {
        "text": "Type",
        "format": "sort"
      },
      {
        "text": "Name"
      },
      {
        "text": "Submitted date",
        "format": "sorted-desc"
      },
      {
        "text": "Badge number"
      }
    ],
    "rows": [
      [
        {
          "html": "<a href=''>123433453</a>"
        },
        {
          "text": "Renewal"
        },
        {
          "text": "Joe Bloggs"
        },
        {
          "text": "13/01/17 13:04"
        },
        {
          "text": "ZZ59Z9 1 0957 X1114"
        }
      ],
      [
        {
          "html": "<a href='new-application'>123452427</a>"
        },
        {
          "text": "New application"
        },
        {
          "text": "Sarah Galloway"
        },
        {
          "text": "13/01/17 11:35"
        },
        {
          "text": "N/A"
        }
      ],
      [
        {
          "html": "<a href='new-application'>123452428</a>"
        },
        {
          "text": "New application"
        },
        {
          "text": "Jeff Veen"
        },
        {
          "text": "13/01/17 09:33"
        },
        {
          "text": "N/A"
        }
      ],
      [
        {
          "html": "<a href=''>123452429</a>"
        },
        {
          "text": "Renewal"
        },
        {
          "text": "Jay Nathan"
        },
        {
          "text": "13/01/17 21:07"
        },
        {
          "text": "ZZ59Z9 1 0957 X1117"
        }
      ],
      [
        {
          "html": "<a href=''>123452430</a>"
        },
        {
          "text": "Cancellation"
        },
        {
          "text": "Scott Walker"
        },
        {
          "text": "13/01/17 18:20"
        },
        {
          "text": "ZZ59Z9 1 0957 X1123"
        }
      ],
      [
        {
          "html": "<a href='new-application'>123452431</a>"
        },
        {
          "text": "New application"
        },
        {
          "text": "Adam Kayoom"
        },
        {
          "text": "13/01/17 18:19"
        },
        {
          "text": "N/A"
        }
      ],
      [
        {
          "html": "<a href=''>123452432</a>"
        },
        {
          "text": "Update"
        },
        {
          "text": "Tilda Vaughn"
        },
        {
          "text": "13/01/17 17:49"
        },
        {
          "text": "ZZ59Z9 1 0957 X1154"
        }
      ],
      [
        {
          "html": "<a href='new-application'>123452426</a>"
        },
        {
          "text": "New application"
        },
        {
          "text": "Margaret Miller"
        },
        {
          "text": "13/01/17 13:01"
        },
        {
          "text": "N/A"
        }
      ],
      [
        {
          "html": "<a href=''>123452433</a>"
        },
        {
          "text": "Renewal"
        },
        {
          "text": "Margaret Cowell"
        },
        {
          "text": "13/01/17 13:04"
        },
        {
          "text": "ZZ59Z9 1 0957 X1166"
        }
      ],
      [
        {
          "html": "<a href='new-application'>123452434</a>"
        },
        {
          "text": "New application"
        },
        {
          "text": "Raksha Patel"
        },
        {
          "text": "13/01/17 13:13"
        },
        {
          "text": "N/A"
        }
      ]
    ]
  }) }}

  {% include "includes/admin-table_footer.html" %}
{% endblock %}
