{% extends "admin_layout.html" %}

{% block page_header %}

  <!-- <h1>{{title}}</h1> -->
  
{% endblock %}

{% block content %}

{{ govukPanel({
  "titleText": "Badge cancelled",
  "html": "Badge number<br><strong>ZZ59Z9 1 0957 X1114</strong>"
	})
}}

<br>

<h3 class="govuk-heading-m">What happens next</h3>

{% if data['cancelled-reason'] === "Deceased" %}
<p class="govuk-body">The badge has been cancelled and the badge will need to be destroyed.</p>

{% else %}

<p class="govuk-body">{{ data['fullName']}} will receive confirmation that the badge has been cancelled and the badge will need to be destroyed.</p>

{% endif %}

{% endblock %}