{% extends "admin_layout.html" %}

{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  </div>
{% endblock %}

{% block page_header %}

  <p class="subtitle">E5B1AF</p>
  <h1>{{title}}</h1>
  
{% endblock %}

{% block content %}

<form action="badge-cancelled" method="post" class="form" novalidate>
  
  {{ govukRadios({
    "idPrefix": "cancelled-reason",
    "name": "cancelled-reason",
    "fieldset": {
      "legend": {
        "text": 'Reason'
      }
    },
    "items": [
      {
        "value": "Deceased",
        "text": "Deceased"
      },
      {
        "value": "No longer needed",
        "text": "No longer needed"
      },
      {
        "value": "Revoked",
        "text": "Revoked"
      }
    ]
  }) }}


  {{ govukButton({
    "text": "Cancel badge"
  }) }}

</form>

{% endblock %}