{% extends "admin_layout.html" %}


{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  </div>
{% endblock %}

{% block page_header %}
  <div class="check-answers-heading-with-change">
    <div class="check-answers-heading">
      <p class="subtitle">1234542525</p>
      <h1>{{title}}</h1>
    </div>
  
    <div class="check-answers-change">
      <p>
        <a href="#applicationDetails">View application details &darr;</a>
      </p>
    </div>
  
  </div>
  
{% endblock %}

{% block content %}

<section class="split-section">
  <h2 class="govuk-heading-m">
    Personal details
  </h2>
  
  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Full name
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Margaret Miller
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Gender
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Female
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Date of birth
      </dt>
      <dd class="govuk-check-your-answers__answer">
        12 May 1940
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        National insurance number
      </dt>
      <dd class="govuk-check-your-answers__answer">
        JR 12 34 56 A
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Home address
      </dt>
      <dd class="govuk-check-your-answers__answer">
        114 Mansfield Road, Crumpsall, Manchester, M8 ITG <br>
        (25 years)
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Contact details
      </dt>
      <dd class="govuk-check-your-answers__answer">
        01331 252 226 <br>
        m.miller@email.com
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Proof of identity
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <a href="">driving_license.jpg</a>
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Proof of address
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <a href="">council_tax.jpg</a>
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Photo
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <img src="/public/images/margaret.png" alt="Photo of Margaret Miller">
      </dd>
    </div>
  </dl>
</section>

<section class="split-section">
  <h2 class="govuk-heading-m">
    Proof of eligibility
  </h2>
  
  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Reason for applying
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Can not walk or finds walking very difficult
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Walking difficulty
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Excessive pain,<br />
        Breathlessness
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Mobility aids
      </dt>
      <dd class="govuk-check-your-answers__answer">
          None
      </dd>
    </div>

<!--     <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        How the mobility aids were provided
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Prescribed <br>
        Social services
      </dd>
    </div> -->
    
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Walking duration
      </dt>
      <dd class="govuk-check-your-answers__answer">
        A few minutes
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Walking speed
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Much slower than other people
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Health condition
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Arthritic kneees, quardruple heart bypass, high blood pressure and shortness or breath. Also suffer from chronic sleep Apnoea. Insulin dependent diabetic.
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Treatments
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Quadruple heart bypass surgery, 20/04/2009<br />
        C-pap manchine used to breath when asleep, 20/08/1996<br />
        Stents inserted intp arteries, 10/01/2007
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Medication
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Simvastatin, Prescribed 40mg, daily<br />
        Bisoprolol, Prescribed, 10mg, daily<br />
        Amlodipine, Prescibed, 10mg, daily<br />
        Ramipril, Prescibed, 10mg, daily<br />
        Aspirin, Not prescibed, 75mg, daily<br />
        Dilaglutide (Insulin for diabetese), Prescribed, 1.5m/0.5ml solution, weekly<br />
        Humilin, Prescribed, 2x daily<br />
        Metformin, Prescribed, 1000mg, 2x daily<br />
        Paracetamol, Not prescibed, When required<br />
        Pain gel, Not prescibed, When required
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Healthcare professionals
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Doctor Paul Bundy, Manchester Hospital <br>
        Doctor Michael Willington, Crumpsall Surgery
      </dd>
    </div>
  </dl>
</section>

<section class="split-section" id="applicationDetails">
  <h2 class="govuk-heading-m">
    Application details
  </h2>

  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Reference
      </dt>
      <dd class="govuk-check-your-answers__answer">
        1234542525
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Submitted
      </dt>
      <dd class="govuk-check-your-answers__answer">
        13 June 2018 at 13:04
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Applicant
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Self applicant
      </dd>
    </div>
  </dl>
</section>

{{ govukButton({
    "text": "Order badge",
    "href": "order-a-badge/processing"
  }) }}

<p><a href="">Export application</a></p>

  {{ govukDetails({
    "summaryText": "Delete application",
    "html": '
              <form action="all-applications">
                <p>Are you sure you want to delete this application?</p>
                <input id="success" name="success" type="hidden" value="Application deleted">
                <input value="Yes, delete application" type="submit" class="govuk-button">
              </form>
              <p class="govuk-body">
                <a href="#">No, don\'t delete the application</a>
              </p>' 
  }) }}

{% endblock %}