{% extends "admin_layout.html" %}


{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  </div>
{% endblock %}

{% block page_header %}
  <div class="check-answers-heading-with-change">
    <div class="check-answers-heading">
      <p class="subtitle">1234542525</p>
      <h1>{{title}}</h1>
    </div>
  
    <div class="check-answers-change">
      <p>
        <a href="#applicationDetails">View application details &darr;</a>
      </p>
    </div>
  
  </div>
  
{% endblock %}

{% block content %}

<section class="split-section">
  <h2 class="govuk-heading-m">
    Personal details
  </h2>
  
  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Full name
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Michael David
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Gender
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Male
      </dd>
    </div>


    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Date of birth
      </dt>
      <dd class="govuk-check-your-answers__answer">
        11 February 1962
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        National insurance number
      </dt>
      <dd class="govuk-check-your-answers__answer">
        JR 12 34 56 A
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Home address
      </dt>
      <dd class="govuk-check-your-answers__answer">
        51 Mansfield Road, Crumpsall, Manchester, M8 ITG <br>
        (25 years)
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Contact details
      </dt>
      <dd class="govuk-check-your-answers__answer">
        01331 252 226 <br>
        m.david@email.com
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Proof of identity
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <a href="">driving_license.jpg</a>
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Proof of address
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <a href="">council_tax.jpg</a>
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Photo
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <img src="/public/images/michael.png" alt="Photo of Michael David">
      </dd>
    </div>
  </dl>
</section>

<section class="split-section">
  <h2 class="govuk-heading-m">
    Proof of eligibility
  </h2>
  
  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Reason for applying
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Can't walk or finds walking very difficult
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Walking difficulty
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Excessive pain,<br />
        Balance or coordination
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Mobility aids
      </dt>
      <dd class="govuk-check-your-answers__answer">
          None
      </dd>
    </div>
<!-- 
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        How the mobility aids were provided
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Prescribed <br>
        Social services
      </dd>
    </div> -->
    
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Walking duration
      </dt>
      <dd class="govuk-check-your-answers__answer">
        A few minutes
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Walking speed
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Slower (than other people)
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Health condition
      </dt>
      <dd class="govuk-check-your-answers__answer">
        I have four prolapsed discs severe lipped vertebrae and degenerative arthritis in my lower spine which causes me to have diffulty walking due to the severe pain. My condition is not going to improve they is no treatment just pain relief.
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Treatments
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Manchester medical centre, 26/03/2018
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Medication
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Naproxine, Prescribed, 500mg, Twice daily or as required<br />
        Gabapentin, Prescribed, 100mg, 3 times a day<br />
        Zapain 30mg/500mg 1-2 upto four times a day       
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Healthcare professionals
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Doctor Paul Bundy, Manchester Hospital
      </dd>
    </div>
  </dl>
</section>

<section class="split-section" id="applicationDetails">
  <h2 class="govuk-heading-m">
    Application details
  </h2>

  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Reference
      </dt>
      <dd class="govuk-check-your-answers__answer">
        1234542525
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Submitted
      </dt>
      <dd class="govuk-check-your-answers__answer">
        13 June 2018 at 13:04
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Applicant
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Self applicant
      </dd>
    </div>
  </dl>
</section>

{{ govukButton({
    "text": "Order badge",
    "href": "order-a-badge/processing"
  }) }}

<p><a href="">Export application</a></p>

  {{ govukDetails({
    "summaryText": "Delete application",
    "html": '
              <form action="all-applications">
                <p>Are you sure you want to delete this application?</p>
                <input id="success" name="success" type="hidden" value="Application deleted">
                <input value="Yes, delete application" type="submit" class="govuk-button">
              </form>
              <p class="govuk-body">
                <a href="#">No, don\'t delete the application</a>
              </p>' 
  }) }}

{% endblock %}