{% extends "admin_layout.html" %}

{% block page_header %}
  <h1>{{title}}</h1><p class="count">36</p>
  <div class="search-box-container">
    <form action="" class="search-box">
      {% include "includes/search.html" %}
    </form>
    <div class="search-box__options">
      <a href="/public/images/new-applications.csv">Export all</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ govukTable({
    "firstCellIsHeader": false,
    "head": [
      {
        "text": "Reference"
      },
      {
        "text": "Name"
      },
      {
        "text": "Eligibility"
      },
      {
        "text": "Submitted date",
        "format": "sorted-desc"
      }
    ],
    "rows": [
      [
        {
          "html": "<a href=''>1234334523</a>"
        },
        {
          "text": "Joe Louis Bloggs"
        },
        {
          "text": "PIP"
        },
        {
          "text": "13/01/17 13:04"
        }
      ],
      [
        {
          "html": "<a href='new-application-walking'>1234542525</a>"
        },
        {
          "text": " Margaret Kate Miller"
        },
        {
          "text": "Walking ability"
        },
        {
          "text": "13/01/17 11:35"
        }
      ],
      [
        {
          "html": "<a href='new-application-walking-2'>1234522428</a>"
        },
        {
          "text": "Michael Austin David"
        },
        {
          "text": "Walking ability"
        },
        {
          "text": "13/01/17 09:39"
        }
      ],
      [
        {
          "html": "<a href='new-application-arms'>1234522428</a>"
        },
        {
          "text": "Jeffery Victor Veen"
        },
        {
          "text": "Disability in both arms"
        },
        {
          "text": "13/01/17 09:33"
        }
      ],
      [
        {
          "html": "<a href=''>1234252429</a>"
        },
        {
          "text": "St Mary's Care Home"
        },
        {
          "text": "Organisation"
        },
        {
          "text": "13/01/17 21:07"
        }
      ],
      [
        {
          "html": "<a href=''>1234522430</a>"
        },
        {
          "text": "Scott Michael Walker"
        },
        {
          "text": "DLA"
        },
        {
          "text": "13/01/17 18:20"
        }
      ],
      [
        {
          "html": "<a href='new-application-child-bulky'>1232452431</a>"
        },
        {
          "text": "Adam David Kayoom"
        },
        {
          "text": "Child with bulky equipment"
        },
        {
          "text": "13/01/17 18:19"
        }
      ],
      [
        {
          "html": "<a href=''>1234522432</a>"
        },
        {
          "text": "Tilda Tabatha Vaughn"
        },
        {
          "text": "DLA"
        },
        {
          "text": "13/01/17 17:49"
        }
      ],
      [
        {
          "html": "<a href='new-application-child-near'>1234252426</a>"
        },
        {
          "text": "Lucy Eve Kraven"
        },
        {
          "text": "Child near a vehicle"
        },
        {
          "text": "13/01/17 13:01"
        }
      ],
      [
        {
          "html": "<a href=''>1223452433</a>"
        },
        {
          "text": "Margaret Sheila Cowell"
        },
        {
          "text": "PIP"
        },
        {
          "text": "13/01/17 13:04"
        }
      ],
      [
        {
          "html": "<a href='new-application'>1234522434</a>"
        },
        {
          "text": "Raksha Patel"
        },
        {
          "text": "War Veterans"
        },
        {
          "text": "13/01/17 13:13"
        }
      ]
    ]
  }) }}

  {% include "includes/admin-table_footer.html" %}
{% endblock %}
