{% extends "admin_layout.html" %}


{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  </div>
{% endblock %}

{% block page_header %}
  <div class="check-answers-heading-with-change">
    <div class="check-answers-heading">
      <p class="subtitle">1232452431</p>
      <h1>{{title}}</h1>
    </div>
  
    <div class="check-answers-change">
      <p>
        <a href="#applicationDetails">View application details &darr;</a>
      </p>
    </div>
  
  </div>
  
{% endblock %}

{% block content %}

<section class="split-section">
  <h2 class="govuk-heading-m">
    Personal details
  </h2>
  
  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Full name
      </dt>
      <dd class="govuk-check-your-answers__answer">
          Adam Kayoom
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Gender
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Male
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Date of birth
      </dt>
      <dd class="govuk-check-your-answers__answer">
        20 Nov 2017
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        National insurance number
      </dt>
      <dd class="govuk-check-your-answers__answer">
        N/A
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Home address
      </dt>
      <dd class="govuk-check-your-answers__answer">
        12 Town Street, Salford, M6 2KD
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Contact details
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Sarah Kayoom <br>
        0161 234 234 <br>
        sarah.kayoom@email.com
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Proof of identity
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <a href="">birth_certificate.jpg</a>
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Proof of address
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <a href="">birth_certificate.jpg</a>
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Photo
      </dt>
      <dd class="govuk-check-your-answers__answer">
        <img src="/public/images/adam.png" alt="Photo of Margaret Miller">
      </dd>
    </div>
  </dl>
</section>

<section class="split-section">
  <h2 class="govuk-heading-m">
    Proof of eligibility
  </h2>
  
  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Reason for applying
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Child that needs to be accompanied by bulky medical equipment
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Medical equipment
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Larger buggy,
        2 x suction machines,
        Nebuliser equipment,
        Charging equipment,
        Emergency Trascheostomy bag
        Reuscitation equipment,
        Neck roll
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Health condition
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Tracheostomy in situ
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Healthcare professionals
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Doctor Paul Bundy, Manchester Hospital <br>
        Doctor Michael Willington, Crumpsall Surgery
      </dd>
    </div>
  </dl>
</section>

<section class="split-section" id="applicationDetails">
  <h2 class="govuk-heading-m">
    Application details
  </h2>

  <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Reference
      </dt>
      <dd class="govuk-check-your-answers__answer">
        1232452431
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Type
      </dt>
      <dd class="govuk-check-your-answers__answer">
        New application
      </dd>
    </div>
  
    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Submitted
      </dt>
      <dd class="govuk-check-your-answers__answer">
        13 June 2018 at 13:04
      </dd>
    </div>

    <div class="govuk-check-your-answers__contents">
      <dt class="govuk-check-your-answers__question">
        Applicant
      </dt>
      <dd class="govuk-check-your-answers__answer">
        Jane Kayoom (Mother)
      </dd>
    </div>
  </dl>
</section>

{{ govukButton({
    "text": "Order badge",
    "href": "order-a-badge/processing"
  }) }}

<p><a href="">Export application</a></p>

  {{ govukDetails({
    "summaryText": "Delete application",
    "html": '
              <form action="all-applications">
                <p>Are you sure you want to delete this application?</p>
                <input id="success" name="success" type="hidden" value="Application deleted">
                <input value="Yes, delete application" type="submit" class="govuk-button">
              </form>
              <p class="govuk-body">
                <a href="#">No, don\'t delete the application</a>
              </p>' 
  }) }}

{% endblock %}