{% extends "admin_layout.html" %}

{% block page_header %}

  <!-- <h1>{{title}}</h1> -->
  
{% endblock %}

{% block content %}

{{ govukPanel({
  "titleText": "Replacement badge ordered",
  "html": "The badge number is<br><strong>E5B1AF</strong>"
})
}}

<br>


<h3 class="govuk-heading-m">What happens next</h3>

<p class="govuk-body">A replacement badge has been ordered and the old badge has been cancelled.</p>
<p class="govuk-body">{{ data['fullName']}} will receive confirmation that their badge has been ordered.</p>
<p class="govuk-body">The badge will be delivered within 10 working days.</p>

{% endblock %}