{% extends "admin_layout.html" %}

{% block back_link %}
  <div class="back-link-container">
    {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  </div>
{% endblock %}

{% block page_header %}

  <p class="subtitle">ZZ59Z9 1 0957 X1114</p>
  <h1>{{title}}</h1>
  
{% endblock %}

{% block content %}

<p class="govuk-body">Their old badge will be cancelled immediately and a new one ordered. <br> If they need to update any of their details, you should <a href="/admin/update">update their badge</a> first.</p>


<form action="replacement-ordered" method="post" class="form" novalidate>
  
  {{ govukRadios({
    "idPrefix": "replacement-reason",
    "name": "replacement-reason",
    "fieldset": {
      "legend": {
        "text": 'Reason'
      }
    },
    "items": [
      {
        "value": "Lost",
        "text": "Lost"
      },
      {
        "value": "Damaged",
        "text": "Damaged"
      },
      {
        "value": "Stolen",
        "text": "Stolen"
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "deliver-to",
    "name": "deliver-to",
    "classes": "govuk-radios--inline",
    "fieldset": {
      "legend": {
        "text": 'Deliver to'
      }
    },
    "items": [
      {
        "value": "Badge holder",
        "text": "Badge holder"
      },
      {
        "value": "Manchester City Council",
        "text": "Manchester City Council"
      }
    ]
  }) }}

  {{ govukRadios({
    "idPrefix": "delivery-options",
    "name": "delivery-options",
    "classes": "govuk-radios--inline",
    "fieldset": {
      "legend": {
        "text": 'Delivery options'
      }
    },
    "items": [
      {
        "value": "Standard delivery",
        "text": "Standard delivery"
      },
      {
        "value": "Fast track",
        "text": "Fast track (more expensive)"
      }
    ]
  }) }}


  {{ govukButton({
    "text": "Order replacement"
  }) }}

</form>

{% endblock %}