{% extends "admin_layout.html" %}

{% block page_header %}

  <h1>{{title}}</h1>
  
{% endblock %}

{% block content %}


<form action="search-results" novalidate>
  
  {{ govukRadios({
    "idPrefix": "search-by",
    "name": "search-by",
    "fieldset": {
      "legend": {
        "text": 'Search for Blue Badges in the UK by:'
      }
    },
    "items": [
      {
        "value": "badge-number",
        "text": "Badge number"
      },
      {
        "value": "name",
        "text": "Name"
      },
      {
        "value": "postcode",
        "text": "Postcode"
      }
    ]
  }) }}

  {{ govukInput({
    "label": {
      "text": "Enter keywords"
    },
    classes: "govuk-!-width-one-half",
    id: "badge-search",
    name: "badge-search"
  }) }}


  {{ govukButton({
    "text": "Search"
  }) }}

</form>

{% endblock %}