{% extends "admin-anon_layout.html" %}

{% block content %}

<form action="/admin/sign-in" class="sign-in" novalidate>

  <h1 class="govuk-heading-l">{{title}}</h1>


  {% set formIDs = {
    password1: { id: "set-password1" },
    password2: { id: "set-password2" }
  }%}

  {% if  data['show'] == "errors" %}

    {% set errorArray = {
      password1: { text: "Your password isn't strong enough"},
      password2: { text: "Your passwords don't match"}
    }%}

    {{ govukErrorSummary({
      "titleText": "Fix the following errors:",
      "errorList": [
        {
          "text": errorArray.password1.text,
          "href": '#' + formIDs.password1.id
        },
        {
          "text": errorArray.password2.text,
          "href": '#' + formIDs.password2.id
        }
      ]
    }) }}

  {% endif %}

  <p class="govuk-body">Your password:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>needs to be at least 8 characters long</li>
    <li>should contain letters, numbers and special characters</li>
    <li>cannot be a common password</li>
  </ul>


  {{ govukInput({
    label: {
      "text": "Password"
    },
    errorMessage: errorArray.password1,
    type: "password",
    id: formIDs.password1.id,
    name: formIDs.password1.id
  }) }}

  {{ govukInput({
    label: {
      "text": "Confirm password"
    },
    errorMessage: errorArray.password2,
    type: "password",
    id: formIDs.password2.id,
    name: formIDs.password2.id
  }) }}


  {{ govukButton({
    "text": "Set your password"
  }) }}
  
</form>

{% endblock %}
