{% extends "admin-anon_layout.html" %}

{% block content %}

<form action="{{ formAction }}" class="sign-in" novalidate>

  <h1 class="govuk-heading-l">{{title}}</h1>

  {% if  data['show'] == "timeout" %}

    {{ govukErrorSummary({
      "titleText": "You've been signed out",
      "classes": "system-error",
      "errorList": [
        {
          "text": "You were inactive for 2 hours so we've signed you out to secure your account"
        }
      ]
    }) }}

  {% endif %}

  {% if  data['show'] == "lockedout" %}

    {{ govukErrorSummary({
      "titleText": "You've been locked out",
      "classes": "system-error",
      "errorList": [
        {
          "html": "There has been too many attempts to sign in to your account. <br> <br> You can either wait an hour, reset your password or contact your administration to unlock your account."
        }
      ]
    }) }}

  {% endif %}

  {% if  data['show'] == "cant-signin" %}

    {{ govukErrorSummary({
      "titleText": "Can't sign in",
      "classes": "system-error",
      "errorList": [
        {
          "html": '<p>We\'re having problems signing you in. <br>
                   Try again, or visit our <a href="">service status page</a>.</p>'
        }
      ]
    }) }}

  {% endif %}

  {% set formIDs = {
    email: { id: "sign-in-email" },
    password: { id: "sign-in-password" }
  }%}

  {% if  data['show'] == "errors" %}

    {% set errorArray = {
      email: { text: "Enter a valid email address"},
      password: { text: "Enter a valid password"}
    }%}

    {{ govukErrorSummary({
      "titleText": "Fix the following errors:",
      "errorList": [
        {
          "text": errorArray.email.text,
          "href": '#' + formIDs.email.id
        },
        {
          "text": errorArray.password.text,
          "href": '#' + formIDs.password.id
        }
      ]
    }) }}

  {% endif %}


  {{ govukInput({
    label: {
      "text": "Email address"
    },
    errorMessage: errorArray.email,
    type: "email",
    id: formIDs.email.id,
    name: formIDs.email.id
  }) }}

  {{ govukInput({
    "label": {
      "text": "Password"    
    },
    errorMessage: errorArray.password,
    type: "password",
    id: formIDs.password.id,
    name: formIDs.password.id
  }) }}

  {{ govukButton({
    "text": "Sign in"
  }) }}

  
  <br>
  <a href="reset-password">Reset your password</a>
  
</form>

{% endblock %}
