{% extends "layout.html" %}

{% set pageHeading = 'Do ' + you + ' receive any of these benefits?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <form action="disability">
          
          {% if  data['nir'] === "yes" %}

          {% set pipText = 'and scored 8 points or more in the "moving around" activity of ' + your + ' assessment.' %}

          {% else %}

          {% set pipText = 'and scored either 
                            <ul class="govuk-list govuk-list--bullet">
                              <li>8 points or more in the "moving around" activity of ' + your + ' assessment.</li>
                              <li>12 points in the "planning and following a journey" activity of ' + your + ' assessment</li>
                            </ul>' 
                              %}
          
          {% endif %}

          {% if  data['age'] > 16 %}

            {% set differentOptions = [
                  {
                    "value": "pip",
                    "html": '<b>Personal Independence Payment (PIP)</b> <br>' + pipText
                  },
                  {
                    "value": "dla",
                    "html": '<b>Disability Living Allowance (DLA)</b> <br> and have been awarded the higher rate of the mobility component'
                  },
                  {
                    "value": "armed-forces",
                    "html": '<b>Armed Forces Compensation scheme</b> <br> and received a lump sum payment within tariff levels 1-8 and have been certified as having a permanent and substantial disability'
                  },
                  {
                    "value": "war-pensioners",
                    "html": '<b>War Pensioners’ Mobility Supplement</b>'
                  },
                  {
                    "value": "none",
                    "html": '<b>None of these benefits</b>'
                  }
                ]
            %}

          {% else %}

          {% set differentOptions = [
                {
                  "value": "pip",
                  "html": '<b>Personal Independence Payment (PIP)</b> <br>' + pipText
                },
                {
                  "value": "dla",
                  "html": '<b>Disability Living Allowance (DLA)</b> <br> and have been awarded the higher rate of the mobility component'
                },
                {
                  "value": "none",
                  "html": '<b>None of these benefits</b>'
                }
              ]
          %}

          {% endif %}


          {{ govukRadios({
            "idPrefix": "benefit",
            "name": "benefit",
            "fieldset": {
              "legendHtml": '<h1 class="govuk-heading-l">' + pageHeading  + '</h1>'
            },
            "items": differentOptions
          }) }}
          
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
