{% extends "layout.html" %}

{% set pageHeading = 'Find ' + your + ' local council' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">{{pageHeading}}</h1>
        <p class="govuk-body">{{ your | capitalize }} application will be sent to {{your}} council for a decision.</p>
        <form action="your-council">
          {{ govukInput({
            "label": {
              "text": "Enter postcode",
              "hintText": "For example, SW1A 2AA"
            },
            classes: "govuk-c-input--width-10",
            id: "postcode",
            name: "postcode",
            value: data['postcode']
          }) }}
          
          {{ govukButton({
            "text": "Find"
          }) }}

          <input id="council-name" name="council-name" type="hidden" value="Manchester city council">
          <input id="council-website" name="council-website" type="hidden" value="www.manchester.gov.uk">
          <input id="council-phone" name="council-phone" type="hidden" value="0161 205 7321">
        </form>

      </div>

      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
