{% extends "layout.html" %}

{% set pageHeading = 'What is ' + your + ' local council?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid">
      <div class="govuk-grid__item govuk-grid__item--two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <p class="govuk-body">Blue Badge applications are assessed by {{ your }} local council. <br> {{ you | capitalize }} can't get a Blue Badge if you live outside of the UK.</p>
        <form action="your-council">
          <!-- {{ govukInput({
            "label": {
              "text": "Start typing, or select your local council"
            },
            classes: "govuk-input--width-one-half",
            id: "local-council-autocomplete",
            name: "local-council-autocomplete"
          }) }} -->

          <div class="govuk-form-group">
            <label for="councilPicker" class="govuk-label">Start typing, or select your council</label>
            <select name="council-name" class="enhanced-select" name="" id="councilPicker">
              {% include "includes/councils-options.html" %}
            </select>
          </div>

          {{ govukDetails({
            "summaryText": "I don't know " + my + " local council",
            "html": '
                     <div class="govuk-form-group"><label class="govuk-label" for="postcode">
                       Enter ' + your + ' postcode
                       
                       <span class="govuk-label__hint">
                         For example, SW1A 2AA
                       </span>
                       
                       
                     </label>
                     <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">
                     </div>
                     ' 
          }) }}
          
          {{ govukButton({
            "text": "Continue"
          }) }}

          <input id="council-website" name="council-website" type="hidden" value="www.manchester.gov.uk">
          <input id="council-phone" name="council-phone" type="hidden" value="0161 205 7321">
        </form>

      </div>

      <div class="govuk-grid__item govuk-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
