{% extends "layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "#"
      },
      {
        "text": "Driving and transport",
        "href": "#"
      },
      {
        "text": "Driving with medical conditions, Blue Badges and public transport if you're disabled",
        "href": "#"
      }
    ]
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {% if serviceName %} {{ serviceName }} {% endif %}
        </h1>

        <p class="govuk-body">You can apply for or renew a Blue Badge in England, Wales and Scotland using this service. For applicants in Northern Ireland, you can <a href="https://www.nidirect.gov.uk/articles/apply-or-renew-blue-badge">apply for a Blue Badge using the NI Direct website</a>.</p>

        <!-- <p class="govuk-body">Applicants will be asked for information about their disabilities and personal details, which will then be sent to the local council for a decision.</p> -->

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">If you're applying for yourself or someone else, you'll need to provide the following information:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>National Insurance number for the applicant</li>
          <li>Proof of benefit or disability</li>
          <li>Proof of identity and address</li>
          <li>A recent photograph</li>
        </ul>

        <p class="govuk-body">Your local council may call you in for an assessment if you're unable to provide enough information in the application form.</p>

        <p class="govuk-body">If you're applying on behalf of an organisation, you'll need to provide the following information:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Name and address of the organisation</li>
          <li>Charity number (if your organisation is a registered charity)</li>
          <li>Details of the vehicles you'll use to transport people</li>
        </ul>

        {{ govukButton({
          "text": "Start now",
          "href": "check-eligibility/",
          "classes": "govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8"
        }) }}

        <h2 class="govuk-heading-m">After you apply</h2>

        <p class="govuk-body">Your local council will contact you to confirm:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>if your application will be accepted</li>
          <li>if you're required to go for an assessment</li>
          <li>if they have refused your application</li>
        </ul>

        <p class="govuk-body">If your local council refuse your application, they should tell you why. You can appeal if you disagree with their decision. You can also re-apply if your medical condition or disability gets worse.</p>

        <h2 class="govuk-heading-m">Questions</h2>

        <p class="govuk-body">For questions about the Blue Badge scheme, <a href="/blue-badge-scheme-information-council">contact your local council</a> or the initial enquiry support service.</p>

        <p class="govuk-body">Last updated: 4 May 2018</p>


      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

       <!--  <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Subsection
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-f-16">
              <li>
                <a href="#">
                  Related link
                </a>
              </li>
              <li>
                <a href="#">
                  Related link
                </a>
              </li>
              <li>
                <a href="#" class="govuk-!-w-bold">
                  More <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside> -->

        </div>
    </div>
  </div>
</div>

{% endblock %}
