{% extends "layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %} - GOV.UK prototype kit
{% endblock %}

{% block content %}


{{ govukBreadcrumbs({
  "items": [
    {
      "text": "Home",
      "href": "#"
    },
    {
      "text": "Driving and transport",
      "href": "#"
    },
    {
      "text": "Driving with medical conditions, Blue Badges and public transport if you're disabled",
      "href": "#"
    }
  ]
}) }}

<h1 class="govuk-heading-xl">
  {% if serviceName %} {{ serviceName }} {% endif %}
</h1>

<p class="govuk-body">You can apply for or renew a blue badge and pay for it online.</p>

{{ govukButton({
  "text": "Start now",
  "href": "check-eligibility/",
  "classes": "govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8"
}) }}

<p class="govuk-body">There is another service to <a href="https://www.nidirect.gov.uk/articles/apply-or-renew-blue-badge">apply for a Blue Badge in Northern Ireland</a>.</p>

<p class="govuk-body">You'll need to provide a photo and other documents as proof of your eligibility.</p>

<p class="govuk-body">You'll also need a credit or debit card to pay a £10 fee, which is returnable if your application is unsuccessful.</p>

<h2 class="govuk-heading-m">Questions</h2>

<p class="govuk-body">For questions about the Blue Badge scheme, <a href="/blue-badge-scheme-information-council">contact your local council</a> or the initial enquiry support service.</p>

<p class="govuk-body">Last updated: 4 May 2018</p>


{% endblock %}
