{% extends "layout.html" %}

{% set pageHeading = your | capitalize + ' ' + application + ' has been saved' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

{{ govukPanel({
  "titleHtml": '<h1 class="govuk-panel__title govuk-!-f-36">' + pageHeading + '</h1>'
})
}}
<p class="govuk-body">We've sent a message to 
  <strong>
    {% if data['email-address'] %}
    {{ data['email-address'] }}
    {% else %}
    yourname@email.com
    {% endif %}
  </strong> with information about how to continue your {{application}}.</p>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">{{your | capitalize}} {{application}} will be saved for 24 hours, after this time it will be deleted.</p>

<p class="govuk-body">It's now safe to close this window.</p>

{% endblock %}
