{% extends "layout.html" %}

{% set pageHeading = "We've saved " + your + " " + application + " for 7 days" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

{{ govukPanel({
  "titleHtml": '<h1 class="govuk-panel__title govuk-!-f-36">' + pageHeading + '</h1>'
})
}}
<p class="govuk-body">We've sent a message to 
  <strong>
    {% if data['email-address'] %}
    {{ data['email-address'] }}
    {% else %}
    yourname@email.com
    {% endif %}
  </strong> with information about how to continue this {{application}}.</p>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">We'll save this {{application}} for 7 days before we delete it.</p>

<p class="govuk-body">It's now safe to close this window.</p>

{% endblock %}
