{% extends "layout.html" %}

{% set pageHeading = 'Save ' + your + ' progress' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<form action="progress-saved">
	<h1 class="govuk-heading-l">{{pageHeading}}</h1>
	
	<p class="govuk-body">{{your | capitalize}} {{application}} will be saved for 24 hours, after this time it will be deleted.</p>
	
	{% set emailHtml %}
	  {{ govukInput({
	    "label": {
	      "text": "Email address"
	    },
	    id: "email-address",
	    name: "email-address",
	    type: "email",
	    value: data['email-address']
	  }) }}
	{% endset -%}

	{% set textHtml %}
	  {{ govukInput({
	    "label": {
	      "text": "Mobile phone number"
	    },
	    id: "mobile-phone",
	    name: "mobile-phone",
	    type: "tel"
	  }) }}
	{% endset -%}

	{{ govukRadios({
	  "idPrefix": "name-changed",
	  "name": "name-changed",
	  "fieldset": {
	    "legend": {
	      "text": "How do you want to receive the code to return to your application?",
	      "isPageHeading": false,
	      "classes": 'govuk-fieldset__legend--m'
	    }
	  },
	  "items": [
	    {
	      "value": "code-email",
	      "text": "Email",
	      "conditional": {
	        "html": emailHtml
	      }
	    },
	    {
	      "value": "code-text",
	      "text": "Text message",
	      "conditional": {
	        "html": textHtml
	      }
	    }
	  ]
	}) }}

	
	{{ govukButton({
	  "text": "Save progress"
	}) }}
</form>

{% endblock %}
