{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}
{% set isFullWidth = 'yes' %}
{% set pageHeading = serviceName %}

{% block pageTitle %}
  Task list - {{pageHeading}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters app-column-minimum">

      <h1 class="govuk-heading-l">
        {{pageHeading}}
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="check-eligibility/warning" aria-describedby="eligibility-completed">
                Check eligibility
              </a>
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'eligibility-completed'
                }
              }) }}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Prepare to apply
          </h2>
          <ul class="app-task-list__items">
            {% if data['applicant'] === 'organisation' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="organisation-details/{% if data['organisation-completed'] == 'true'%}check-organisation{% endif %}" aria-describedby="organisation-completed">
                Enter organisation details
              </a>
              {% if data['organisation-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'organisation-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% else %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="personal-details/{% if data['personal-completed'] == 'true'%}check-personal{% endif %}" aria-describedby="personal-completed">
                Enter personal details
              </a>
              {% if data['personal-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'personal-completed'
                }
              }) }}
              {% endif %}
            </li>
            <!-- Walking questions -->
            {% if data['disability'] === 'problems-walking' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility{% if data['walking-completed'] == 'true'%}/check-walking{% endif %}" aria-describedby="walking-completed">
                Describe walking ability
              </a>
              {% if data['walking-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'walking-completed'
                }
              }) }}
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility/list-treatments{% if data['treatments-completed'] == 'true'%}?treatments-done=true{% endif %}" aria-describedby="treatments-completed">
                List treatments
              </a>
              {% if data['treatments-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'treatments-completed'
                }
              }) }}
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility/list-medication{% if data['medication-completed'] == 'true'%}?medication-done=true{% endif %}" aria-describedby="medication-completed">
                List medication
              </a>
              {% if data['medication-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'medication-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}

            {% if data['disability'] === 'child-bulky-equipment' %}
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="prove-eligibility/{% if data['bulky-completed'] == 'true'%}check-child{%else%}medical-equipment{% endif %}" aria-describedby="bulky-completed">
                  List medical equipment
                </a>
                {% if data['bulky-completed'] == "true" %}
                {{ govukTag({
                  text: 'Completed',
                  classes: 'app-task-list__task-completed',
                  attributes: {
                    'id': 'benefit-completed'
                  }
                }) }}
                {% endif %}
              </li>

            {% endif %}

            {% if data['disability'] === 'child-bulky-equipment' or data['disability'] === 'child-close-to-vehicle'  %}
              <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="prove-eligibility/{% if data['child-completed'] == 'true'%}check-child{%else%}describe-conditions{% endif %}" aria-describedby="child-completed">
                  Describe their condition
                </a>
                {% if data['child-completed'] == "true" %}
                {{ govukTag({
                  text: 'Completed',
                  classes: 'app-task-list__task-completed',
                  attributes: {
                    'id': 'benefit-completed'
                  }
                }) }}
                {% endif %}
              </li>

            {% endif %}

            {% if data['disability'] === 'problems-walking' or data['disability'] === 'child-bulky-equipment' or data['disability'] === 'child-close-to-vehicle'  %}

            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility/list-healthcare-professionals{% if data['hcp-completed'] == 'true'%}?hcp-done=true{% endif %}" aria-describedby="hcp-completed">
                List healthcare professionals
              </a>
              {% if data['hcp-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'hcp-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}

            {% if data['benefit'] !== 'none' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-benefit{% if data['benefit-completed'] == 'true'%}?benefit-done=true{% endif %}" aria-describedby="benefit-completed">
                Provide proof of benefit
              </a>
              {% if data['benefit-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'benefit-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}

            {% if data['disability'] === 'blind' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility/{% if data['blind-completed'] == 'true'%}check-arms-blind{%else%}are-you-registered-blind{% endif %}" aria-describedby="blind-completed">
                Provide proof of visual impairment
              </a>
              {% if data['blind-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'blind-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
            {% if data['disability'] === 'arms' %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-eligibility/{% if data['arms-completed'] == 'true'%}check-arms-blind{%else%}how-often-drive{% endif %}" aria-describedby="arms-completed">
                Describe {{your}} condition
              </a>
              {% if data['arms-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'arms-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-your-identity{% if data['identity-completed'] == 'true'%}?identity-done=true{% endif %}" aria-describedby="identity-completed">
                Prove identity
              </a>
              {% if data['identity-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'identity-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% if (data['your-identity-file-upload-shows-current-address'] === 'no' and data['benefit-proof-file-upload-shows-current-address'] === 'no') or ( data['your-identity-file-upload-shows-current-address'] === 'no' and data['benefit'] === 'none') %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="prove-your-address{% if data['address-completed'] == 'true'%}?address-done=true{% endif %}" aria-describedby="address-completed">
                Prove address
              </a>
              {% if data['address-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'address-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="provide-photo{% if data['photo-completed'] == 'true'%}?photo-done=true{% endif %}" aria-describedby="photo-completed">
                Add a photo
              </a>
              {% if data['photo-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'photo-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="apply/declaration" aria-describedby="declaration-completed">
                Read declaration
              </a>
              {% if data['declaration-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'declaration-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% if data['nation'] !== "wales" %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="apply/paying-for-your-blue-badge" aria-describedby="pay-completed">
                Submit and pay
              </a>
              {% if data['pay-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'pay-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% else %}
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="apply/submit-wales" aria-describedby="submit-completed">
                Submit
              </a>
              {% if data['submit-completed'] == "true" %}
              {{ govukTag({
                text: 'Completed',
                classes: 'app-task-list__task-completed',
                attributes: {
                  'id': 'submit-completed'
                }
              }) }}
              {% endif %}
            </li>
            {% endif %}
          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
