{% extends "layout.html" %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Describe any health conditions that affect {{ your }} mobility</h1>
  
        <form action="{{ formAction }}">
          {{ govukTextarea({
            "name": "describe-condition",
            "id": "describe-condition",
            "label": {
              "text": "If you know them, try to use the proper medical terms."
            }
          }) }}
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

    </div>
  </main>
</div>

{% endblock %}
