{% extends "layout.html" %}

{% set pageHeading = 'Do ' + you + ' use a mobility aid?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="use-a-mobility-aid-backend">
          <div class="expanding-panel-container">
            {{ govukRadios({
              "idPrefix": "use-a-mobility-aid",
              "name": "use-a-mobility-aid",
              "attributes": {
                "data-expanding-radios": "true"
              },
              "fieldset": {
                "legend": {
                  "text": pageHeading,
                  "isPageHeading": true,
                  "classes": 'govuk-fieldset__legend--l'
                }
              },
              "items": [
                {
                  "value": "no",
                  "text": "No, " + you + " don't use a mobility aid",
                  "checked": data['use-a-mobility-aid'] === 'no'
                },
                {
                  "value": "yes",
                  "text": "Yes, " + you + " use at least one mobility aid",
                  "checked": data['use-a-mobility-aid'] === 'yes',
                  "id": "mobility-aid-yes"
                }
            
              ]
            }) }}
            <div class="expanding-panel" data-expanded-by="mobility-aid-yes">
              <div class="govuk-details__text">
                {{ govukCheckboxes({
                  "idPrefix": "mobility-aids-used",
                  "name": "mobility-aids-used",
                  "fieldset": {
                    "legend": {
                      "text": 'Which of the following mobility aids do ' + you + ' use?',
                      "isPageHeading": false,
                      "classes": 'govuk-fieldset__legend--m'
                    }
                  },
                  "items": [
                    {
                      "value": "elbow-crutches",
                      "text": "Elbow crutches",
                      "checked": data['mobility-aids-used'] === 'elbow-crutches'
                    },
                    {
                      "value": "walking-sticks",
                      "text": "Walking stick",
                      "checked": data['mobility-aids-used'] === 'walking-sticks'
                    },
                    {
                      "value": "walking-frame",
                      "text": "Walking frame (zimmer frame)",
                      "checked": data['mobility-aids-used'] === 'walking-frame'
                    },
                    {
                      "value": "rollator",
                      "text": "Rollator",
                      "checked": data['mobility-aids-used'] === 'rollator'
                    },
                    {
                      "value": "wheel-chair",
                      "text": "Wheel chair",
                      "checked": data['mobility-aids-used'] === 'wheel-chair'
                    },
                    {
                      "value": "powered-wheel-chair",
                      "text": "Powered wheel chair",
                      "checked": data['mobility-aids-used'] === 'powered-wheel-chair'
                    },
                    {
                      "value": "mobility-scooter",
                      "text": "Mobility scooter",
                      "checked": data['mobility-aids-used'] === 'mobility-scooter'
                    }
                  ]
                }) }}
              </div>
            </div>
            
          </div>

          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
