{% extends "layout.html" %}

{% set pageHeading = 'Do ' + you + ' receive any of these benefits?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{{ govukBackLink({
  "text": "Back",
  "href": "javascript: window.history.go(-1)"
}) }}
  

<form action="benefits-backend">
  
  {% if  data['council-name'] === "Northern Ireland" %}

  {% set pipText = 'and scored 8 points or more in the "moving around" activity of ' + your + ' assessment.' %}

  {% else %}

  {% set pipText = 'and scored either: 
                    <ul class="govuk-list govuk-list--bullet">
                      <li>8 points or more in the "moving around" activity of ' + your + ' assessment</li>
                      <li>12 points in the "planning and following a journey" activity of ' + your + ' assessment</li>
                    </ul>' 
                      %}
  
  {% endif %}

  {% if  data['age'] > 16 %}

    {% set differentOptions = [
          {
            "value": "pip",
            "html": '<b>Personal Independence Payment (PIP)</b> <br>' + pipText
          },
          {
            "value": "dla",
            "html": '<b>Disability Living Allowance (DLA)</b> <br> and have been awarded the higher rate of the mobility component'
          },
          {
            "value": "armed-forces",
            "html": '<b>Armed Forces Compensation scheme</b> <br> and received a lump sum payment within tariff levels 1-8 and have been certified as having a permanent and substantial disability'
          },
          {
            "value": "war-pensioners",
            "html": '<b>War Pensioners’ Mobility Supplement</b>'
          },
          {
            "value": "none",
            "html": '<b>None of these benefits</b>'
          }
        ]
    %}

  {% else %}

  {% set differentOptions = [
        {
          "value": "pip",
          "html": '<b>Personal Independence Payment (PIP)</b> <br>' + pipText
        },
        {
          "value": "dla",
          "html": '<b>Disability Living Allowance (DLA)</b> <br> and have been awarded the higher rate of the mobility component'
        },
        {
          "value": "none",
          "html": '<b>'+ you | capitalize + ' don’t receive any of these benefits</b>'
        }
      ]
  %}

  {% endif %}


  {{ govukRadios({
    "idPrefix": "benefit",
    "name": "benefit",
    "attributes": {
        "data-catchoption-label": true
      },
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": differentOptions
  }) }}

  <div id="hiddenCaughtInputs"></div>
  
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
