{% extends "layout.html" %}

{% set pageHeading = 'How old are ' + you + '?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>
<p class="govuk-body">Depending on how old {{you}} are, we'll ask you to provide different information.</p>
<form action="benefits">
  {{ govukInput({
    "label": {
      "text": "Enter age"
    },
    "hint": {
      "text": "For example, 16 or 54"
    },
    classes: "govuk-input--width-10",
    id: "age",
    name: "age"
  }) }}
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
