{% extends "layout.html" %}

{% block page_title %}
  {{title}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="existing-badge">
          {{ govukRadios({
            "idPrefix": "applicant",
            "name": "applicant",
            "fieldset": {
              "legend": {
                "text": title,
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--l'
              }
            },
            "items": [
              {
                "value": "yourself",
                "text": "Yourself"
              },
              {
                "value": "someone-else",
                "text": "Someone else"
              },
              {
                "value": "organisation",
                "text": "An organisation"
              }
            ]
          }) }}
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
