{% extends "layout.html" %}

{% set pageHeading = you | capitalize + ' need to visit NI Direct' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<p class="govuk-body">Because {{you}} live in Northern Ireland, {{you}} should visit the NI Direct website to continue {{your}} application.</p>

<p class="govuk-body"><a href="https://www.nidirect.gov.uk/articles/apply-or-renew-blue-badge">Visit the NI Direct website (this will open an external link)</a></p>

        

{% endblock %}
