{% extends "layout.html" %}

{% set pageHeading = 'Does your organisation care for people who need a Blue Badge?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{{ govukBackLink({
  "text": "Back",
  "href": "javascript: window.history.go(-1)"
}) }}

<form action="org-transport">
    
    {{ govukRadios({
      "idPrefix": "org-care-for",
      "name": "org-care-for",
      "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "hint": {
        "text": "Blue Badges are for people who have a disability or health condition that affects their mobility."
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes"
        },
        {
          "value": "no",
          "text": "No"
        }
      ]
    }) }}
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
