{% extends "layout.html" %}

{% set pageHeading = 'Does your organisation transport the people you care for?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}




<form action="decision">
    
    {{ govukRadios({
      "idPrefix": "org-transport",
      "name": "org-transport",
      "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes"
        },
        {
          "value": "no",
          "text": "No"
        }
      ]
    }) }}
  
  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
