{% extends "layout.html" %}

{% set pageHeading = 'How would ' + you + ' describe ' + your + ' walking ability?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="decision">
            
            {{ govukRadios({
              "idPrefix": "disability-walking",
              "name": "disability-walking",
              "fieldset": {
                "legend": {
                  "text": pageHeading,
                  "isPageHeading": true,
                  "classes": 'govuk-fieldset__legend--l'
                }
              },
              "items": [
                {
                  "value": "help",
                  "text": you | capitalize + " can't walk without help from someone else, an animal or walking aids"
                },
                {
                  "value": "pain",
                  "text": you | capitalize + " find walking very difficult due to pain, breathlessness or the time it takes"
                },
                {
                  "value": "dangerous",
                  "text": "Walking is dangerous to " + your + " health and safety, or the health and safety of others"
                },
                {
                  "value": "none",
                  "text": "None of these describe " + your + " walking ability"
                }
              ]
            }) }}
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
