{% extends "layout.html" %}

{% block pageTitle %}
  Warning - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}

<h1 class="govuk-heading-l">Before you continue</h1>
{{ govukWarningText({
  text: "Changing " + your + " answers to this section will mean you need to start " + your + " " + application + "  again.",
  iconFallbackText: "Warning"
}) }}
  
{{ govukButton({
  "text": "Start " + application + " again",
  "href": '/apply-for-a-blue-badge/check-eligibility/'
}) }}

{% endblock %}