{% extends "layout.html" %}

{% set pageHeading = your + ' issuing authority' %}

{% block pageTitle %}
  {{pageHeading | capitalize}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{{ govukBackLink({
  "text": "Back",
  "href": "javascript: window.history.go(-1)"
}) }}
<h1 class="govuk-heading-l">{{pageHeading | capitalize}}</h1>
<p class="govuk-body-l"><b>{{ data['council-name']}}</b> are responsible for issuing Blue Badges in your area.</p>
<form action="enter-age">

  {{ govukButton({
    "text": "Continue"
  }) }}
</form>

{% endblock %}
