{% extends "layout.html" %}

{% set pageHeading = your + ' issuing authority' %}

{% block page_title %}
  {{pageHeading | capitalize}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading | capitalize}}</h1>
        <p class="govuk-body-l"><b>{{ data['council-name']}}</b> are responsible for issuing Blue Badges in your area.</p>
        <form action="enter-age">

          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
