{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'Enter contact details' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body save-progress-container hidden-mobile"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
    </div>
  </div>
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <!-- <p class="govuk-body"></p> -->
        <form action="{{ formAction }}">
          {% if  data['applicant'] === "someone-else" or data['applicant'] === "organisation"   %}

          {{ govukInput({
            "label": {
              "text": "Full name"
            },
            "hint": {
              "text": "This should be the name of the main point of contact"
            },
            id: "contact-full-name",
            name: "contact-full-name",
            type: "text",
            value: data['contact-full-name']
          }) }}

          {% endif %}

          {{ govukInput({
            "label": {
              "text": "Phone number"
            },
            "hint": {
              "text": "This can be a work or mobile phone number"
            },
            classes: "govuk-input--width-20",
            id: "primary-phone-number",
            name: "primary-phone-number",
            type: "tel",
            value: data['primary-phone-number']
          }) }}

          {{ govukInput({
            "label": {
              "text": "Email address"
            },
            id: "email-address",
            name: "email-address",
            type: "text",
            value: data['email-address']
          }) }}
          
          {{ govukButton({
            "text": submitLabel
          }) }}

          <!-- Has save -->
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
</main>
</div>

{% endblock %}
