{% extends "layout.html" %}

{% set pageHeading = 'What\'s ' + your + ' date of birth?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- <p class="govuk-body"></p> -->
        <form action="{{formAction}}">
          {{ govukDateInput({
            "fieldset": {
                "legend": {
                  "text": pageHeading,
                  "isPageHeading": true,
                  "classes": 'govuk-fieldset__legend--l'
                }
              },
            "hint": {
              "text": 'For example, 31 3 1980'
            },
            id: 'dob',
            name: 'dob',
            items:[
              {
                name: 'day',
                value: data['dob-day']
              },
              {
                name: 'month',
                value: data['dob-month']
              },
              {
                name: 'year',
                value: data['dob-year']
              }
            ]
            })
          }}
          
          {{ govukButton({
            "text": submitLabel
          }) }}

          <div>
            {{ govukButton({
              "text": "Save your progress",
              "href": "/apply-for-a-blue-badge/progress-saved",
              "classes": "govuk-button--secondary"
            }) }}
          </div>
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
