{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'What\'s ' + your + ' date of birth?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{% include "includes/back-and-save.html" %}
<!-- <p class="govuk-body"></p> -->
<form action="{{formAction}}">
  {{ govukDateInput({
    "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
    "hint": {
      "text": 'For example, 31 3 1980'
    },
    id: 'dob',
    name: 'dob',
    items:[
      {
        name: 'day',
        value: data['dob-day']
      },
      {
        name: 'month',
        value: data['dob-month']
      },
      {
        name: 'year',
        value: data['dob-year']
      }
    ]
    })
  }}
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      
<p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}
