{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% if data['applicant'] === 'organisation' %}
  {% set pageHeading = "Enter your organisation's address" %}
{% else %}
  {% set pageHeading = "Enter " + your + " address" %}
{% endif %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{% include "includes/back-and-save.html" %}
{% if data['postcode'] %}

  {% set userPostcode = data['postcode'] | upper %}

{% else %}

  {% set userPostcode = "SW1A 4AA" %}

{% endif %}

<!-- <h1 class="govuk-heading-l">{{pageHeading}}</h1> -->

<form action="{{formAction}}">
  {% call govukFieldset({
    "legend": {
        "text": pageHeading,
        "classes": "govuk-fieldset__legend--l",
        "isPageHeading": true
      }
  }) %}

    {{ govukInput({
      "label": {
        "html": 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
      },
      "id": "address-line-1",
      "name": "address-line-1",
      "value": data['premises']
    }) }}

    {{ govukInput({
      "label": {
        "html": '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
      },
      "id": "address-line-2",
      "name": "address-line-2"
    }) }}

    {{ govukInput({
      "label": {
        "html": 'Town or city'
      },
      "classes": 'govuk-!-width-two-thirds',
      "id": "address-town",
      "name": "address-town"
    }) }}

    {{ govukInput({
      "label": {
        "html": 'County'
      },
      "classes": 'govuk-!-width-two-thirds',
      "id": "address-county",
      "name": "address-county"
    }) }}

    {{ govukInput({
      "label": {
        "html": 'Postcode'
      },
      "classes": 'govuk-input--width-10',
      "id": "address-postcode",
      "name": "address-postcode",
      "value": userPostcode
    }) }}

  {% endcall %}
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      
<p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}
