{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'What\'s ' + your + ' gender?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body save-progress-container hidden-mobile"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
    </div>
  </div>
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="{{formAction}}">
          {{ govukRadios({
            "idPrefix": "gender",
            "name": "gender",
            "fieldset": {
              "legend": {
                "text": pageHeading,
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--l'
              }
            },
            "items": [
              {
                "value": "female",
                "text": "Female",
                  "checked": data['gender'] === 'female'
              },
              {
                "value": "male",
                "text": "Male",
                "checked": data['gender'] === 'male'
              },
              {
                "value": "unspecified",
                "text": "Unspecified",
                "checked": data['gender'] === 'unspecified'
              }

            ]
          }) }}
          
          {{ govukButton({
            "text": submitLabel
          }) }}

          <!-- Has save -->
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
</main>
</div>

{% endblock %}
