{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'What\'s ' + your + ' gender?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<form action="{{formAction}}">
  {{ govukRadios({
    "idPrefix": "gender",
    "name": "gender",
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "female",
        "text": "Female",
          "checked": data['gender'] === 'female'
      },
      {
        "value": "male",
        "text": "Male",
        "checked": data['gender'] === 'male'
      },
      {
        "value": "unspecified",
        "text": "Unspecified",
        "checked": data['gender'] === 'unspecified'
      }

    ]
  }) }}
  
  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
