{% extends "layout.html" %}

{% set pageHeading = 'What\'s ' + your + ' name?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <!-- <p class="govuk-body"></p> -->
        <form action="{{formAction}}">
          {{ govukInput({
            "label": {
              "text": "Full name"
            },
            id: "fullName",
            name: "fullName",
            value: data['fullName']
          }) }}

          {% set nameHtml %}
            {{ govukInput({
              "label": {
                "text": "What was " + your + " full name at birth?"
              },
              id: "birth-full-name",
              name: "birth-full-name"
            }) }}
          {% endset -%}

          {{ govukRadios({
            "idPrefix": "name-changed",
            "name": "name-changed",
            "fieldset": {
              "legend": {
                "text": "Has " + your + " name changed since birth?",
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
              {
                "value": "no",
                "text": "No, " + your + " name hasn't changed",
                "checked": data['name-changed'] === 'no'
              },
              {
                "value": "yes",
                "text": "Yes, " + your + " name has changed",
                "checked": data['name-changed'] === 'yes',
                "id": 'name-changed-yes',
                "conditional": {
                  "html": nameHtml
                }
              }
            ]
          }) }}

          
          {{ govukButton({
            "text": submitLabel
          }) }}

          <div>
            {{ govukButton({
              "text": "Save your progress",
              "href": "/apply-for-a-blue-badge/progress-saved",
              "classes": "govuk-button--secondary"
            }) }}
          </div>
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
