{% extends "layout.html" %}

{% set pageHeading = 'Declaration' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

{% if data['applicant'] == 'yourself' or data['applicant'] == 'someone-else' %}

<p class="govuk-body">When you submit this {{ application }} {{ you }} agree that:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the details {{ you }}'ve provided are complete and accurate</li>
  <li>{{ you }} won't allow someone else to use the badge</li>
  <li>{{ you }} won't hold more than one Blue Badge at any time</li>
  <li>{{ you }} will tell  {{data['council']}} about any changes that may affect {{ your }} entitlement</li>
  <li>{{data['council-name']}} can check any information they already hold about {{ youOrThem }} in order to make a decision about {{ your }} {{ application }}</li>
</ul>

{% else %}

<p class="govuk-body">When you submit this {{ application }} {{ you }} agree that:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ you }} are authorised to complete this application for your organisation</li>
  <li>{{ you }} will only use the blue badge(s) when transporting disabled people</li>
  <li>{{ you }} will tell {{data['council-name']}} about any changes that may affect {{ your }} entitlement</li>
  <li>{{data['council-name']}} can check any information they already hold about {{ youOrThem }} in order to make a decision about {{ your }} {{ application }}</li>
</ul>

{% endif %}


<form novalidate="" action="paying-for-your-blue-badge">
  {{ govukCheckboxes({
    "idPrefix": "agree",
    "name": "agree",
    "fieldset": {
      "legend": {
        "text": 'Do you agree to this declaration?',
        "isPageHeading": false,
        "classes": 'govuk-visually-hidden'
      }
    },
    "items": [
      {
        "value": "I agree to this declaration",
        "text": "I agree to this declaration"
      }
    ]
  }) }}
  {{ govukButton({
    "text": "Continue"
  }) }}

</form>

{% endblock %}
