{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Declaration' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<p class="govuk-body">When you submit this {{ application }} {{ you }} agree that:</p>

{% if data['applicant'] == 'yourself' or data['applicant'] == 'someone-else' %}

<ul class="govuk-list govuk-list--bullet">
  <li>the details {{ you }}'ve provided are complete and accurate</li>
  <li>{{ you }} will not allow anyone else use {{your}} Blue Badge</li>
  <li>{{ you }} will not own more than one Blue Badge at any time</li>
  <li>{{ you }} will tell {{data['council-name']}} about any changes that may affect {{ your }} Blue Badge entitlement</li>
  <li>{{data['council-name']}} can check any information they already have about {{ youOrThem }} so that they can process {{ your }} {{ application }}</li>
</ul>

{% else %}

<ul class="govuk-list govuk-list--bullet">
  <li>{{you}}'re authorised to complete this application on behalf of {{your}} organisation</li>
  <li>the details {{you}} have provided are complete and accurate</li>
  <li>{{you}} will tell {{data['council-name']}} council about any changes that will affect {{your}} organisation's Blue Badge entitlement</li>
  <li>{{data['council-name']}} can check any information they already have about {{you}} so that they can process {{your}} {{application}}</li>
</ul>

{% endif %}


<form novalidate="" action="/apply-for-a-blue-badge/task-list">
  {{ govukCheckboxes({
    "idPrefix": "agree",
    "name": "agree",
    "fieldset": {
      "legend": {
        "text": 'Do you agree to this declaration?',
        "isPageHeading": false,
        "classes": 'govuk-visually-hidden'
      }
    },
    "items": [
      {
        "value": "true",
        "text": "I agree to this declaration",
        "checked": checked('agree', 'true')
      }
    ]
  }) }}

  <input type="hidden" name="declaration-completed" value="true">

  {{ govukButton({
    "text": "Continue"
  }) }}

</form>

{% endblock %}
