{% extends "layout.html" %}

{% set pageHeading = 'Pay for your Blue Badge' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<p class="govuk-body-l">{{you | capitalize}}'ll have to pay a {{feePrice}} issue fee. {{data['council-name'] | title}} will reimburse this fee if {{your}} application is unsuccessful.</p>

<form action="/apply-for-a-blue-badge/paying-for-your-blue-badge-backend" novalidate="">

  {{ govukButton({
    "text": "Pay online now"
  }) }}

  <p class="govuk-body">
    <a href="/apply-for-a-blue-badge/paying-for-your-blue-badge-backend?pay-when=later">Submit {{application}} and pay later</a>
  </p>

</form>

{% endblock %}
