{% extends "guidance_layout.html" %}

{% set pageHeading =  'How to upload ' + your + ' document' %}
{% set guidanceTitle =  'Take the photo' %}
{% set guidancePageCount =  '3 of 5' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block guidance_content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<ul class="govuk-list govuk-list--number guidance-numbered-steps">
			<li>Place {{your}} document on a flat surface</li>
			<li>Hold the camera 30cm (1 foot) directly above the document</li>
			<li>Make sure you take a photo of the whole page</li>
		</ul>
	</div>

	<div class="govuk-grid-column-one-third">

		<img class="responsive-image" src="{{ asset_path }}/images/photo-30cm-small.jpeg" alt="">
		
	</div>
</div>

{{ govukButton({
  "text": "Continue",
  "href": "taking-the-photo",
  "classes": "guidance-pull-button"
}) }}

{% endblock %}