{% extends "guidance_layout.html" %}

{% set pageHeading = 'How to upload ' + your + ' document'  %}
{% set guidanceTitle =  'What you\'ll need' %}
{% set guidancePageCount =  '1 of 5' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block guidance_content %}

<p class="govuk-body">The easiest way to get {{your}} physical document onto a device as a digital file is to take a photo of it.</p>

<h3 class="govuk-heading-m">Find a camera</h3>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">

		<p class="govuk-body">You can use anything that has a digital camera on it. For example, a mobile phone, tablet or digital camera.</p>
	</div>

	<div class="govuk-grid-column-one-half">

		<img class="responsive-image" src="{{ asset_path }}/images/diagram-cameras-2x.png" alt="">
		
	</div>
</div>

{{ govukButton({
  "text": "Continue",
  "href": "get-document"
}) }}

{% endblock %}