{% extends "guidance_layout.html" %}

{% set pageHeading = 'How to upload ' + your + ' document'  %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block guidance_content %}

<h2 class="govuk-heading-l">What you'll need</h2>


<h3 class="govuk-heading-m">Find {{your}} document</h3>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<p class="govuk-body">Make sure it's flat. You may need to unfold it.</p>
	</div>

	<div class="govuk-grid-column-one-third">

		<img class="responsive-image" src="{{ asset_path }}/images/document-example-template.png" alt="">
		
	</div>
</div>

{{ govukButton({
  "text": "Continue",
  "href": "before-take-photo"
}) }}

{% endblock %}