{% extends "guidance_layout.html" %}

{% set pageHeading = 'How to take a good photo'  %}
{% set guidanceTitle =  'Take the photo' %}
{% set guidancePageCount =  '5 of 5' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block guidance_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <img class="responsive-image image-with-margin" src="{{ asset_path }}/images/image-f1-plain.jpg" alt="">
      </div>
    
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Make sure the photo:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>has a plain, light background</li>
          <li>includes {{ your }} shoulders</li>
          <li>clearly shows {{ your }} face</li>
        </ul>
        <p class="govuk-body hidden-tablet">If you're on a mobile or tablet with a camera, you can open the camera and come back to this page once you've taken the photo.</p>
  </div>
</div>

<h3 class="govuk-heading-m">Transfer the photo</h3>

<p class="govuk-body">If you haven't already saved the photo to this device, you'll have to transfer it, by either:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>sending it to yourself by email</li>
  <li>attaching a cable between the camera and this device</li>
  <li>using Bluetooth to move the photo from your mobile phone or tablet to this device</li>
</ul>

<p class="govuk-body">You can continue once you have saved the photo as a file to this device.</p>


{{ govukButton({
  "text": "Return to " + your + " " + application,
  "href": data['upload-origin-page']
}) }}

{% endblock %}