{% extends "guidance_layout.html" %}

{% set pageHeading = 'How to upload ' + your + ' document'  %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block guidance_content %}

<h2 class="govuk-heading-l">Check the photo</h2>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<ul class="govuk-list govuk-list--bullet guidance-numbered-steps">
			<li>Can you see the whole page?</li>
			<li>Is everything in focus?</li>
			<li>Can you read everything on the page?</li>
		</ul>
	</div>

	<div class="govuk-grid-column-one-third">

		<img class="responsive-image" src="{{ asset_path }}/images/photo-fulldoc-small.jpeg" alt="">
		
	</div>
</div>

{{ govukButton({
  "text": "Continue",
  "href": "transfer-the-image"
}) }}

{% endblock %}