{% extends "guidance_layout.html" %}

{% set pageHeading = 'How to upload ' + your + ' document' %}
{% set guidanceTitle =  'Uploading the photo' %}
{% set guidancePageCount =  '5 of 5' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block guidance_content %}

<p class="govuk-body">{{you | capitalize}} can continue to upload the photo once it's on this device.</p>


<h3 class="govuk-heading-m">How to transfer the photo if {{you}}'ve used another (2nd) device</h3>

<p class="govuk-body">{{you | capitalize}}'ll have to transfer the photo to the computer or device {{you}}'re using to apply if {{you}}'ve taken the picture on a 2nd device.</p>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<p class="govuk-body">{{you | capitalize}} can do this by:</p>

		<ul class="govuk-list govuk-list--bullet">
		  <li>emailing it to yourself</li>	
		  <li>bluetooth</li>
		  <li>attaching a cable to the 2nd device</li>
		</ul>
	</div>

	<div class="govuk-grid-column-one-half">

		<div class="svg-container">{% include "includes/icon-transfer.html" %}</div>
		
	</div>
</div>

		{{ govukButton({
		  "text": "Return to " + your + " " + application,
		  "href": data['upload-origin-page']
		}) }}

{% endblock %}