{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Is your organisation a charity?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}



<form action="{{formAction}}">

  {% set charityHtml %}
    {{ govukInput({
      "label": {
        "text": "Charity number"
      },
      id: "organisation-charity-number",
      name: "organisation-charity-number"
    }) }}
  {% endset -%}

    {{ govukRadios({
      "idPrefix": "organisation-charity",
      "name": "organisation-charity",
      "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "items": [
        {
          "value": "No",
          "text": "No",
          "checked": data['organisation-charity'] === 'No'
        },
        {
          "value": "Yes",
          "text": "Yes",
          "checked": data['organisation-charity'] === 'Yes',
          "id": 'charity-yes',
          "conditional": {
            "html": charityHtml
          }
        }
      ]
    }) }}  {{ govukButton({
    "text": submitLabel
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
