{% extends "layout.html" %}

{% set pageHeading = 'Is your organisation a charity?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="{{formAction}}">

          {% set charityHtml %}
            {{ govukInput({
              "label": {
                "text": "Charity number"
              },
              id: "organisation-charity-number",
              name: "organisation-charity-number"
            }) }}
          {% endset -%}

            {{ govukRadios({
              "idPrefix": "organisation-charity",
              "name": "organisation-charity",
              "fieldset": {
                "legend": {
                  "text": pageHeading,
                  "isPageHeading": true,
                  "classes": 'govuk-fieldset__legend--l'
                }
              },
              "items": [
                {
                  "value": "No",
                  "text": "No",
                  "checked": data['organisation-charity'] === 'No'
                },
                {
                  "value": "Yes",
                  "text": "Yes",
                  "checked": data['organisation-charity'] === 'Yes',
                  "id": 'charity-yes',
                  "conditional": {
                    "html": charityHtml
                  }
                }
              ]
            }) }}

          
          {{ govukButton({
            "text": submitLabel
          }) }}

          <div>
            {{ govukButton({
              "text": "Save your progress",
              "href": "/progress-saved",
              "classes": "govuk-button--secondary"
            }) }}
          </div>
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
