{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'Is your organisation a charity?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body save-progress-container hidden-mobile"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
    </div>
  </div>
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="{{formAction}}">

          {% set charityHtml %}
            {{ govukInput({
              "label": {
                "text": "Charity number"
              },
              id: "organisation-charity-number",
              name: "organisation-charity-number"
            }) }}
          {% endset -%}

            {{ govukRadios({
              "idPrefix": "organisation-charity",
              "name": "organisation-charity",
              "fieldset": {
                "legend": {
                  "text": pageHeading,
                  "isPageHeading": true,
                  "classes": 'govuk-fieldset__legend--l'
                }
              },
              "items": [
                {
                  "value": "No",
                  "text": "No",
                  "checked": data['organisation-charity'] === 'No'
                },
                {
                  "value": "Yes",
                  "text": "Yes",
                  "checked": data['organisation-charity'] === 'Yes',
                  "id": 'charity-yes',
                  "conditional": {
                    "html": charityHtml
                  }
                }
              ]
            }) }}

          
          {{ govukButton({
            "text": submitLabel
          }) }}

          <!-- Has save -->
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
</main>
</div>

{% endblock %}
