{% extends "layout.html" %}
{% set isFullWidth = 'yes' %}
{% set pageHeading = 'Check your answers' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}
<div class="govuk-grid-column-three-quarters">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  
  <section class="split-section">
    
    <h2 class="govuk-heading-m">Organisation details</h2>
    
    <dl class="govuk-check-your-answers govuk-check-your-answers--short">
    
      <div class="govuk-check-your-answers__contents">
        <dt class="govuk-check-your-answers__question">
          Organisation name
        </dt>
        <dd class="govuk-check-your-answers__answer">
          {{data['organisationName']}}
        </dd>
        <dd class="govuk-check-your-answers__change">
          <a href="/apply-for-a-blue-badge/organisation-details/name?change=true">
            Change<span class="govuk-visually-hidden"> organisation name</span>
          </a>
        </dd>
      </div>
  
      <div class="govuk-check-your-answers__contents">
        <dt class="govuk-check-your-answers__question">
          Registered charity
        </dt>
        <dd class="govuk-check-your-answers__answer">
          {% if data['organisation-charity'] === 'Yes' %}
          Yes<br >
          Charity number: {{data['organisation-charity-number']}}
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-check-your-answers__change">
          <a href="/apply-for-a-blue-badge/organisation-details/charity?change=true">
            Change<span class="govuk-visually-hidden"> charity status</span>
          </a>
        </dd>
      </div>
    
      <div class="govuk-check-your-answers__contents">
        <dt class="govuk-check-your-answers__question">
          Address
        </dt>
        <dd class="govuk-check-your-answers__answer">
          {{ data['address'] }}
        </dd>
        <dd class="govuk-check-your-answers__change">
          <a href="/apply-for-a-blue-badge/organisation-details/select-address?change=true">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>
    
      <div class="govuk-check-your-answers__contents">
        <dt class="govuk-check-your-answers__question">
          Contact details
        </dt>
        <dd class="govuk-check-your-answers__answer">
          {{ data['contact-full-name'] }}<br />
          {{ data['primary-phone-number'] }}<br />
          {{ data['secondary-phone-number'] }}<br />
          {{ data['email-address'] }}
        </dd>
        <dd class="govuk-check-your-answers__change">
          <a href="/apply-for-a-blue-badge/organisation-details/contact-details?change=true">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
    
      <div class="govuk-check-your-answers__contents">
        <dt class="govuk-check-your-answers__question">
          Vehicles
        </dt>
        <dd class="govuk-check-your-answers__answer">
          {% for vehicle in data['vehicle-array'] %}
            {{vehicle.vrn}}<br />
          {% endfor %}
        </dd>
        <dd class="govuk-check-your-answers__change">
          <a href="/apply-for-a-blue-badge/organisation-details/list-vehicles?change=true">
            Change<span class="govuk-visually-hidden"> vehicles</span>
          </a>
        </dd>
      </div>
    </dl>
  </section>
  
  {{ govukButton({
    "text": "Continue",
    "href": '/apply-for-a-blue-badge/task-list?organisation-completed=true'
  }) }}
</div>
{% endblock %}
