{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'List vehicles' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<p class="govuk-body">List any vehicles your organisation uses to transport people who are eligible for a Blue Badge.</p>

{% if tableRows.length > 0 %}

    {{ govukTable({
      "head": [
        {
          "text": "Vehicle Registration Number"
        },
        {
          "text": "Frequency used"
        },
        {
          "text": ""
        }
      ],
      "rows": tableRows
    }) }}

  <p class="govuk-body"><a href="add-vehicle">Add another vehicle</a></p>

  {{ govukButton({
    "text": submitLabel,
    "href": formAction
  }) }}

{% else %}

{{ govukTable({
  "head": [
    {
      "text": "Vehicle Registration Number"
    },
    {
      "text": "Frequency used"
    },
    {
      "text": ""
    }
  ],
  "rows": ""
}) }}

<p class="govuk-body"><a href="add-vehicle">Add first vehicle</a></p>

{% endif %}

<!-- Has save -->



{% endblock %}
