{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'What\'s the name of your organisation?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


  {% include "includes/back-and-save.html" %}
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

     <!--    <h1 class="govuk-heading-l">{{pageHeading}}</h1> -->
        <!-- <p class="govuk-body"></p> -->
        <form action="{{formAction}}">
          {{ govukInput({
            "label": {
              "text": pageHeading,
              "isPageHeading": true,
              "classes": "govuk-label--l"
            },
            id: "organisationName",
            name: "organisationName",
            value: data['organisationName']
          }) }}

          {{ govukButton({
            "text": submitLabel
          }) }}

          <!-- Has save -->
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}
