{% extends "layout.html" %}

{% set pageHeading = 'Badge not found' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid">
      <div class="govuk-grid__item govuk-grid__item--two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>

        <!-- <p class="govuk-body-l">We couldn't find a badge matching the number you entered.</p> -->
        {{ govukWarningText(
          {
            "text": "We couldn't find a badge matching the number you entered.",
            "iconFallbackText": "Warning"
          })
        }}

        <form action="/candidate/check-eligibility/existing-badge/badge-not-found-backend">
          {{ govukRadios({
            "idPrefix": "badge-not-found-how-to-proceed",
            "name": "badge-not-found-how-to-proceed",
            "fieldset": {
              "legendHtml": '<h2 class="govuk-heading-m">How would you like to proceed?</h2>'
            },
            "items": [
              {
                "value": "reenter",
                "text": "Try again"
              },
              {
                "value": "new",
                "text": "Start a new application"
              },
              {
                "value": "renewal",
                "text": "Renew your badge"
              }
            ]
          }) }}
            
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-grid__item govuk-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
