{% extends "layout.html" %}

{% set pageHeading = 'Do ' + you + ' already have a Blue Badge?' %}

{% block page_title %}
  {% if data["show"] === "errors" %} Error: {% endif %} {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        
        <form action="/candidate/check-eligibility/existing-badge/index-backend">

          {% set formIDs = {
            existingBadge: { id: "existing-blue-badge-number" }
          }%}

          {% if  data['show'] == "errors" %}

            {% set errorArray = {
              existingBadge: { text: "We couldn't find this badge number"}
            }%}

            {{ govukErrorSummary({
              "titleText": "Fix the following errors:",
              "errorList": [
                {
                  "text": errorArray.existingBadge.text,
                  "href": '#' + formIDs.existingBadge.id
                }
              ]
            }) }}

          {% endif %}

          <div class="expanding-panel-container">
            {{ govukRadios({
              "idPrefix": "renewal-or-new-application",
              "name": "renewal-or-new-application",
              "attributes": {
                "data-expanding-radios": "true"
              },
              "fieldset": {
                "legendHtml": '<h1 class="govuk-heading-l">' + pageHeading  + '</h1>'
              },
              "items": [
                {
                  "value": "renewal",
                  "text": "Yes",
                  "checked": data['existing'] === "yes",
                  "id": "renewal-or-new-application-renewal"
                },
                {
                  "value": "new",
                  "text": "No",
                  "id": "renewal-or-new-application-new"
                }
              ]
            }) }}
            
            <div class='expanding-panel {% if data["show"] === "errors" %} has-error {% endif %}' data-expanded-by="renewal-or-new-application-renewal">
              <div class="govuk-c-details__text">
                {{ govukInput({
                  "label": {
                    "text": "Existing badge number",
                    "hintText": "For example, 0957X1114"
                  },
                  classes: "govuk-!-width-two-thirds",
                  errorMessage: errorArray.existingBadge,
                  id: formIDs.existingBadge.id,
                  name: formIDs.existingBadge.id
                }) }}
              </div>
            </div>
          </div>
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
