{% extends "layout.html" %}

{% set questionWithPronoun = 'Do ' + you + ' already have a Blue Badge?' %}

{% block page_title %}
  {{questionWithPronoun}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


<div class="govuk-o-width-container">
  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <form action="existing-badge">
          {{ govukRadios({
            "idPrefix": "applicant",
            "name": "applicant",
            "fieldset": {
              "legendHtml": '<h1 class="govuk-heading-xl">' + questionWithPronoun  + '</h1>'
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes"
              },
              {
                "value": "no",
                "text": "No"
              }
            ]
          }) }}
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
