{% extends "layout.html" %}

{% set pageHeading = 'Do ' + you + ' already have a Blue Badge?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <form action="/candidate/check-eligibility/existing-badge/index-backend">
          <div class="expanding-panel-container">
            {{ govukRadios({
              "idPrefix": "renewal-or-new-application",
              "name": "renewal-or-new-application",
              "attributes": {
                "data-expanding-radios": "true"
              },
              "fieldset": {
                "legendHtml": '<h1 class="govuk-heading-xl">' + pageHeading  + '</h1>'
              },
              "items": [
                {
                  "value": "renewal",
                  "text": "Yes",
                  "id": "renewal-or-new-application-renewal"
                },
                {
                  "value": "new",
                  "text": "No",
                  "id": "renewal-or-new-application-new"
                }
              ]
            }) }}
            
            <div class="expanding-panel" data-expanded-by="renewal-or-new-application-renewal">
              <div class="govuk-c-details__text">
                {{ govukInput({
                  "label": {
                    "text": "Existing badge number",
                    "hintText": "For example, 0957X1114"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "existing-blue-badge-number",
                  name: "existing-blue-badge-number"
                }) }}
              </div>
            </div>
          </div>
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
