{% extends "layout.html" %}

{% set pageHeading = 'Reapply for a Blue Badge' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>

        <p class="govuk-body-l">We've found {{ your }} badge.</p>

        <form action="/candidate/check-eligibility/existing-badge/review-backend">
          {{ govukRadios({
            "idPrefix": "renewal-council-has-changed",
            "name": "renewal-council-has-changed",
            "fieldset": {
              "legend": {
                "text": 'Is ' + your + ' local council still Manchester City Council?',
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes"
              },
              {
                "value": "no",
                "text": "No"
              }
            ]
          }) }}
            
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
