{% extends "layout.html" %}

{% block pageTitle %}
  Page not found
{% endblock %}

{% block content %}


  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}        <h1 class="govuk-heading-xl">
          Page not found
        </h1>
        
        <p class="govuk-body">If you typed the web address, check it is correct.</p>
        <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
        <p class="govuk-body">If you believe there's been a mistake, <a href="">contact us</a>.</p>
        
        {{ govukButton({
          text: "Return to start",
          href: "/apply-for-a-blue-badge/"
        }) }}
  

{% endblock %}
