{% extends "layout.html" %}

{% block content %}

<div class="guidance-layout">
    <section class="guidance-container">
	  	<div class="guidance-titles-wrapper">
	  		<div class="guidance-title-wrapper">
				<h1 class="guidance-title">{{pageHeading}}</h1>
				<span class="guidance-step-count">Step {{guidancePageCount}}</span>
			</div>
	  		<div class="guidance-page-title-wrapper">
	  			<h2 class="govuk-heading-l">{{guidanceTitle}}</h2>
	  		</div>
			
	  	</div>
      {% block guidance_content %}{% endblock %}
    </section>
  

{% endblock %}
