{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Welcome to the Blue Badge Prototype
        </h1>
        

  			<h2 class="govuk-heading-m">Choose your route</h2>

  			<ul class="govuk-list govuk-list--bullet">
  				<li><a href="/candidate/">Apply for a Blue Badge</a></li>
          <li><a href="/admin">Manage Blue Badges</a></li>
  			</ul>
      </div>
    </div>
  </main>
</div>

{% endblock %}
