{% extends "layout.html" %}

{% set pageHeading = question1 %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="{{formAction}}">
          <div class="expanding-panel-container">
            {{ govukRadios({
              "idPrefix": "awarded-benefit-indefinitely-before",
              "name": "awarded-benefit-indefinitely-before",
              "attributes": {
                "data-expanding-radios": "true"
              },
              "fieldset": {
                "legend": {
                  "text": pageHeading,
                  "isPageHeading": true,
                  "classes": 'govuk-fieldset__legend--l'
                }
              },
              "items": [
                {
                  "value": "yes",
                  "text": "Yes"
                },
                {
                  "value": "no",
                  "text": "No",
                  "id": "awarded-benefit-indefinitely-before-no"
                }
              ]
            }) }}
            
            <div class="expanding-panel" data-expanded-by="awarded-benefit-indefinitely-before-no">
              <div class="govuk-details__text">
                {{ govukDateInput({
                  "fieldset": {
                    "legend": {
                      "text": 'When is ' + your +' award of this benefit due to end?',
                      "isPageHeading": false,
                      "classes": 'govuk-fieldset__legend--m'
                    }
                  },
                  "hint": {
                    "text": 'For example, 31 3 2020'
                  },
                  id: 'awarded-benefit-before-start',
                  name: 'awarded-benefit-before-start',
                  items:[
                    {
                      name: 'day'
                    },
                    {
                      name: 'month'
                    },
                    {
                      name: 'year'
                    }
                  ]
                  })
                }}
              </div>
            </div>
          </div>
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}
