{% extends "layout.html" %}

{% set pageHeading = 'Add mobility aid' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
        <!-- <p class="govuk-body"></p> -->
        <form action="{{formAction}}">
          {{ govukInput({
            "label": {
              "text": "Name of the mobility aid"
            },
            "hint": {
              "html": "For example, a motorised scooter, walking frame or crutches"
            },
            "name": "mobility-aid-name"
          }) }}

          {{ govukInput({
            "label": {
              "text": "How often do you use this mobility aid?"
            },
            "name": "mobility-aid-usage"
          }) }}


          {{ govukRadios({
            "idPrefix": "mobility-aid-source",
            "name": "mobility-aid-source",
            "fieldset": {
              "legend": {
                "text": 'How was this mobility aid provided?',
                "classes": 'govuk-fieldset__legend--s'
              }
            },
            "items": [
              {
                "value": "Prescribed",
                "text": "Prescribed by a healthcare professional",
                  "checked": data['mobility-aid-source'] === 'Prescribed'
              },
              {
                "value": "Bought",
                "text": "Bought privately",
                  "checked": data['mobility-aid-source'] === 'Bought'
              },
              {
                "value": "Social Services",
                "text": "Provided by Social Services",
                  "checked": data['mobility-aid-source'] === 'Social Services'
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Continue"
          }) }}

          <div>
            {{ govukButton({
              "text": "Save your progress",
              "href": "/apply-for-a-blue-badge/progress-saved",
              "classes": "govuk-button--secondary"
            }) }}
          </div>
        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
