{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'Additonal information' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{% include "includes/back-and-save.html" %}
<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<form action="use-a-mobility-aid">
  {{ govukTextarea({
    "name": "more-detail",
    "id": "more-detail",
    "label": {
      "text": "Provide any more information you think will help describe " + your + " walking ability"
    }
  }) }}
  
  {{ govukButton({
    "text": "Continue"
  }) }}

  <!-- Has save -->
</form>

      
<p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}
