{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'With which local council are ' + you + ' registered as severely sight impaired (blind)?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{% include "includes/back-and-save.html" %}
<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<p class="govuk-body">We'll contact your local council to confirm your details on their register.</p>

<form action="{{ formAction }}">
  <div class="govuk-form-group">
    <label for="councilPicker" class="govuk-label">Start typing, or select your council</label>
    <select name="blind-council-name" class="enhanced-select" id="councilPicker">
      {% include "includes/councils-options.html" %}
    </select>
  </div>
  
  {{ govukButton({
    "text": "Continue"
  }) }}

  <!-- Has save -->

</form>

      
<p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}

{% block page_scripts %}
  <script>
    $(document).ready(function () {
      accessibleAutocomplete.enhanceSelectElement({
        defaultValue: '',
        showAllValues: true,
        selectElement: document.querySelector('#councilPicker')
      });
    });
  </script>
{% endblock %}
