{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'With which local council are ' + you + ' registered as severely sight impaired (blind)?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<p class="govuk-body">We'll contact your local council to confirm your details on their register.</p>

<form action="{{ formAction }}">
  <div class="govuk-form-group">
    <label for="councilPicker" class="govuk-label">Start typing, or select your council</label>
    <select name="blind-council-name" class="enhanced-select" id="councilPicker">
      {% include "includes/councils-options.html" %}
    </select>
  </div>
  
  {{ govukButton({
    "text": "Continue"
  }) }}

  <!-- Has save -->

</form>

      



{% endblock %}

{% block pageScripts %}
  <script>
    $(document).ready(function () {
      govukGovernmentOrganisationsAutocomplete({
        defaultValue: '',
        selectElement: document.getElementById('councilPicker'),
      })
    });
  </script>
{% endblock %}
