{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'Do ' + you + ' give us permission to contact your Local Authority?' %}


{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body save-progress-container hidden-mobile"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
    </div>
  </div>
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="{{ formAction }}">
          {{ govukRadios({
            "idPrefix": "blind-consent",
            "name": "blind-consent",
            "attributes": {
              "data-catchoption-label": true
            },
            "fieldset": {
              "legend": {
                "text": pageHeading,
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--l'
              }
            },
            "hint": {
              "text": "This will enable us to contact " + your + "  Local Authority to check the register for " + your + " details."
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes",
                "checked": data['blind-consent'] === 'yes'
              },
              {
                "value": "no",
                "text": "No",
                "checked": data['blind-consent'] === 'no'
              }

            ]
          }) }}

          <div id="hiddenCaughtInputs"></div>
          
          {{ govukButton({
            "text": "Continue"
          }) }}

          <!-- Has save -->
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
</main>
</div>

{% endblock %}
