{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'Do ' + you + ' give us permission to contact ' + your + ' local council?' %}


{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{% include "includes/back-and-save.html" %}
<form action="{{ formAction }}">
  {{ govukRadios({
    "idPrefix": "blind-consent",
    "name": "blind-consent",
    "attributes": {
      "data-catchoption-label": true
    },
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "text": "This allows us to confirm " + your + " details on " + your + " local council's register"
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes",
        "checked": data['blind-consent'] === 'yes'
      },
      {
        "value": "no",
        "text": "No",
        "checked": data['blind-consent'] === 'no'
      }

    ]
  }) }}

  <div id="hiddenCaughtInputs"></div>
  
  {{ govukButton({
    "text": "Continue"
  }) }}

  <!-- Has save -->
</form>

      
<p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}
