{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% if (data['disability'] === 'problems-walking') %}

{% set pageHeading = 'Describe any health conditions that affect ' + your + ' mobility' %}

{% else %}

{% set pageHeading = 'Describe ' + your + ' health conditions' %}

{% endif %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


  {% include "includes/back-and-save.html" %}
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  
        {% if (data['disability'] === 'child-bulky-equipment') %}
          {% set describeLabel = "Give details of the child's health conditions that mean they always need to be accompanied by medical equipment." %}
        {% elif (data['disability'] === 'child-close-to-vehicle') %}
          {% set describeLabel = 'Give details about the conditions that mean they need to have quick access to a vehicle.' %}
        {% else %}
          {% set describeLabel = 'Try to use the correct medical terms, if you know them.' %}
        {% endif %}

        <form action="{{ formAction }}">
          {{ govukTextarea({
            "name": "describe-condition",
            "id": "describe-condition",
            "label": {
              "text": describeLabel
            }
          }) }}
          
          {{ govukButton({
            "text": "Continue"
          }) }}

          <!-- Has save -->
        </form>

      </div>

    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}
