{% extends "layout.html" %}

{% if (data['disability'] === 'problems-walking') %}

{% set pageHeading = 'Describe any health conditions that affect ' + your + ' mobility' %}

{% elif (data['disability'] === 'child-bulky-equipment') %}

{% set pageHeading = 'Describe ' + your + ' health conditions' %}

{% endif %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  
        <form action="{{ formAction }}">
          {{ govukTextarea({
            "name": "describe-condition",
            "id": "describe-condition",
            "label": {
              "text": "Give details about the health conditions that mean " + you + " need to be accompanied by medical equipment."
            }
          }) }}
          
          {{ govukButton({
            "text": "Continue"
          }) }}
        </form>

      </div>

    </div>
  </main>
</div>

{% endblock %}
