{% extends "layout.html" %}

{% set pageHeading = 'Do ' + you + ' find it difficult to operate parking meters?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<form action="{{ formAction }}">

  {{ govukRadios({
    "idPrefix": "difficulty-parking-meters",
    "name": "difficulty-parking-meters",
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "Yes",
        "text": "Yes",
        "checked": data['difficulty-parking-meters'] === 'Yes'
      },
      {
        "value": "No",
        "text": "No",
        "checked": data['difficulty-parking-meters'] === 'No'
      }

    ]
  }) }}  {{ govukButton({
    "text": "Continue"
  }) }}

</form>

{% endblock %}
