{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'Do ' + you + ' drive an adapted vehicle?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{% include "includes/back-and-save.html" %}
<form action="{{ formAction }}">
  {% set adaptedHtml %}
    {{ govukTextarea({
      "name": "describe-adapted",
      "id": "describe-adapted",
      "label": {
        "text": "Describe how " + your + " vehicle has been adapted"
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    "idPrefix": "drive-adapted-vehicle",
    "name": "drive-adapted-vehicle",
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes",
        "checked": data['drive-adapted-vehicle'] === 'yes',
        "conditional": {
          "html": adaptedHtml
        }
      },
      {
        "value": "no",
        "text": "No",
        "checked": data['drive-adapted-vehicle'] === 'no'
      }

    ]
  }) }}  {{ govukButton({
    "text": "Continue"
  }) }}


  <!-- Has save -->
</form>

      
<p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}
