{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'How were ' + your + ' mobility aids provided?' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {% include "includes/back-and-save.html" %}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="{{ formAction }}">
          {{ govukCheckboxes({
            "idPrefix": "mobility-aids-provided",
            "name": "mobility-aids-provided",
            "attributes": {
                "data-catchoption-label": true
              },
            "fieldset": {
              "legend": {
                "text": pageHeading,
                "isPageHeading": true,
                "classes": 'govuk-fieldset__legend--l'
              }
            },
            "items": [
              {
                "value": "privately",
                "text": "Bought privately",
                "checked": data['mobility-aids-provided'] === 'privately'
              },
              {
                "value": "healthcare",
                "text": "Prescribed by a healthcare professional",
                "checked": data['mobility-aids-provided'] === 'healthcare'
              },
              {
                "value": "social-services",
                "text": "Provided by Social Services",
                "checked": data['mobility-aids-provided'] === 'social-services'
              }
            ]
          }) }}

          <div id="hiddenCaughtInputs"></div>
          
          {{ govukButton({
            "text": "Continue"
          }) }}
          
          <!-- Has save -->

        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
</main>
</div>

{% endblock %}
