{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'How were ' + your + ' mobility aids provided?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<form action="{{ formAction }}">
  {{ govukCheckboxes({
    "idPrefix": "mobility-aids-provided",
    "name": "mobility-aids-provided",
    "attributes": {
        "data-catchoption-label": true
      },
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "privately",
        "text": "Bought privately",
        "checked": data['mobility-aids-provided'] === 'privately'
      },
      {
        "value": "healthcare",
        "text": "Prescribed by a healthcare professional",
        "checked": data['mobility-aids-provided'] === 'healthcare'
      },
      {
        "value": "social-services",
        "text": "Provided by Social Services",
        "checked": data['mobility-aids-provided'] === 'social-services'
      }
    ]
  }) }}

  <div id="hiddenCaughtInputs"></div>
  
  {{ govukButton({
    "text": "Continue"
  }) }}
  
  <!-- Has save -->

</form>

      



{% endblock %}
