{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% if data['variant'] == 'B' %}
  {% set comparedTo = 'someone who doesn\'t have walking difficulties' %}
{% else %}
  {% set comparedTo = 'other people' %}
{% endif %}

{% if data['mobility-aids-array'].length %}
  {% set pageHeading = 'How quickly can ' + you + ' walk using mobility aids, compared to ' + comparedTo + ' ?' %}
{% else %}
  {% set pageHeading = 'How quickly can ' + you + ' walk, compared to ' + comparedTo + '?' %}
{% endif %}


{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}



<form action="{{ formAction }}">
  {{ govukRadios({
    "idPrefix": "walking-speed",
    "name": "walking-speed",
    "attributes": {
      "data-catchoption-label": true
    },
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "very-slow",
        "text": "Much slower",
        "checked": data['walking-speed'] === 'very-slow'
      },
      {
        "value": "slow",
        "text": "Slower",
        "checked": data['walking-speed'] === 'slow'
      },
      {
        "value": "average",
        "text": "About the same",
        "checked": data['walking-speed'] === 'average'
      },
      {
        "value": "fast",
        "text": "Faster",
        "checked": data['walking-speed'] === 'fast'
      }

    ]
  }) }}

  <div id="hiddenCaughtInputs"></div>
  
  {{ govukButton({
    "text": "Continue"
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
