{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'How often do ' + you + ' drive?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}



<h1 class="govuk-heading-l">{{pageHeading}}</h1>

<form action="{{ formAction }}">

    {{ govukInput({
      label: {
        text: "For example, every day, a few times a week"
      },
      id: "how-often-drive",
      name: "how-often-drive"
    }) }}
    
  {{ govukButton({
    "text": "Continue"
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
