{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = "Do " + you + " know the details of " + your +  " healthcare professionals?" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}




{% set hcpHtml %}
  {% if tableRows.length > 0 %}

      <p class="govuk-body">List any healthcare professionals who have treated {{ your }} condition.<br />For example, {{ your }} GP, surgeon, specialist.</p>

      {{ govukTable({
        "head": [
          {
            "text": "Name"
          },
          {
            "text": "Hospital or health centre"
          },
          {
            "text": ""
          }
        ],
        "rows": tableRows
      }) }}

    <p class="govuk-body"><a href="add-healthcare-professional">Add another healthcare professional</a></p>

  {% else %}
  
  <p class="govuk-body">List any healthcare professionals who have treated {{ your }} condition.<br />For example, {{ your }} GP, surgeon, specialist.</p>

  {{ govukTable({
    "head": [
      {
        "text": "Name"
      },
      {
        "text": "Hospital or health centre"
      },
      {
        "text": ""
      }
    ],
    "rows": ""
  }) }}

  <p class="govuk-body"><a href="add-healthcare-professional">Add first healthcare professional</a></p>

  {% endif %}
{% endset -%}

  {{ govukRadios({
    "idPrefix": "hcp-details",
    "name": "hcp-details",
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes",
        "checked": tableRows.length > 0,
        "conditional": {
          "html": hcpHtml
        }
      },
      {
        "value": "no",
        "text": "No"
      }
    ]
  }) 
}}

{{ govukButton({
  "text": "Continue",
  "href": formAction
}) }}

<!-- Has save -->



{% endblock %}
