{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = 'List mobility aids' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body save-progress-container hidden-mobile"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
    </div>
  </div>
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>

        {% if tableRows.length > 0 %}
  
            {{ govukTable({
              "head": [
                {
                  "text": "Name"
                },
                {
                  "text": "Usage"
                },
                {
                  "text": ""
                }
              ],
              "rows": tableRows
            }) }}

          <p class="govuk-body"><a href="add-mobility-aid">Add another mobility aid</a></p>

          {{ govukButton({
            "text": "Continue",
            "href": formAction
          }) }}

        {% else %}
        
        <p class="govuk-body">List any mobility aids {{ you }} use such as wheelchairs, prosthetic legs or crutches.</p>

        {{ govukButton({
          "text": "Add mobility aid",
          "href": "add-mobility-aid"
        }) }}

        <p class="govuk-body"><a href="{{ formAction }}">{{ you | capitalize }} don't use any mobility aids</p>

        {% endif %}


        <!-- Has save -->
      </div>

    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
</main>
</div>

{% endblock %}
