{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = "Have " + you + " had any treatments?" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



{% set treatmentHtml %}
  {% if tableRows.length > 0 %}

    {{ govukTable({
      "head": [
        {
          "text": "Description"
        },
        {
          "text": "When"
        },
        {
          "text": ""
        }
      ],
      "rows": tableRows
    }) }}

    <p class="govuk-body"><a href="add-treatment">Add another treatment</a></p>

  {% else %}
  

  {{ govukTable({
    "head": [
      {
        "text": "Description"
      },
      {
        "text": "When"
      },
      {
        "text": ""
      }
    ],
    "rows": ""
  }) }}

  <p class="govuk-body"><a href="add-treatment">Add first treatment</a></p>

  {% endif %}
{% endset -%}

  {{ govukRadios({
    "idPrefix": "had-treatment",
    "name": "had-treatment",
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "hint": {
      "text": "List any surgeries, treatments or clinics " + you + "’ve had for your condition"
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes",
        "checked": tableRows.length > 0,
        "conditional": {
          "html": treatmentHtml
        }
      },
      {
        "value": "no",
        "text": "No"
      }
    ]
  }) 
}}

{{ govukButton({
  "text": "Continue",
  "href": formAction
}) }}

<!-- Has save -->



{% endblock %}
