{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = "Do " + you + " use a mobility aid?" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{% include "includes/back-and-save.html" %}
  {% set mobilityHtml %}
    {% if tableRows.length > 0 %}
    
        <p class="govuk-body">List any mobility aids {{ you }} use such as wheelchairs, prosthetic legs or crutches.</p>

        {{ govukTable({
          "head": [
            {
              "text": "Name"
            },
            {
              "text": "Usage"
            },
            {
              "text": ""
            }
          ],
          "rows": tableRows
        }) }}

      <p class="govuk-body"><a href="add-mobility-aid">Add another mobility aid</a></p>

    {% else %}
    
    <p class="govuk-body">List any mobility aids {{ you }} use such as wheelchairs, prosthetic legs or crutches.</p>

    {{ govukTable({
      "head": [
        {
          "text": "Name"
        },
        {
          "text": "Usage"
        },
        {
          "text": ""
        }
      ],
      "rows": ""
    }) }}

    <p class="govuk-body"><a href="add-mobility-aid">Add first mobility aid</a></p>

    {% endif %}
  {% endset -%}

  {{ govukRadios({
    "idPrefix": "use-mobility-aid",
    "name": "use-mobility-aid",
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes",
        "checked": tableRows.length > 0,
        "conditional": {
          "html": mobilityHtml
        }
      },
      {
        "value": "no",
        "text": "No"
      }
    ]
  }) 
}}

{{ govukButton({
  "text": "Continue",
  "href": formAction
}) }}


<!-- Has save --> 

<p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}
