{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}

{% set pageHeading = "Have " + you + " had any treatments?" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{% include "includes/back-and-save.html" %}
{% set treatmentHtml %}
  {% if tableRows.length > 0 %}

    <p class="govuk-body">List any surgeries, treatments or clinics {{ you }}’ve had for your condition.</p>

    {{ govukTable({
      "head": [
        {
          "text": "Description"
        },
        {
          "text": "When"
        },
        {
          "text": ""
        }
      ],
      "rows": tableRows
    }) }}

    <p class="govuk-body"><a href="add-treatment">Add another treatment</a></p>

  {% else %}
  
  <p class="govuk-body">List any surgeries, treatments or clinics {{ you }}’ve had for your condition.</p>

  {{ govukTable({
    "head": [
      {
        "text": "Description"
      },
      {
        "text": "When"
      },
      {
        "text": ""
      }
    ],
    "rows": ""
  }) }}

  <p class="govuk-body"><a href="add-treatment">Add first treatment</a></p>

  {% endif %}
{% endset -%}

  {{ govukRadios({
    "idPrefix": "had-treatment",
    "name": "had-treatment",
    "fieldset": {
      "legend": {
        "text": pageHeading,
        "isPageHeading": true,
        "classes": 'govuk-fieldset__legend--l'
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes",
        "checked": tableRows.length > 0,
        "conditional": {
          "html": treatmentHtml
        }
      },
      {
        "value": "no",
        "text": "No"
      }
    ]
  }) 
}}

{{ govukButton({
  "text": "Continue",
  "href": formAction
}) }}

<!-- Has save -->
<p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}
