{% extends "layout.html" %}

{% set pageHeading = 'List healthcare professionals' %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{pageHeading}}</h1>

        {% if tableRows.length > 0 %}
  
            {{ govukTable({
              "head": [
                {
                  "text": "Name"
                },
                {
                  "text": "Hospital or health centre"
                },
                {
                  "text": ""
                }
              ],
              "rows": tableRows
            }) }}

          <p class="govuk-body"><a href="add-healthcare-professional">Add another healthcare professional</a></p>

          {{ govukButton({
            "text": "Continue",
            "href": formAction
          }) }}

        {% else %}
        
        <p class="govuk-body">List any healthcare professionals who have treated {{ your }} condition.<br />For example, {{ your }} GP, surgeon, specialist.</p>

        {{ govukButton({
          "text": "Add healthcare professional",
          "href": 'add-healthcare-professional'
        }) }}

        <p class="govuk-body"><a href="{{ formAction }}">{{ you | capitalize }} don’t know their details</p>

        {% endif %}

      </div>

    </div>
  </main>
</div>

{% endblock %}
