{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = "Upload evidence that " + your + " vehicle has been adapted" %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
          "text": "Back",
          "href": "javascript: window.history.go(-1)"
        }) 
      }}
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body save-progress-container hidden-mobile"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
    </div>
  </div>
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="{{ formAction }}?proofOfAdapted=upload">
          <input type="hidden" id="change" name="change" value="{{change}}">
          <h1 class="govuk-heading-l">{{pageHeading}}</h1>
          
          <p class="govuk-body">This can be a copy of an insurance document or the back of your driving licence if it shows the following codes:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>40 - Modified steering</li>
            <li>44 - Adapted accelerator</li>
          </ul>

          {% set yesHTML %}
            <p class="govuk-body">To help you upload {{your}} document, we've created a guide on taking a photo and transferring it to the device to upload.</p>
            <p class="govuk-body">Once you've completed the guide, you'll be taken back to this page.</p>
            <p class="govuk-body"><a href="/apply-for-a-blue-badge/guidance?upload-origin-page=prove-eligibility/upload-adapted-evidence">How to upload your document</a></p>
          {% endset -%}


          {{ govukRadios({
            "idPrefix": "help-uploading",
            "name": "help-uploading",
            "fieldset": {
              "legend": {
                "text": "Do you need help uploading " + your + " document?",
                "isPageHeading": false,
                "classes": 'govuk-fieldset__legend--m'
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes",
                "conditional": {
                  "html": yesHTML
                }
              },
              {
                "value": "no",
                "text": "No"
              }
            ]
          }) }}

          {{ uploadComponentWidget.uploadComponent(
            'proofOfAdapted', 
            formAction + '?proofOfAdapted=notProvided&adapted-proof-file-upload=',
            your, 
            'about how to prove ' + you + ' have an adapted vehicle', 
            change, 
            'no',
            'adapted-proof-file-upload'
          )}}

          <!-- Has save -->
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
    <p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>
</main>
</div>

{% endblock %}

{% block page_scripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}