{% extends "layout.html" %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = "Add proof of " + your + " benefit" %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="{{ formAction }}?proofOfEligibility=upload">
          <input type="hidden" id="change" name="change" value="{{change}}">
          <h1 class="govuk-heading-l">{{pageHeading}}</h1>
          <p class="govuk-body">You need to upload a copy of {{ your }} PIP decision letter or {{ your }} annual uprating letter, issued within the last twelve months.</p>

          {{ uploadComponentWidget.uploadComponent(
            'proofOfEligibility', 
            formAction + '?proofOfEligibility=notProvided&benefit-proof-file-upload=',
            your, 
            'about how to prove ' + your + ' eligibility', 
            change, 
            'yes'
          )}}
          
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}

{% block page_scripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}