{% extends "layout.html" %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = "Upload evidence that " + your + " vehicle has been adapted" %}

{% block page_title %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) }}
  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="{{ formAction }}?proofOfAdapted=upload">
          <input type="hidden" id="change" name="change" value="{{change}}">
          <h1 class="govuk-heading-l">{{pageHeading}}</h1>
          
          <p class="govuk-body">This can be a copy of an insurance document or the back of your driving licence if it shows the following codes:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>40 - Modified steering</li>
            <li>44 - Adapted accelerator</li>
          </ul>

          {{ uploadComponentWidget.uploadComponent(
            'proofOfAdapted', 
            formAction + '?proofOfAdapted=notProvided&adapted-proof-file-upload=',
            your, 
            'about how to prove ' + you + ' have an adapted vehicle', 
            change, 
            'no',
            'adapted-proof-file-upload'
          )}}
        </form>

      </div>

      <div class="govuk-grid-column-one-third">

        </div>
    </div>
  </main>
</div>

{% endblock %}

{% block page_scripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}