{% extends "layout.html" %}
{% set hasSaveClass = 'show-save-button' %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% set pageHeading = "Upload proof of " + your + " sight impairment" %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}


{% include "includes/back-and-save.html" %}

<form action="{{ formAction }}?proofOfCVI=upload">
  <input type="hidden" id="change" name="change" value="{{change}}">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  
  <p class="govuk-body">Upload documents that prove {{you}} are registered as severely sight impaired (blind).</p>

  <p class="govuk-body">We'll accept any of these documents:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Certificate of Vision Impairment (CVI) form</li>
    <li>VINCYP document (Under 16s in Scotland)</li>
    <li>BP1 form (Scotland before 2018)</li>
    <li>CVI 2003 (Before 2005)</li>
    <li>BD8 form (Before 1990)</li>
  </ul>

  {{ uploadComponentWidget.uploadComponent(
    'prove-eligibility/upload-blind-cvi',
    'proofOfCVI', 
    formAction + '?proofOfCVI=notProvided&impairment-proof-file-upload=',
    your, 
    'provide proof that ' + you + ' have a severe sight impairment', 
    change, 
    'no',
    'impairment-proof-file-upload'
  )}}

  <!-- Has save -->
</form>

      
<p class="govuk-body save-progress-container hidden-tablet"><a href="/apply-for-a-blue-badge/progress-saved" class="save-progress-link">Save {{your}} progress</a></p>


{% endblock %}

{% block pageScripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}