{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}
{% import "apply-for-a-blue-badge/macros/upload-component-new.html" as uploadComponentWidget %}

{% if (data['benefit'] === 'dla') %}

{% set pageHeading = 'Send us ' + your + ' most recent letter from DWP about ' + your + ' DLA award' %}

{% elif (data['benefit'] === 'pip') %}

{% set pageHeading = 'Send us ' + your + ' most recent letter from DWP about ' + your + ' PIP award' %}

{% elif (data['benefit'] === 'armed-forces') %}

{% set pageHeading = 'Upload the latest letter from Veterans UK about ' + your + ' AFCS award' %}

{% elif (data['benefit'] === 'war-pensioners') %}

{% set pageHeading = 'Upload the latest letter from Veterans UK about ' + your + ' WPMS award' %}

{% endif %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}




<form action="{{ formAction }}">
  <input type="hidden" id="change" name="benefit-completed" value="true">
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>

  {% if data['benefit'] === 'dla' %}

    <p class="govuk-body">The letter must include {{your}}:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>mobility rating (usually found on the first page)</li>
      <li>certificate of entitlement to DLA (usually found on the last page)</li>
    </ul>

    {% set sampleBenefitLetter = 'dla_letter.png' %}

  {% elif data['benefit'] === 'pip' %}

    <p class="govuk-body">The letter must include {{your}}:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>mobility score</li>
      <li>certificate of entitlement to Personal Independence Payment</li>
    </ul>

    {% set sampleBenefitLetter = 'pip-letter.jpg' %}

  {% elif data['benefit'] === 'armed-forces' %}

    <p class="govuk-body">This letter should confirm {{you}}:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>were injured in service on or after 6 April 2005</li>
      <li>have been awarded a benefit by the Armed Forces Compensation Scheme, with a lump sum payment within Tariffs 1 to 8</li>
      <li>are certified as having a permanent, substantial disability which causes inability to walk or very considerable difficulty in walking</li>
    </ul>

    {% set sampleBenefitLetter = 'spva-letter.png' %}

  {% elif data['benefit'] === 'war-pensioners' %}

    <p class="govuk-body">This letter should confirm {{you}}:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>were injured in service before 6 April 2005</li>
      <li>are in receipt of a War Pensioner's Mobility Supplement</li>
    </ul>

    {% set sampleBenefitLetter = 'wpms-letter.png' %}

  {% endif %}

  {{ uploadComponentWidget.uploadComponent(
    'prove-eligibility/upload-benefit',
    'proofOfEligibility', 
    formAction + '?proofOfEligibility=notProvided&benefit-proof-file-upload=',
    your, 
    'provide proof of ' + your + ' benefit', 
    change, 
    'yes',
    'benefit-proof-file-upload',
    'no',
    sampleBenefitLetter,
    data['benefit-done'],
    'benefit-done'
  )}}

  <!-- Has save -->
  
</form>

      



{% endblock %}

{% block pageScripts %}
  <script src="{{ asset_path }}javascripts/upload-file.js"></script>
{% endblock %}