{% extends "layout.html" %}
{% set hasSaveClass = 'yes' %}

{% set pageHeading = 'Which of the following mobility aids do ' + you + ' use?' %}

{% block pageTitle %}
  {{pageHeading}} - {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block inner_content %}



<form action="{{ formAction }}">

    {{ govukCheckboxes({
      "idPrefix": "mobility-aids-used",
      "name": "mobility-aids-used",
      "attributes": {
        "data-catchoption-label": true
      },
      "fieldset": {
        "legend": {
          "text": pageHeading,
          "isPageHeading": true,
          "classes": 'govuk-fieldset__legend--l'
        }
      },
      "items": [
        {
          "value": "wheel-chair",
          "text": "Wheelchair",
          "checked": data['mobility-aids-used'] === 'wheel-chair'
        },
        {
          "value": "mobility-scooter",
          "text": "Mobility scooter",
          "checked": data['mobility-aids-used'] === 'mobility-scooter'
        },
        {
          "value": "prosthetic",
          "text": "Prosthetic lower limbs",
          "checked": data['mobility-aids-used'] === 'prosthetic'
        },
        {
          "value": "walking-frame",
          "text": "Walking frame (zimmer frame)",
          "checked": data['mobility-aids-used'] === 'walking-frame'
        },
        {
          "value": "elbow-crutches",
          "text": "Elbow crutches",
          "checked": data['mobility-aids-used'] === 'elbow-crutches'
        },
        {
          "value": "walking-sticks",
          "text": "Walking sticks",
          "checked": data['mobility-aids-used'] === 'walking-sticks'
        },
        {
          "value": "dont-use",
          "text": "I don't use any of these mobility aids",
          "checked": data['mobility-aids-used'] === 'dont-use'
        }
        
      ]
    }) }}
    
    <div id="hiddenCaughtInputs"></div>

  {{ govukButton({
    "text": "Continue"
  }) }}

  <!-- Has save -->
</form>

      



{% endblock %}
